<!DOCTYPE html>
<html lang="zh-tw">
<head>
<%= render :partial => "partial/head-meta" %>
<%= render :partial => "partial/insert-stylesheets" %>
</head>

<body>

<!-- 如果是首頁  .layout-container要加CLASS: is-covered -->
<div class="layout-container <% if ( @page == "index" )%>is-covered<% end %>">

<!-- HEADER START -->
<%= render :partial => "partial/layout-header" %>
<!-- HEADER END -->
<div id="layout-view" class="layout-view">
<%= yield %>
</div>
<!-- FOOTER START -->

<!-- 首頁一種FOOTER，活動頁一種FOOTER，其他內頁一種FOOTER -->
<% if ( @page == "index" )%>
<%= render :partial => "partial/layout-footer-index" %>
<% elsif ( @page == "event" ) %>
<%= render :partial => "partial/layout-footer-event" %>
<% elsif ( @page == "result" ) %>
<!-- NO FOOTER -->
<% else %>
<%= render :partial => "partial/layout-footer" %>
<% end %>
<!-- FOOTER END -->
</div>
<!-- POPUP CONTENT HIDE HERE -->
<% if ( @page == "event" && @showcrop == true )%>
<!-- 活動頁才要吃這個POPUP內容 -->
<%= render :partial => "partial/layout-popcrop" %>
<% end %>
<!-- POPUP CONTENT END -->
<%= livereload_js if ENV["RACK_ENV"] != "production" %>
<%= render :partial => "partial/insert-javascripts" %>
</body>
</html>