<div class="detail-bg" style="background-image: url('https://dummyimage.com/600x600/aaa/fff&text=freeImage');"></div>
<div class="detail-describe color-purple">
  <!-- SCENE2 - Slide 4 -->
  <!-- <div class="goto-scene3">GO TO SCENE3</div> -->
  <div class="content">
    <img src="/images/img-p4.png" alt="" class="detail-img">
    <h2 class="name">ALWAYS牛奶杏仁巧克力</h2>
    <h3 class="slogan">平實，反而是挑戰，並且難以抵擋。</h3>
    <p class="text">順滑口感的基礎來自歐洲可可脂和全世界最好的瑞士奶粉，蔓延香氣則是美國加州大杏仁和日本小麥膨發脆粒的混搭效益，適合佐進主導慾望的嘴巴裡。</p>
  </div>
</div>