<section class="section-scene section-scene1">
  <!-- SCENE1 -->

  <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->

          <div class="swiper-slide color-red">
            <div class="box">
              
              <div class="front">
                <!-- (FRONT)<br>SCENE1 - Slide 1 -->
                <div class="content">
                  <div class="product-logo-box" style="background-image: url('/images/text-1-70desire.svg');"></div>
                  <span class="btn-radius">適合佐在各種倔強的心情裡<img src="/images/arrow-right-16-w.svg" alt=""></span>
                </div>

              </div>
              <div class="back goto-scene2">
                <!-- (BACK) -->
                <div class="product-img-box" style="background-image: url('/images/img-scene1-1.png');"></div>
                <div class="content">
                  <!-- <img src="/images/img-scene1-1.png" alt="" class="product-img"> -->
                  <h4 class="product-name">70%黑巧克力</h4>
                  <div class="btn-radius-o">了解商品</div>
                </div>
                <div class="product-logo-box" style="background-image: url('/images/text-1-70desire-w.svg');"></div>
              </div>
            
            </div>
          </div>

          <div class="swiper-slide color-orange">
            <div class="box">
              
              <div class="front">
                <!-- (FRONT)<br>SCENE1 - Slide 2 -->
                <div class="content">
                  <div class="product-logo-box" style="background-image: url('/images/text-2-unique.svg');"></div>
                  <span class="btn-radius">適合佐在需要被滿足的場景裡<img src="/images/arrow-right-16-w.svg" alt=""></span>
                </div>
              </div>
              <div class="back goto-scene2">
                <!-- (BACK) -->
                <div class="product-img-box" style="background-image: url('/images/img-scene1-2.png');"></div>
                <div class="content">
                  <!-- <img src="/images/img-scene1-2.png" alt="" class="product-img"> -->
                  <h4 class="product-name">黑巧榛果巧克力</h4>
                  <div class="btn-radius-o">了解商品</div>
                </div>
                <div class="product-logo-box" style="background-image: url('/images/text-2-unique-w.svg');"></div>
              </div>
            
            </div>
          </div>

          <div class="swiper-slide color-pink">
            <div class="box">
              
              <div class="front">
                <!-- (FRONT)<br>SCENE1 - Slide 3 -->
                <div class="content">
                  <div class="product-logo-box" style="background-image: url('/images/text-3-adorable.svg');"></div>
                  <span class="btn-radius">適合佐入輕慾望時代的任何時刻<img src="/images/arrow-right-16-w.svg" alt=""></span>
                </div>
              </div>
              <div class="back goto-scene2">
                <!-- (BACK) -->
                <div class="product-img-box" style="background-image: url('/images/img-scene1-3.png');"></div>
                <div class="content">
                  <!-- <img src="/images/img-scene1-3.png" alt="" class="product-img"> -->
                  <h4 class="product-name">草莓脆心巧克力</h4>
                  <div class="btn-radius-o">了解商品</div>
                </div>
                <div class="product-logo-box" style="background-image: url('/images/text-3-adorable-w.svg');"></div>
              </div>
            
            </div>
          </div>

          <div class="swiper-slide color-purple">
            <div class="box">
              
              <div class="front">
                <!-- (FRONT)<br>SCENE1 - Slide 4 -->
                <div class="content">
                  <div class="product-logo-box" style="background-image: url('/images/text-4-charming.svg');"></div>
                  <span class="btn-radius">適合佐進主導慾望的嘴巴裡<img src="/images/arrow-right-16-w.svg" alt=""></span>
                </div>
              </div>
              <div class="back goto-scene2">
                <!-- (BACK) -->
                <div class="product-img-box" style="background-image: url('/images/img-scene1-4.png');"></div>
                <div class="content">
                  <!-- <img src="/images/img-scene1-4.png" alt="" class="product-img"> -->
                  <h4 class="product-name">牛奶杏仁巧克力</h4>
                  <div class="btn-radius-o">了解商品</div>
                </div>
                <div class="product-logo-box" style="background-image: url('/images/text-4-charming-w.svg');"></div>
              </div>
            
            </div>
          </div>

      </div>
      
      <!-- If we need pagination -->
      <div class="swiper-pagination on-mobile"></div>
      
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev on-mobile"></div>
      <div class="swiper-button-next on-mobile"></div>
      
      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
  </div> 
</section>