<div class="detail-bg" style="background-image: url('https://dummyimage.com/600x600/aaa/fff&text=freeImage');"></div>
<div class="detail-describe color-orange">
  <!-- SCENE2 - Slide 2 -->
  <!-- <div class="goto-scene3">GO TO SCENE3</div> -->
  <div class="content">
    <img src="/images/img-p2.png" alt="" class="detail-img">
    <h2 class="name">ALWAYS黑巧榛果巧克力</h2>
    <h3 class="slogan">在豐富的層次裡，養成一個賞味新標準。</h3>
    <p class="text">加入土耳其優選榛子的堅果香氣，和日本小麥膨發脆粒的樸實穀香後，西非迦納可可膏的濃郁順滑於是華麗升級，適合佐在需要被滿足的場景裡。</p>
  </div>
</div>