<div class="detail-bg" style="background-image: url('https://dummyimage.com/600x600/aaa/fff&text=freeImage');"></div>
<div class="detail-describe color-pink">
  <!-- SCENE2 - Slide 3 -->
  <!-- <div class="goto-scene3">GO TO SCENE3</div> -->
  <div class="content">
    <img src="/images/img-p3.png" alt="" class="detail-img">
    <h2 class="name">ALWAYS草莓脆心巧克力</h2>
    <h3 class="slogan">獻給所有期待或者回憶17歲的，有情人。</h3>
    <p class="text">31%白巧克力來自天然第一的歐洲可可脂和瑞士奶粉，搭配的天然草莓粒和香脆小麥則是日本原產。一襲粉白甜美包覆著多元香氣和酥脆口感，適合佐入輕慾望時代的任何時刻。</p>
  </div>
</div>