<div class="detail-bg" style="background-image: url('https://dummyimage.com/600x600/aaa/fff&text=freeImage');"></div>
<div class="detail-describe color-red">
  <!-- SCENE2 - Slide 1 -->
  <!-- <div class="goto-scene3">GO TO SCENE3</div> -->
  <div class="content">
    <img src="/images/img-p1.png" alt="" class="detail-img">
    <h2 class="name">ALWAYS 70%黑巧克力</h2>
    <h3 class="slogan">從領略可可黃金比例開始，入列黑巧克力的品味顯學。</h3>
    <p class="text">以國際調溫配方，料理珍貴的西非迦納可可膏，確保70%純可可比例的純粹性！香氣濃厚，韻長甘甜，有著令人驚豔的化口性，適合佐在各種倔強的心情裡。</p>
  </div>
</div>