<section class="section-scene section-scene4">
<!-- SCENE4 -->
<!-- <div class="goto-scene1">GO TO SCENE1</div> -->

  <!-- Slider main container -->
  <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->

          <% 4.times do %>
          <!-- NEWS -->
          <a href="/views/index/news-detail.html" class="swiper-slide">
            <div class="news-img" style="background-image: url('https://dummyimage.com/600x600/aaa/fff&text=freeImage');"></div>
            <div class="news-describe">
              <div class="content">
                <h2 class="title">ALWAYS 70%黑巧克力從領略可可黃金比例開始，入列黑巧克力的品味顯學。</h2>
                <h3 class="date">2016/12/05</h3>
                <p class="text">以國際調溫配方，料理珍貴的西非迦納可可膏，確保70%純可可比例的純粹性！香氣濃厚，韻長甘甜，有著令人驚豔的化口性，適合佐在各種倔強的心情裡。</p>
              </div>
              <div class="btn-wrap">
                <div class="btn-radius-o style-sansserif">More</div>
              </div>
            </div>
            <i class="shape-box"></i>
          </a>
          <!-- END OF NEWS -->
          <% end %>
          
          <!-- 填空元件 - 若NEWS不足四則，用這個補齊至四則 -->
          <% 2.times do %>
          <a class="swiper-slide style-empty">
            <div class="news-img">
              <div class="choco">
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="inner"></div>
              </div>
            </div>
            <div class="news-describe">
              <!-- EMPTY -->
            </div>
            <i class="shape-box"></i>
          </a>
          <% end %>
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->
      
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev on-desk"><span>PREV</span></div>
      <div class="swiper-button-next on-desk"><span>NEXT</span></div>
      
  </div>  

</section>