<section class="section-scene section-scene2">
  <!-- Slider main container -->
  <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->

          <div class="swiper-slide">
            <!-- SCENE2 - Slide 1 -->
            <%= render :partial => "scene2-p1" %>
          </div>
          <div class="swiper-slide">
            <!-- SCENE2 - Slide 2 -->
            <%= render :partial => "scene2-p2" %>
          </div>
          <div class="swiper-slide">
            <!-- SCENE2 - Slide 3 -->
            <%= render :partial => "scene2-p3" %>
          </div>
          <div class="swiper-slide">
            <!-- SCENE2 - Slide 4 -->
            <%= render :partial => "scene2-p4" %>
          </div>

      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"><span>PREV</span></div>
      <div class="swiper-button-next"><span>NEXT</span></div>
      
  </div>  

</section>