<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "units/index" %>
<%#= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%#= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "units/index" %>
<script>
 $("body").addClass("scene1");
//  $("#footer").addClass("is-roll").delay(200).queue(
//   function(next){
//     openFooter();
//   next();}
// );

</script>
<% end %>
<% @page = "index" %>
<% @showtitle = true %>
<% content_for :pagename do %>
<% end %>
<% content_for :pagename_en do %>
<% end %>

<%= render :partial => "scene1" %>
<%= render :partial => "scene2" %>
<%= render :partial => "scene3" %>
<%= render :partial => "scene4" %>

<a href="/views/event/index.html" class="fix-banner">
  <div class="center-content">
    <p>即日起至11/30製作馬賽克照片FB造句留言，就有機會獲得五感享樂獎</p>
    <div>
      <span class="always">Always</span><span class="space"><!-- 一直在下雨！ -->　</span>
    </div>
  </div>
  <div class="left-top"><div class="content"></div></div>
  <div class="left-bottom"><div class="content"></div></div>
</a>