<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "units/news-detail" %>
<%#= stylesheet_link_tag "vendors/swiper" %>
<% end %>
<% content_for :specific_javascript do %>
<%#= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "units/news-detail" %>
<script>

</script>
<% end %>
<% @page = "newsDetail" %>

<a href="#" class="swiper-button-prev"><span>PREV</span></a>
<a href="#" class="swiper-button-next"><span>NEXT</span></a>

<div class="news-info">
  <div class="inner">
    
    <h1 class="news-title">
    NewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitleNewsTitle新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題新聞標題
    </h1>
    <div class="news-date">2016/12/05</div>
  </div>
</div>
<div class="news-content">
  <div class="inner">

  <% 5.times do %>
    <p>NewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContentNewsContent</p>
    <p>新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容</p>
    <img src="https://dummyimage.com/1024x768/aaa/fff&text=freeImage" alt="" />
    <p>新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容新聞內容</p>
  <% end %>

  </div>
</div>
<div class="btn-wrap">
  <a href="/views/index/index.html#4" class="btn-radius-o style-sansserif">
    <i class="arrow-left"></i>回列表頁
  </a>
</div>

<a href="/views/event/index.html" class="fix-banner">
  <div class="center-content">
    <p>即日起至11/30製作馬賽克照片FB造句留言，就有機會獲得五感享樂獎</p>
    <div>
      <span class="always">Always</span><span class="space"><!-- 一直在下雨！ -->　</span>
    </div>
  </div>
  <div class="left-top"><div class="content"></div></div>
  <div class="left-bottom"><div class="content"></div></div>
</a>