//elements in scene1
.section-scene1{
  padding-top: 0;
  .swiper-container{
    height: 100%;   
  }
  .swiper-slide{
    height: 100%;
    background-color: #503e36;
    cursor: pointer;
    overflow: hidden;

    &.color-red{
      .front{
        background-image: url('/images/bg-scene1-1.jpg');
        .btn-radius{
          background-color: rgba(173,1,42,0.6);
        }
      }
      .back{
        background-color: $color-red;
      }
    }

    &.color-orange{
      .front{
        background-image: url('/images/bg-scene1-2.jpg');
        .btn-radius{
          background-color: rgba(231,115,69,0.6);
        }
      }
      .back{
        background-color: $color-orange;
      }
    }

    &.color-pink{
      .front{
        background-image: url('/images/bg-scene1-3.jpg');
        .btn-radius{
          background-color: rgba(231,140,187,0.6);
        }
      }
      .back{
        background-color: $color-pink;
      }
    }

    &.color-purple{
      .front{
        background-image: url('/images/bg-scene1-4.jpg');
        .btn-radius{
          background-color: rgba(116,90,155,0.6);
        }
      }
      .back{
        background-color: $color-purple;
      }
    }

    &:hover{
      .front{
        z-index: 0;
        // @include rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-transform: perspective(900) rotateY(-180deg);
        transform: perspective(900) rotateY(-180deg);        
        // opacity: 0.1;
      }
      .back{
        // @include rotateY(0deg);
        z-index: 2;
        overflow: hidden;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform: perspective(900) rotateY(0);
        transform: perspective(900) rotateY(0);
      }
    }
    .front,.back{
      position: absolute;
      color: white;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 110px;
      text-align: center;
      @include transition-property(transform,opacity);
      @include transition-duration(0.6s);
      @include transition-timing-function(ease-in-out);
      @include transition-delay(0s);
      // transform-style: preserve-3d;
      -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
      backface-visibility: hidden;
      @media (max-width: 1024px){
        padding-top: 80px;
      }
    }
    .front{
      z-index: 1;
      // background-color: #aaa;
      // background-image: url('http://www.wallpapereast.com/static/images/nature-wallpaper-desktop-308_ySxPe7m.jpg');
      background-position: center top;
      @include background-size(cover);
      // @include transform-origin(left);
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      -webkit-transform: perspective(900) rotateY(0);
      transform: perspective(900) rotateY(0);
      .content{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 140px;
        text-align: center;
        @media (max-width: 1024px){
          padding-bottom: 100px;
        }
        .product-logo-box{
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          background-repeat: no-repeat;
          background-position: center center;
          @include background-size(contain);
          @media (max-width: 1024px){
            width: 50%;
          }
          &:before{
            content: '';
            display: block;
            position: relative;
            padding-top: 58%;
            @media (max-width: 1024px){
            }
            // background-color: gray;
          }
        }
        .btn-radius{
          margin-left: 40px;
          margin-right: 40px;
          margin-top: 30px;
          white-space: nowrap; 
          @media (max-width: 1440px){
            margin-left: 25px;
            margin-right: 25px;
            letter-spacing: 2px;
            font-size: 15px;
          }
          @media (max-width: 1366px){
            letter-spacing: 2px;
            font-size: 14px;
          }
          @media (max-width: 1280px){
            // letter-spacing: 1px;
            font-size: 13px;
          }
          @media (max-width: 1024px){
            letter-spacing: 1px;
            font-size: 14px;
            height: 40px;
            line-height: 40px;
          }
          img{
            vertical-align: middle;
            margin-left: 8px;
          }
        }
      }
    }
    .back{
      z-index: 0;
      background-color: #699;
      // background-image: url('http://www.wallpapereast.com/static/images/desktop-wallpaper-hd-point_yPvyH3z.jpg');
      // @include rotateY(-180deg);
      // @include transform-origin(right);
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      .content{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 140px;
        text-align: center;
        @media (max-width: 1024px){
          padding-bottom: 100px;
        }
      }
      .product-img-box{
        position: absolute;
        bottom: 320px;
        top: 0;
        left: 0;
        right: 0;
        background-position: center bottom;
        @include background-size(cover);
        background-repeat: no-repeat;
        @media (max-width: 1024px){
          top: 0;
          bottom: 150px;
        }
      }
      .product-name{
        font-weight: normal;
        font-size: 32px;
        line-height: 1.4;
        padding-left: 0.5em;
        padding-right: 0.5em;
        letter-spacing: 2px;
        @media (max-width: 1024px){
          font-size: 18px;
        }

      }
      .btn-radius-o{
        margin-top: 30px;
        white-space: nowrap;
        @media (max-width: 1440px){
          font-size: 15px;
        }
        @media (max-width: 1366px){
          font-size: 14px;
        }
        @media (max-width: 1280px){
          font-size: 13px;
        }
        @media (max-width: 1024px){
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          margin-top: 10px;
        }
      }
      .product-logo-box{
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        background-repeat: no-repeat;
        background-position: center top;
        @include background-size(contain);
        &:before{
          content: '';
          display: block;
          position: relative;
          padding-top: 58%;
          // background-color: gray;
        }
        @media (max-width: 1024px){
          width: 50%;
          margin-top: 0;
        }
      }

    }
  }
}