.section-scene4{
  background-color: #FFF4F2;
  @media (max-width: 1024px){
    overflow: auto;
  }
  .swiper-container{
    height: 100%; 
    padding-top: 60px;
    @media (max-width: 1024px){
      padding-top: 0;
      padding-bottom: 160px;
      height: initial;
    }
    .swiper-slide{
      display: block;
      padding-top: 110px;
      height: 100%;
      // cursor: pointer;
      @media (max-width: 1024px){
        padding-top: 0;
        min-width: 100vw;
      }
      &:nth-child(odd){
        .news-img{
          top: 50%;
          bottom: 0;
        }
        .news-describe{
          top: 30px;
          bottom: 50%;
        }
      }
      &:nth-child(even){
        .news-img{
          top: -60px;
          bottom: 50%;
        }
        .news-describe{
          top: 50%;
          bottom: 30px;
        }
      }

      &:nth-child(even),&:nth-child(odd){
        .news-img,.news-describe{
          @media (max-width: 1024px){
            position: relative;
            top: initial;
            right: initial;
            bottom: initial;
            left: initial;
          }          
        }
        .news-img{
          @media (max-width: 1024px){
            height: 63vw;
          }
        }
        .news-describe{
          @media (max-width: 1024px){
            height: 200px;
          }
        }
      }

      &:hover{
        .btn-radius-o{
          color: white;
          background-color: $color-darkbrown;
        }
      }
    }
    .swiper-button-prev,.swiper-button-next{
      margin-top: 0;
    }
  }
  .shape-box{
    width: 30px;
    height: 30px;
    background-color: #FFF4F2;
    @include rotate(45deg);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -16px;
    @media (max-width: 1024px){
      top: 63vw;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
    }
  }
  .news-img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    @include background-size(cover);
    background-position: center;
  }
  .news-describe{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    .content{
      padding: 50px;
      position: relative;
      color: $color-darkbrown;
      @media (max-width: 1024px){
        padding: 25px;
      }

    }
    .title{
      font-size: 27px;
      line-height: 1.2;
      @include textOverflow(2);
      @media (max-height: 800px){
        @include textOverflow(1);
      }
      @media (max-height: 700px){
        font-size: 22px;
      }
      @media (max-width: 1024px){
        font-size: 18px;
        @include textOverflow(1);
      }
    }
    .date{
      border-bottom: 1px solid #bbb;
      color: #bbb;
      font-weight: normal;
      padding-top: 1em;
      margin-bottom: 1em;
      @media (max-width: 1024px){
        font-size: 13px;
        padding-top: 0.5em;
        padding-bottom: 4px;
      }
    }
    .text{
      letter-spacing: 1px;
      line-height: 1.8;
      font-size: 17px;
      @include textOverflow(3);
      @media (max-height: 800px){
        @include textOverflow(2);
      }
      @media (max-height: 700px){
        font-size: 14px;
      }
      @media (max-width: 1024px){
        font-size: 14px;
        line-height: 1.3;
        @include textOverflow(2);
      }
    }
    .btn-wrap{
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 50px;
      @media (max-width: 1024px){
        position: relative;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
      }
    }
    .btn-radius-o{
      height: 35px;
      line-height: 35px;
      letter-spacing: 1px;
      padding-left: 40px;
      padding-right: 40px;
      color: $color-darkbrown;
      border-color: $color-darkbrown;
      &:hover{
        color: white;
        background-color: $color-darkbrown;        
      }
    }
  }

  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
    opacity: 0;
  }


  //destroy news slider
  @media (max-width: 1024px){
    .swiper-wrapper{
      @include transform(initial !important);
      display: block !important;
    }
    .swiper-slide{
        position: relative !important;
        display: block !important;
        -webkit-overflow-scrolling : touch;
      &.style-empty{
        display: none !important;
      }
    }
  }

}

//chocolate style in empty item
.swiper-slide.style-empty{
  .news-img{
    background-color: #613A2F;
    // padding: 40px 37px;
  }
  .shape-box{
    background-color: transparent;
  }
}
.choco{
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 37px;
  right: 37px;
  background-color: #8A5448;
  .right,.bottom{
    position: absolute;
    background-color: #482E28;
    &::before{
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 50px 50px;
      border-color: transparent transparent #482E28 transparent;
    }
  }
  .right{
    top: 50px;
    bottom: 0;
    right: 0;
    width: 50px;
    &::before{
      margin-top: -50px;
    }
  }

  .bottom{
    bottom: 0;
    left: 50px;
    right: 0;
    height: 50px;
    &::before{
      margin-left: -50px;
    }
  }
  .inner{
    position: absolute;
    background-color: #613A2F;
    top: 46px;
    bottom: 46px;
    left: 46px;
    right: 46px;
  }
}