.section-scene3{
  background-color: #9cc;
  padding-top: 110px;
  background-image: url('/images/bg-tvc.jpg');
  background-position: center;
  @include background-size(cover);
  @include transition-property(top,bottom,transform);
  @media only screen and (orientation: portrait) {
    background-image: url('/images/bg-tvc-m.jpg');
  }
  &:hover{
    // .icon-play{
    //   &:before{
    //     opacity: 0;
    //   }
    //   &:after{
    //     opacity: 1;
    //   }  
    // }
  }
  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 50%;
  }
  .open-tvc{
    margin-top: -146px;
    text-align: center;
    @media (max-width: 1024px){
      margin-top: -90px;
    }
  }
  .icon-play{
    @media (max-width: 1024px){
      width: 90px;
      height: 90px;
    }
  }
}