//elements in scene1
.section-scene1{
  padding-top: 0;
  .swiper-container{
    height: 100%;   
  }
  .swiper-slide{
    height: 100%;
    background-color: #ccc;
    cursor: pointer;
    &:hover{
      .front{
        @include rotateY(-180deg);
        opacity: 0.1;
      }
      .back{
        @include rotateY(0deg);
      }
    }
    .front,.back{
      position: absolute;
      opacity: 0.7;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 110px;
      text-align: center;
      @include transition-property(all);
      @include transition-duration(0.6s);
      @include transition-timing-function(linear);
      @include transition-delay(0s);
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }
    .front{
      z-index: 1;
      background-color: #aaa;
      background-image: url('http://www.wallpapereast.com/static/images/nature-wallpaper-desktop-308_ySxPe7m.jpg');
      // @include transform-origin(left);

    }
    .back{
      z-index: 0;
      background-color: #699;
      background-image: url('http://www.wallpapereast.com/static/images/desktop-wallpaper-hd-point_yPvyH3z.jpg');
      @include rotateY(-180deg);
      // @include transform-origin(right);
    }
  }
}