.section-scene2{
  background-color: #FFF4F2;
  .swiper-container{
    height: 100%;    
  }
  .swiper-slide{
    padding-top: 110px;
    height: 100%;
    @media (max-width: 1024px){
      padding-top: 0;
      padding-bottom: 160px;
      overflow: auto;
      -webkit-overflow-scrolling : touch;
    }
  }
}
.detail-bg,.detail-describe{
  position: absolute;
  top: 0;
  bottom: 0;
  @media (max-width: 1024px){
    top: initial;
    bottom: initial;
    position: relative;
  }
}
.detail-bg{
  left: 50%;
  right: 0;
  @include background-size(cover);
  background-position: center;
  @media (max-width: 1024px){
    left: initial;
    right: initial;
    height: 100vw;
  }

  &::before{
    background: url('/images/bg-v-wave-20x100pink.svg') left top repeat-y transparent;
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;

    @media (max-width: 1024px){
      background: url('/images/bg-h-wave-64x15pink.svg') center bottom repeat-x transparent;
      top: initial;
      width: initial;
      left: 0;
      right: 0;
      bottom: 0;
      height: 15px;
    }
  }
}
.detail-describe{
  left: 0;
  right: 50%;
  background-color: #FFF4F2;
  @media (max-width: 1024px){
    left: initial;
    right: initial;
  }

  &.color-red{
    .slogan{
      color: rgba(173,1,42,1);
    }
  }

  &.color-orange{
    .slogan{
      color: rgba(231,115,69,1);
    }
  }

  &.color-pink{
    .slogan{
      color: rgba(231,140,187,1);
    }
  }

  &.color-purple{
    .slogan{
      color: rgba(116,90,155,1);
    }
  }

  .content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 130px;
    @media (max-width: 1366px){
      padding-top: 110px;
    }
    @media (max-width: 1024px){
      padding-top: 30px;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
    img{
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .name{
      font-size: 28px;
      font-weight: normal;
      // padding-top: 50px;
      margin-left: 40px;
      margin-right: 40px;
      padding-bottom: 20px;
      padding-left: 1em;
      padding-right: 1em;
      text-align: left;
      border-bottom: 1px solid #bbb;
      @media (max-width: 1440px){
        padding-top: 30px;
        font-size: 24px;
        padding-bottom: 15px;
      }
      @media (max-width: 1024px){
        margin-left: 0;
        margin-right: 0;
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .slogan{
      font-weight: normal;
      font-size: 18px;
      padding: 20px;
      line-height: 1.3;
      border-bottom: 1px solid #bbb;
      text-align: left;
      margin-left: 40px;
      margin-right: 40px;
      @media (max-width: 1024px){
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
        font-size: 15px;
      }
    }
    .text{
      text-align: left;
      line-height: 2;
      padding: 1em 20px;
      font-size: 14px;
      letter-spacing: 1px;
      margin-left: 40px;
      margin-right: 40px;
      @media (max-width: 1024px){
        padding-bottom: 1em;
        font-size: 13px;
        line-height: 1.6;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

}