@import "../initial";
body{

}
#footer{
  @include transition-duration(0.8s);
}
.footer-btn span{
  display: block;
}
.layout-view{
  background-color: #FEEEEE;
  min-height: 100vh;
  // padding-top: 110px;
  // padding-bottom: 110px;
  // @media (max-width: 1024px){
  //   padding-bottom: 160px;
  // }
}
    
.eventindex-inner{
  width: 1440px;
  margin: 0 auto;
  word-break: break-all;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
  @media (max-width: 1024px){
    padding-left: 0;
    padding-right: 0;
  }
  .col-left{
  width: 45%;
  z-index: 1;
  padding-top: 110px;
  // padding-bottom: 110px;
  @media (max-width: 1024px){
    width: 100%;
    padding-top: 80px;
    // padding-bottom: 160px;
    z-index: initial;
  }

  .intro-box{
    width: 100%;
    width: calc( 100% + 60px );
    margin-left: -60px;
    @include transform( translateX(60px) rotate(-6deg) );
    padding-bottom: 60px;
    @media (max-width: 1024px){
      width: 100%;
      margin-left: 0;
      padding-bottom: 0;
      @include transform( rotate(0deg) );
    }

    h3{
      color: #888;
      font-size: 18px;
      line-height: 2;
      padding-left: 60px;
      padding-right: 60px;
      font-weight: normal;
      letter-spacing: 3px;
      @media (max-width: 1366px){
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;        
      }
      @media (max-width: 1024px){
        font-size: 14px;
        padding-left: 24px;
        padding-right: 24px;
      }
      strong{
        font-size: 1.05em;
        font-weight: normal;
        color: #ce65ff;
      }
    }
  }
  img{
    margin-left: 60px;
    max-width: 100%;
    margin-left: -7%;
    display: block;
    margin-top: 0;
    @media (max-width: 1550px){
      margin-left: -3%;
    }
    @media (max-width: 1280px){
      // margin-left: 30px;
    }
    @media (max-width: 1024px){
      margin-left: 24px;
      margin-top: 60px;
      width: 80%;
      max-width: 480px;
    }
    @media (max-width: 768px){
      margin-top: 0;
    }
  }
  p{
    width: 100%;
    background-image: url("/images/bg-line-50pink.png");
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 1px;
    line-height: 50px;
    letter-spacing: 4px;
    font-size: 18px;
    color: #f36f95;
    @media (max-width: 1366px){
      font-size: 16px;
      line-height: 35px;
      padding-left: 30px;
      padding-right: 30px;
      background-image: url("/images/bg-line-35pink.png");
    }
    @media (max-width: 1024px){
      font-size: 14px;
      line-height: 24px;
      padding-left: 24px;
      padding-right: 24px;
      margin-top: 10px;
      background-image: url("/images/bg-line-24pink.png");
    }
  }
    
  }
  .col-right{
    width: 55%;
    position: absolute;
    bottom: 0;
    top: 110px;
    overflow: hidden;
    // background-image: url("/images/bg-eventindex.jpg");
    // @include background-size(cover);
    // background-position: left top;
    @media (max-width: 1024px){
      position: relative;
      top: initial;
      bottom: initial;
      overflow: visible;
      width: 100%;
    }
    img,.link-box{
      max-width: 100%;
      display: block;
    }
    .link-box{
      position: absolute;
      width: 100%;
      z-index: 1;
      top: 0;
      &:before{
        content: '';
        display: block;
        padding-top: 91%;
      }
      a{
        font-size: 28px;
        display: block;
        position: absolute;
        left: 21%;
        top: 64%;
        width: 49%;
        line-height: 1;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        @include transform( rotate(-6deg) );
        @media (max-width: 1550px){
          font-size: 24px;
        }
        @media (max-width: 1250px){
          font-size: 20px;
          padding-top: 0.8em;
          padding-bottom: 0.8em;
        }
        span{
          font-size: 22px;
          letter-spacing: 10px;
          border-bottom: 1px solid black;
          padding-left: 10px;
          padding-right: 50px;
          padding-bottom: 4px;
          vertical-align: top;
          background: url("/images/arrow-right-16-b.svg") right center no-repeat;
          @media (max-width: 1550px){
            font-size: 18px;
            letter-spacing: 5px;
          }
          @media (max-width: 1250px){
            font-size: 16px;
            letter-spacing: 3px;
            padding-right: 30px;
          }
        }
    }
    }

  .intro-box{
      width: 100%;
      padding-bottom: 100px;
      p{
        width: 100%;
        letter-spacing: 4px;
        font-size: 18px;
        color: #f36f95;
        font-size: 14px;
        line-height: 24px;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 10px;
        background-image: url("/images/bg-line-24pink.png");  
      }
  }

  }
}