 @import "../initial";
body{
    background-color: #FFF4F2;
    min-height: 100%;
    height: initial;
    &:before{
      content: '';
      z-index: 0;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      // background-color: #ffd8db;
      background: url('/images/bg-v-wave-20x100pink.svg') left top repeat-y #ffd8db;
      @media (max-width: 1024px){
        content: none;
      }
    }
}
#footer{
  @include transition-duration(0.8s);
}
.footer-btn span{
  display: block;
}
.frame{
  .logo{
    width: 80px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-top: -10px;
    @media (max-width: 768px){
      margin-top: 0;
    }
  }
  .frame-deco{
    display: block;
    position: absolute;
    width: 45%;
    right: 10px;
    margin-top: -10px;
    @media (max-width: 768px){
      position: relative;
      width: 40%;
      left: 60%;
      margin-top: 4px;
    }
    &.style-abs{
      @media (max-width: 768px){
        display: none;
      }
    }
    &.style-btm{
      display: none;
      @media (max-width: 768px){
        display: block;
        margin-top: 10px;
      }
    }
    .image-editor &{
      @media (max-width: 768px){
        // position: absolute;
      }
      @media (max-width: 600px){
        // position: relative;
      }
    }
    @media (max-width: 480px){
      width: 160px;
      left: calc(100% - 160px);
    }
  }
}
.eventpage-inner{
  .col-left,.col-right{
    padding-top: 140px;
    padding-bottom: 110px;
    .inner{
      position: relative;
      width: 700px;
      max-width: 100%;
      // padding-left: 30px;
      // padding-right: 30px;
      margin-left: auto;
      margin-right: auto;
      @import "../module/frame";

    }
    form{
      position: relative;
      h5{
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: normal;
        color: $color-gold;
        @media (max-width: 1024px){
          padding-top: 15px;
          padding-bottom: 15px;
          font-size: 13px;
          letter-spacing: 1px;
        }
      }
      .rule{
        font-size: 13px;
        line-height: 1.3;
        letter-spacing: 1px;
        color: $color-gold;
        @media (max-width: 1024px){
          font-size: 11px;
          line-height: 1.5;
        }
      }
    }
    .form-block{
      border-bottom: 3px solid white;
      height: 75px;
      font-size: 14px;
      position: relative;
      @media (max-width: 1024px){
        height: 55px;
      }
      label{
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        line-height: 75px;
        letter-spacing: 2px;
        width: 3em;
        color: $color-gold;
        vertical-align: middle;
        pointer-events: none;
        @media (max-width: 1024px){
          line-height: 55px;
        }
      }
      input[type="text"], input[type="email"], input[type="tel"]{
        padding-left: 4em;
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        letter-spacing: 2px;
        background-color: #ffd8db;
        background-color: transparent;
        border: 0;
      }
    }
    .checkbox-wrap{
      display: inline-block;
      width: 27px;height: 27px;
      border: 3px solid white;
      position: relative;
      vertical-align: middle;
      input{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        @include border-radius(0);
        &+i{
          opacity: 0;
          color:white;
          font-size: 20px;
          width: 11px;
          height: 11px;
          display: block;
          margin-top: 5px;
          margin-left: 5px;
          background-color: black;

        }
        &:checked+i{
          opacity: 1;
        }
      }
    }
    .btn-radius-lg{
      margin-top: 50px;
      @media (max-width: 1024px){
        margin-top: 20px;
      }
    }
  }
  .col-left{
    .inner{
      padding-left: 30px;
      padding-right: 30px;
      @media (max-width: 1024px){
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    @media (max-width: 1024px){
      padding-bottom: 60px;
      background: url('/images/bg-h-wave-64x15dpink.svg') center bottom repeat-x;

    }
    img.title{
      width: 640px;
      max-width: 100%;
      margin-left: -13%;
      display: block;
      
      // margin-bottom: 0;
      @media (max-width: 1680px){
        margin-left: -6%;
      }
      @media (max-width: 1440px){
        margin-left: -3%;
      }
      @media (max-width: 1280px){
        margin-left: -15px;
        margin-bottom: 1em;
      }
      @media (max-width: 1024px){
        display: block;
        width: 80%;
        margin-left: 10%;
      }
      @media (max-width: 768px){
        width: 100%;
        margin-left: 0;
      }
    }
    p{
      font-size: 18px;
      line-height: 2;
      color: #bbb;
      letter-spacing: 3px;
      text-align: left;

      @media (max-width: 1024px){
        font-size: 13px;
        line-height: 1.6;
      }
      strong{
        color: #ce65ff;
        font-size: 1.05em;
        font-weight: 500;
      }
    }
    .img-wrap{
      padding-top: 80px;
      @media (max-width: 1024px){
        padding-top: 20px;
      }
      img{
        max-width: 17%;
        margin-right: 30px;
        margin-bottom: 30px;
        @media (max-width: 768px){
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
      p{
        color: #785146;
        letter-spacing: 1px;
        font-size: 13px;
        text-align: left;
        @media (max-width: 1024px){
          font-size: 11px;
        }
        &::before{
          content: '';
          width: 5px;
          height: 5px;
          display: inline-block;
          background-color: $color-brown;
          vertical-align: middle;
          margin-left: 6px;
          margin-right: 6px;
          @include border-radius(50%);
        }
      }
    }
  }
  .col-right{
    @media (max-width: 1024px){
      // padding-top: 40px;
      padding-bottom: 100px;
      background-color: #ffd8db;
    }
    .inner{
      padding-left: 60px;
      padding-right: 30px;
      @media (max-width: 1024px){
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    p{
      font-size: 22px;
      line-height: 2;
      letter-spacing: 3px;
      color: $color-coral;
      text-align: center;
      margin-bottom: 20px;
      @media (max-width: 1024px){
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 20px;
      }

      small{
        display: block;
        color: #785146;
        letter-spacing: 1px;
        font-size: 13px;
        text-align: center;
        @media (max-width: 1024px){
          padding-top: 1em;
          font-size: 14px;
        }
      }
    }
  }
  &.step-0{
    .col-right{
      @media (max-width: 1024px){
        padding-top: 40px;
      }
    }
  }
  &.step-1,&.step-2{
    @media (max-width: 1024px){
      min-height: 100vh;
      background-color: #ffd8db; 
    }
    .col-left{
      @media (max-width: 1024px){
        display: none;
      }
    }
    .col-right{
      @media (max-width: 768px){
        padding-top: 80px;
      }
    }

  }
  &.step-2{
    .col-right{
      .inner>p{
        margin-bottom: 0;
      }
      
    }
  }
}


.result-wrap{
  .frame{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 25px;
    width: 675px;
    @include border-radius(5px);

    @media (max-width: 768px){
      padding: 8px;
      // width: calc( 100% - 60px );
      width: 100%;

    }
    canvas,img{
      max-width: 100%;
    }
    p.helper{
      line-height: 1.6;
      padding-top: 40px;
      margin-bottom: 35px;
      color: black;
      width: 16em;
      max-width: 50%;
      border-bottom: 1px solid black;
      font-size: 22px;
      letter-spacing: 5px;
      text-align: left;
      @media (max-width: 768px){
        font-size: 16px;
        letter-spacing: 3px;
        // margin-top: -1.6em;
        padding-top: 0;
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
      }
    }
  }

  .btn-radius-lg{
    position: relative;
    margin-top: 40px;
    color: $color-brown;
    max-width: calc( 100% - 60px );
    @media (max-width: 1024px){
      margin-top: 20px;
      max-width: 100%;
    }
  }
  .frame-bottom{
    min-height: 110px;
    text-align: left;
    @media (max-width: 1024px){
      min-height: 90px;
    }
    p:first-child{
      font-size: 28px;
      color: black;
      text-align: left;
      letter-spacing: 0px;
      padding-top: 25px;
      margin: 0;
      line-height: 1;
      @media (max-width: 1024px){
        font-size: 14px;
        padding-top: 5px;
      }
    }
  }
  p.msg{
    line-height: 1.6;
    margin-bottom: 0;
    color: black;
    width: 16em;
    max-width: 50%;
    border-bottom: 1px solid black;
    font-size: 22px;
    letter-spacing: 5px;
    text-align: left;
    padding-top: 10px;

    // @media (max-width: 768px){
    //   font-size: 16px;
    //   letter-spacing: 3px;
    // }
    @media (max-width: 768px){
      width: 100%;
      line-height: 1.4;
      padding-top: 5px;
      font-size: 14px;
      letter-spacing: 2px;
    }

  }
}