@import "../initial";
.section-scene{
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // padding-top: 110px;
  @include transition(all 1s ease-in-out);
}

//elements in scene1
.section-scene1{
  z-index: 4;
}
@import "index-scene1";

//elements in scene2
.section-scene2{
  z-index: 3;
}
@import "index-scene2";

//elements in scene3
.section-scene3{
  z-index: 2;
}
@import "index-scene3";

//elements in scene4
.section-scene4{
  z-index: 1;
}
@import "index-scene4";

//on viewing scene1
/*body*/.scene1{
  .section-scene1{
    top: 0;
    bottom: 0;
  }
}
//on viewing scene2
/*body*/.scene2{
  .section-scene1{
    top: -100%;
    bottom: 100%;
  }
  .section-scene2{
    top: 0;
    bottom: 0;
  }
}

//on viewing scene3
/*body*/.scene3{
  .section-scene1,.section-scene2{
    top: -100%;
    bottom: 100%;
  }
  .section-scene3{
    top: 0;
    bottom: 0;
  }  
}

//on viewing scene4
/*body*/.scene4{
  .section-scene1,.section-scene2,.section-scene3{
    top: -100%;
    bottom: 100%;
  }
  .section-scene4{
    top: 0;
    bottom: 0;
  }  
}