@import "../initial";
body{
  background-color: #FFF4F2;
}
.layout-view{
  padding-top: 110px;
  padding-bottom: 110px;
  @media (max-width: 1024px){
    padding-bottom: 160px;
  }
}
.inner{
  width: 1024px;
  margin: 0 auto;
  word-break: break-all;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
}
.news-info{
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;

}
.news-title{
  color: $color-darkbrown;
  font-size: 27px;
  line-height: 1.2;
  margin: 1.6em 0 0.8em 0;
  @media (max-height: 700px){
    font-size: 22px;
  }
  @media (max-width: 1024px){
    margin-top: 1em;
    font-size: 18px;
  }
}
.news-date{
  color: #bbb;
  font-weight: normal;
  padding-bottom: 10px;
  @media (max-width: 1024px){
    font-size: 13px;
  }
}
.news-content{
  padding-top: 30px;
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 17px;
  color: $color-darkbrown;
  @media (max-height: 700px){
    font-size: 14px;
  }
  @media (max-width: 1024px){
    font-size: 14px;
    line-height: 1.3;
    padding-top: 20px;
  }
  img{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }
}

.btn-wrap{
  padding-top: 50px;
  text-align: center;
  @media (max-width: 1024px){
    padding-top: 10px;
  }
}
.btn-radius-o{
  // height: 35px;
  // line-height: 35px;
  letter-spacing: 1px;
  padding-left: 80px;
  padding-right: 80px;
  color: $color-darkbrown;
  border-color: $color-darkbrown;
  white-space: nowrap;
  @media (max-width: 1024px){
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &:hover{
    color: white;
    background-color: $color-darkbrown;
    .arrow-left{
      &:before{
        opacity: 0;
      }
      &:after{
        opacity: 1;
      }
    }
  }

  i{
    margin-right: 10px;
  }
}
.swiper-button-prev,.swiper-button-next{
  position: fixed;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
  opacity: 0;
}