@import "../initial";
#header{
  position: absolute;
  opacity: 0;
}
@media (max-width: 768px){
  .header-logo{
    left: 50%;
    margin-left: -40px;
  }
}
body{
  background-color: #FFD8DB;
  padding-top: 140px;
  @media (max-width: 768px){
    padding-top: 80px;
  }
}
h2{
    font-size: 22px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: 3px;
    color: #ff6895;
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 768px){
      line-height: 1.6;
      font-size: 14px;
      margin-bottom: 20px;
    } 
}

.inner{
  position: relative;
  width: 700px;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 768px){
    padding-left: 20px;
    padding-right: 20px;
  }
  .frame{
    position: relative;
    padding: 25px;
    @include border-radius(5px);
    background-color: white;
    z-index: 1;
    @media (max-width: 768px){
      padding: 8px;
    }

    &.is-hover{
      .mask{
        opacity: 0;
      }
      .frame-bottom p.msg span:not(.mask){
        // color: black;
        opacity: 1;
        max-height: 20em;
      }
    }
    .logo{
      width: 80px;
      display: block;
      margin: 0 auto;
      padding-bottom: 10px;
      margin-top: -10px;
      @media (max-width: 768px){
        margin-top: 0;
      }
    }

    .img-wrap{
      position: relative;
      .mask{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        @include transition(opacity 1s ease,visibility 1s ease);
      }
    }
    canvas,img{
      max-width: 100%;
    }
    .photo{
      width: 100%;
      background-color: #777;
      &:before{
        content: '';
        padding-top: 52%;
        display: block;
      }
    }
    .frame-deco{
      display: block;
      position: absolute;
      width: 45%;
      right: 10px;
      margin-top: -10px;
      @media (max-width: 768px){
        position: relative;
        width: 40%;
        left: 60%;
      }
      &.style-abs{
        @media (max-width: 768px){
          display: none;
        }
      }
      &.style-btm{
        display: none;
        @media (max-width: 768px){
          display: block;
          margin-top: 10px;
        }
      }
    }
    .frame-bottom{
      min-height: 110px;
      @media (max-width: 768px){
        min-height: 90px;
      }
      p{
        font-size: 28px;
        color: black;
        text-align: left;
        letter-spacing: 0px;
        padding-top: 25px;
        margin: 0;
        line-height: 1;
        @media (max-width: 768px){
          font-size: 14px;
          padding-top: 5px;
        }

      }
      p.msg{
        position: relative;
        line-height: 1.6;
        margin-bottom: 0;
        color: black;
        width: 16em;
        max-width: 50%;
        border-bottom: 1px solid black;
        font-size: 22px;
        letter-spacing: 5px;
        text-align: left;
        margin-top: 10px;
        padding-top: 0;
        @media (max-width: 768px){
          width: 100%;
          max-width: 100%;
          line-height: 1.4;
          padding-top: 5px;
          font-size: 14px;
          letter-spacing: 2px;
        }
        // @media (max-width: 768px){
        //   font-size: 16px;
        //   letter-spacing: 3px;
        // }
        span{
          display: block;
          max-height: 35px;
          overflow: hidden;
          @include transition(opacity 1s ease,visibility 1s ease,color 1s ease,max-height 1s ease);
          @media (max-width: 768px){
            max-height: 25px;
          }
          &:not(.mask){
            // color: white;
            // color: transparent;
            color: black;
            opacity: 0;
            @include transition-delay(1s);
          }
          i.fa{
            margin-left: 10px;
            @include rotate(-45deg);
          }
          img{
            padding-left: 10px;
            animation: moveX 1s infinite ease-in-out;
            -moz-animation:moveX 1s infinite ease-in-out;
            -webkit-animation: moveX 1s infinite ease-in-out;
          }
        }
        .mask{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          white-space: nowrap;
        }
      }
      input{
        display: block;
        width: 50%;
        line-height: 2;
        letter-spacing: 4px;
        font-size: 18px;
        padding-left: 4px;
        margin-top: 10px;
        border: 0;
        border-bottom: 1px solid black;
      }
    }
    &+.shadow{
      display: block;
      position: absolute;
      left: -5%;
      right: -5%;
      width: 110%;
      /* top: 95%; */
      margin-top: -2%;
      z-index: 0;
    }
  }
  .btn-radius-lg{
    position: relative;
    margin-top: 40px;
    color: $color-brown;
    max-width: 100%;
    @media (max-width: 768px){
      margin-top: 20px;
    }
  }
}

.btn-wrap{
  @include transition(opacity 1s ease,visibility 1s ease);
  opacity: 1;
  visibility: visible;
  @include transition-delay(0.8s);
}
.is-hide{
  opacity: 0;
  visibility: hidden;
}