/* line 2, ../../sass/units/eventpage.scss */
body {
  background-color: #FFF4F2;
  min-height: 100%;
  height: initial;
}
/* line 6, ../../sass/units/eventpage.scss */
body:before {
  content: '';
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background: url("/images/bg-v-wave-20x100pink.svg") left top repeat-y #ffd8db;
}
@media (max-width: 1024px) {
  /* line 6, ../../sass/units/eventpage.scss */
  body:before {
    content: none;
  }
}

/* line 22, ../../sass/units/eventpage.scss */
#footer {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

/* line 25, ../../sass/units/eventpage.scss */
.footer-btn span {
  display: block;
}

/* line 29, ../../sass/units/eventpage.scss */
.frame .logo {
  width: 80px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-top: -10px;
}
@media (max-width: 768px) {
  /* line 29, ../../sass/units/eventpage.scss */
  .frame .logo {
    margin-top: 0;
  }
}
/* line 39, ../../sass/units/eventpage.scss */
.frame .frame-deco {
  display: block;
  position: absolute;
  width: 45%;
  right: 10px;
  margin-top: -10px;
}
@media (max-width: 768px) {
  /* line 39, ../../sass/units/eventpage.scss */
  .frame .frame-deco {
    position: relative;
    width: 40%;
    left: 60%;
    margin-top: 4px;
  }
}
@media (max-width: 768px) {
  /* line 51, ../../sass/units/eventpage.scss */
  .frame .frame-deco.style-abs {
    display: none;
  }
}
/* line 56, ../../sass/units/eventpage.scss */
.frame .frame-deco.style-btm {
  display: none;
}
@media (max-width: 768px) {
  /* line 56, ../../sass/units/eventpage.scss */
  .frame .frame-deco.style-btm {
    display: block;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  /* line 39, ../../sass/units/eventpage.scss */
  .frame .frame-deco {
    width: 160px;
    left: calc(100% - 160px);
  }
}

/* line 78, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left, .eventpage-inner .col-right {
  padding-top: 140px;
  padding-bottom: 110px;
}
/* line 81, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .inner, .eventpage-inner .col-right .inner {
  position: relative;
  width: 700px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 1, ../../sass/module/_frame.scss */
.eventpage-inner .col-left .inner .frame, .eventpage-inner .col-right .inner .frame {
  position: relative;
  padding: 25px;
  background-color: white;
  z-index: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  /* line 1, ../../sass/module/_frame.scss */
  .eventpage-inner .col-left .inner .frame, .eventpage-inner .col-right .inner .frame {
    padding: 8px;
  }
}
/* line 12, ../../sass/module/_frame.scss */
.eventpage-inner .col-left .inner .frame canvas, .eventpage-inner .col-left .inner .frame img, .eventpage-inner .col-right .inner .frame canvas, .eventpage-inner .col-right .inner .frame img {
  max-width: 100%;
}
/* line 15, ../../sass/module/_frame.scss */
.eventpage-inner .col-left .inner .frame .photo, .eventpage-inner .col-right .inner .frame .photo {
  width: 100%;
  background-color: #777;
}
/* line 18, ../../sass/module/_frame.scss */
.eventpage-inner .col-left .inner .frame .photo:before, .eventpage-inner .col-right .inner .frame .photo:before {
  content: '';
  padding-top: 52%;
  display: block;
}
/* line 24, ../../sass/module/_frame.scss */
.eventpage-inner .col-left .inner .frame .frame-bottom, .eventpage-inner .col-right .inner .frame .frame-bottom {
  min-height: 110px;
}
@media (max-width: 1024px) {
  /* line 24, ../../sass/module/_frame.scss */
  .eventpage-inner .col-left .inner .frame .frame-bottom, .eventpage-inner .col-right .inner .frame .frame-bottom {
    min-height: 90px;
  }
}
/* line 29, ../../sass/module/_frame.scss */
.eventpage-inner .col-left .inner .frame .frame-bottom p, .eventpage-inner .col-right .inner .frame .frame-bottom p {
  font-size: 28px;
  color: black;
  text-align: left;
  letter-spacing: 0px;
  padding-top: 25px;
  margin: 0;
  line-height: 1;
}
@media (max-width: 1024px) {
  /* line 29, ../../sass/module/_frame.scss */
  .eventpage-inner .col-left .inner .frame .frame-bottom p, .eventpage-inner .col-right .inner .frame .frame-bottom p {
    font-size: 14px;
    padding-top: 5px;
  }
}
/* line 45, ../../sass/module/_frame.scss */
.eventpage-inner .col-left .inner .frame .frame-bottom input, .eventpage-inner .col-right .inner .frame .frame-bottom input {
  display: block;
  width: 50%;
  line-height: 2;
  letter-spacing: 4px;
  font-size: 18px;
  padding-left: 4px;
  margin-top: 10px;
  border: 0;
  border-bottom: 1px solid black;
}
@media (max-width: 768px) {
  /* line 45, ../../sass/module/_frame.scss */
  .eventpage-inner .col-left .inner .frame .frame-bottom input, .eventpage-inner .col-right .inner .frame .frame-bottom input {
    width: 100%;
    line-height: 1.4;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 2px;
  }
}
/* line 64, ../../sass/module/_frame.scss */
.eventpage-inner .col-left .inner .frame + .shadow, .eventpage-inner .col-right .inner .frame + .shadow {
  display: block;
  position: absolute;
  left: -5%;
  right: -5%;
  width: 110%;
  /* top: 95%; */
  margin-top: -2%;
  z-index: 0;
}
/* line 92, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left form, .eventpage-inner .col-right form {
  position: relative;
}
/* line 94, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left form h5, .eventpage-inner .col-right form h5 {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: normal;
  color: #C38D71;
}
@media (max-width: 1024px) {
  /* line 94, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left form h5, .eventpage-inner .col-right form h5 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}
/* line 108, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left form .rule, .eventpage-inner .col-right form .rule {
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #C38D71;
}
@media (max-width: 1024px) {
  /* line 108, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left form .rule, .eventpage-inner .col-right form .rule {
    font-size: 11px;
    line-height: 1.5;
  }
}
/* line 119, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .form-block, .eventpage-inner .col-right .form-block {
  border-bottom: 3px solid white;
  height: 75px;
  font-size: 14px;
  position: relative;
}
@media (max-width: 1024px) {
  /* line 119, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left .form-block, .eventpage-inner .col-right .form-block {
    height: 55px;
  }
}
/* line 127, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .form-block label, .eventpage-inner .col-right .form-block label {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 75px;
  letter-spacing: 2px;
  width: 3em;
  color: #C38D71;
  vertical-align: middle;
  pointer-events: none;
}
@media (max-width: 1024px) {
  /* line 127, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left .form-block label, .eventpage-inner .col-right .form-block label {
    line-height: 55px;
  }
}
/* line 143, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .form-block input[type="text"], .eventpage-inner .col-left .form-block input[type="email"], .eventpage-inner .col-left .form-block input[type="tel"], .eventpage-inner .col-right .form-block input[type="text"], .eventpage-inner .col-right .form-block input[type="email"], .eventpage-inner .col-right .form-block input[type="tel"] {
  padding-left: 4em;
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  letter-spacing: 2px;
  background-color: #ffd8db;
  background-color: transparent;
  border: 0;
}
/* line 155, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .checkbox-wrap, .eventpage-inner .col-right .checkbox-wrap {
  display: inline-block;
  width: 27px;
  height: 27px;
  border: 3px solid white;
  position: relative;
  vertical-align: middle;
}
/* line 161, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .checkbox-wrap input, .eventpage-inner .col-right .checkbox-wrap input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 175, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .checkbox-wrap input + i, .eventpage-inner .col-right .checkbox-wrap input + i {
  opacity: 0;
  color: white;
  font-size: 20px;
  width: 11px;
  height: 11px;
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  background-color: black;
}
/* line 187, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .checkbox-wrap input:checked + i, .eventpage-inner .col-right .checkbox-wrap input:checked + i {
  opacity: 1;
}
/* line 192, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .btn-radius-lg, .eventpage-inner .col-right .btn-radius-lg {
  margin-top: 50px;
}
@media (max-width: 1024px) {
  /* line 192, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left .btn-radius-lg, .eventpage-inner .col-right .btn-radius-lg {
    margin-top: 20px;
  }
}
/* line 200, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .inner {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1024px) {
  /* line 200, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  /* line 199, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left {
    padding-bottom: 60px;
    background: url("/images/bg-h-wave-64x15dpink.svg") center bottom repeat-x;
  }
}
/* line 213, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left img.title {
  width: 640px;
  max-width: 100%;
  margin-left: -13%;
  display: block;
}
@media (max-width: 1680px) {
  /* line 213, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left img.title {
    margin-left: -6%;
  }
}
@media (max-width: 1440px) {
  /* line 213, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left img.title {
    margin-left: -3%;
  }
}
@media (max-width: 1280px) {
  /* line 213, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left img.title {
    margin-left: -15px;
    margin-bottom: 1em;
  }
}
@media (max-width: 1024px) {
  /* line 213, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left img.title {
    display: block;
    width: 80%;
    margin-left: 10%;
  }
}
@media (max-width: 768px) {
  /* line 213, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left img.title {
    width: 100%;
    margin-left: 0;
  }
}
/* line 240, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left p {
  font-size: 18px;
  line-height: 2;
  color: #bbb;
  letter-spacing: 3px;
  text-align: left;
}
@media (max-width: 1024px) {
  /* line 240, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left p {
    font-size: 13px;
    line-height: 1.6;
  }
}
/* line 251, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left p strong {
  color: #ce65ff;
  font-size: 1.05em;
  font-weight: 500;
}
/* line 257, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .img-wrap {
  padding-top: 80px;
}
@media (max-width: 1024px) {
  /* line 257, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left .img-wrap {
    padding-top: 20px;
  }
}
/* line 262, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .img-wrap img {
  max-width: 17%;
  margin-right: 30px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  /* line 262, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left .img-wrap img {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
/* line 271, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .img-wrap p {
  color: #785146;
  letter-spacing: 1px;
  font-size: 13px;
  text-align: left;
}
@media (max-width: 1024px) {
  /* line 271, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-left .img-wrap p {
    font-size: 11px;
  }
}
/* line 279, ../../sass/units/eventpage.scss */
.eventpage-inner .col-left .img-wrap p::before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: #775146;
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  /* line 293, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-right {
    padding-bottom: 100px;
    background-color: #ffd8db;
  }
}
/* line 299, ../../sass/units/eventpage.scss */
.eventpage-inner .col-right .inner {
  padding-left: 60px;
  padding-right: 30px;
}
@media (max-width: 1024px) {
  /* line 299, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-right .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 307, ../../sass/units/eventpage.scss */
.eventpage-inner .col-right p {
  font-size: 22px;
  line-height: 2;
  letter-spacing: 3px;
  color: #ff6895;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  /* line 307, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-right p {
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 20px;
  }
}
/* line 320, ../../sass/units/eventpage.scss */
.eventpage-inner .col-right p small {
  display: block;
  color: #785146;
  letter-spacing: 1px;
  font-size: 13px;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 320, ../../sass/units/eventpage.scss */
  .eventpage-inner .col-right p small {
    padding-top: 1em;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  /* line 334, ../../sass/units/eventpage.scss */
  .eventpage-inner.step-0 .col-right {
    padding-top: 40px;
  }
}
@media (max-width: 1024px) {
  /* line 340, ../../sass/units/eventpage.scss */
  .eventpage-inner.step-1, .eventpage-inner.step-2 {
    min-height: 100vh;
    background-color: #ffd8db;
  }
}
@media (max-width: 1024px) {
  /* line 345, ../../sass/units/eventpage.scss */
  .eventpage-inner.step-1 .col-left, .eventpage-inner.step-2 .col-left {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 350, ../../sass/units/eventpage.scss */
  .eventpage-inner.step-1 .col-right, .eventpage-inner.step-2 .col-right {
    padding-top: 80px;
  }
}
/* line 359, ../../sass/units/eventpage.scss */
.eventpage-inner.step-2 .col-right .inner > p {
  margin-bottom: 0;
}

/* line 369, ../../sass/units/eventpage.scss */
.result-wrap .frame {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 25px;
  width: 675px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  /* line 369, ../../sass/units/eventpage.scss */
  .result-wrap .frame {
    padding: 8px;
    width: 100%;
  }
}
/* line 384, ../../sass/units/eventpage.scss */
.result-wrap .frame canvas, .result-wrap .frame img {
  max-width: 100%;
}
/* line 387, ../../sass/units/eventpage.scss */
.result-wrap .frame p.helper {
  line-height: 1.6;
  padding-top: 40px;
  margin-bottom: 35px;
  color: black;
  width: 16em;
  max-width: 50%;
  border-bottom: 1px solid black;
  font-size: 22px;
  letter-spacing: 5px;
  text-align: left;
}
@media (max-width: 768px) {
  /* line 387, ../../sass/units/eventpage.scss */
  .result-wrap .frame p.helper {
    font-size: 16px;
    letter-spacing: 3px;
    padding-top: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }
}
/* line 410, ../../sass/units/eventpage.scss */
.result-wrap .btn-radius-lg {
  position: relative;
  margin-top: 40px;
  color: #775146;
  max-width: calc( 100% - 60px );
}
@media (max-width: 1024px) {
  /* line 410, ../../sass/units/eventpage.scss */
  .result-wrap .btn-radius-lg {
    margin-top: 20px;
    max-width: 100%;
  }
}
/* line 420, ../../sass/units/eventpage.scss */
.result-wrap .frame-bottom {
  min-height: 110px;
  text-align: left;
}
@media (max-width: 1024px) {
  /* line 420, ../../sass/units/eventpage.scss */
  .result-wrap .frame-bottom {
    min-height: 90px;
  }
}
/* line 426, ../../sass/units/eventpage.scss */
.result-wrap .frame-bottom p:first-child {
  font-size: 28px;
  color: black;
  text-align: left;
  letter-spacing: 0px;
  padding-top: 25px;
  margin: 0;
  line-height: 1;
}
@media (max-width: 1024px) {
  /* line 426, ../../sass/units/eventpage.scss */
  .result-wrap .frame-bottom p:first-child {
    font-size: 14px;
    padding-top: 5px;
  }
}
/* line 440, ../../sass/units/eventpage.scss */
.result-wrap p.msg {
  line-height: 1.6;
  margin-bottom: 0;
  color: black;
  width: 16em;
  max-width: 50%;
  border-bottom: 1px solid black;
  font-size: 22px;
  letter-spacing: 5px;
  text-align: left;
  padding-top: 10px;
}
@media (max-width: 768px) {
  /* line 440, ../../sass/units/eventpage.scss */
  .result-wrap p.msg {
    width: 100%;
    line-height: 1.4;
    padding-top: 5px;
    font-size: 14px;
    letter-spacing: 2px;
  }
}

/*# sourceMappingURL=eventpage.css.map */
