/* line 5, ../../sass/units/eventindex.scss */
#footer {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

/* line 8, ../../sass/units/eventindex.scss */
.footer-btn span {
  display: block;
}

/* line 11, ../../sass/units/eventindex.scss */
.layout-view {
  background-color: #FEEEEE;
  min-height: 100vh;
}

/* line 21, ../../sass/units/eventindex.scss */
.eventindex-inner {
  width: 1440px;
  margin: 0 auto;
  word-break: break-all;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
}
@media (max-width: 1024px) {
  /* line 21, ../../sass/units/eventindex.scss */
  .eventindex-inner {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 32, ../../sass/units/eventindex.scss */
.eventindex-inner .col-left {
  width: 45%;
  z-index: 1;
  padding-top: 110px;
}
@media (max-width: 1024px) {
  /* line 32, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-left {
    width: 100%;
    padding-top: 80px;
    z-index: initial;
  }
}
/* line 44, ../../sass/units/eventindex.scss */
.eventindex-inner .col-left .intro-box {
  width: 100%;
  width: calc( 100% + 60px );
  margin-left: -60px;
  -moz-transform: translateX(60px) rotate(-6deg);
  -ms-transform: translateX(60px) rotate(-6deg);
  -webkit-transform: translateX(60px) rotate(-6deg);
  transform: translateX(60px) rotate(-6deg);
  padding-bottom: 60px;
}
@media (max-width: 1024px) {
  /* line 44, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-left .intro-box {
    width: 100%;
    margin-left: 0;
    padding-bottom: 0;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/* line 57, ../../sass/units/eventindex.scss */
.eventindex-inner .col-left .intro-box h3 {
  color: #888;
  font-size: 18px;
  line-height: 2;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: normal;
  letter-spacing: 3px;
}
@media (max-width: 1366px) {
  /* line 57, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-left .intro-box h3 {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1024px) {
  /* line 57, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-left .intro-box h3 {
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
/* line 75, ../../sass/units/eventindex.scss */
.eventindex-inner .col-left .intro-box h3 strong {
  font-size: 1.05em;
  font-weight: normal;
  color: #ce65ff;
}
/* line 82, ../../sass/units/eventindex.scss */
.eventindex-inner .col-left img {
  margin-left: 60px;
  max-width: 100%;
  margin-left: -7%;
  display: block;
  margin-top: 0;
}
@media (max-width: 1550px) {
  /* line 82, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-left img {
    margin-left: -3%;
  }
}
@media (max-width: 1024px) {
  /* line 82, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-left img {
    margin-left: 24px;
    margin-top: 60px;
    width: 80%;
    max-width: 480px;
  }
}
@media (max-width: 768px) {
  /* line 82, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-left img {
    margin-top: 0;
  }
}
/* line 104, ../../sass/units/eventindex.scss */
.eventindex-inner .col-left p {
  width: 100%;
  background-image: url("/images/bg-line-50pink.png");
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 1px;
  line-height: 50px;
  letter-spacing: 4px;
  font-size: 18px;
  color: #f36f95;
}
@media (max-width: 1366px) {
  /* line 104, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-left p {
    font-size: 16px;
    line-height: 35px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url("/images/bg-line-35pink.png");
  }
}
@media (max-width: 1024px) {
  /* line 104, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-left p {
    font-size: 14px;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 10px;
    background-image: url("/images/bg-line-24pink.png");
  }
}
/* line 133, ../../sass/units/eventindex.scss */
.eventindex-inner .col-right {
  width: 55%;
  position: absolute;
  bottom: 0;
  top: 110px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  /* line 133, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-right {
    position: relative;
    top: initial;
    bottom: initial;
    overflow: visible;
    width: 100%;
  }
}
/* line 149, ../../sass/units/eventindex.scss */
.eventindex-inner .col-right img, .eventindex-inner .col-right .link-box {
  max-width: 100%;
  display: block;
}
/* line 153, ../../sass/units/eventindex.scss */
.eventindex-inner .col-right .link-box {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}
/* line 158, ../../sass/units/eventindex.scss */
.eventindex-inner .col-right .link-box:before {
  content: '';
  display: block;
  padding-top: 91%;
}
/* line 163, ../../sass/units/eventindex.scss */
.eventindex-inner .col-right .link-box a {
  font-size: 28px;
  display: block;
  position: absolute;
  left: 21%;
  top: 64%;
  width: 49%;
  line-height: 1;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
@media (max-width: 1550px) {
  /* line 163, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-right .link-box a {
    font-size: 24px;
  }
}
@media (max-width: 1250px) {
  /* line 163, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-right .link-box a {
    font-size: 20px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
}
/* line 183, ../../sass/units/eventindex.scss */
.eventindex-inner .col-right .link-box a span {
  font-size: 22px;
  letter-spacing: 10px;
  border-bottom: 1px solid black;
  padding-left: 10px;
  padding-right: 50px;
  padding-bottom: 4px;
  vertical-align: top;
  background: url("/images/arrow-right-16-b.svg") right center no-repeat;
}
@media (max-width: 1550px) {
  /* line 183, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-right .link-box a span {
    font-size: 18px;
    letter-spacing: 5px;
  }
}
@media (max-width: 1250px) {
  /* line 183, ../../sass/units/eventindex.scss */
  .eventindex-inner .col-right .link-box a span {
    font-size: 16px;
    letter-spacing: 3px;
    padding-right: 30px;
  }
}
/* line 205, ../../sass/units/eventindex.scss */
.eventindex-inner .col-right .intro-box {
  width: 100%;
  padding-bottom: 100px;
}
/* line 208, ../../sass/units/eventindex.scss */
.eventindex-inner .col-right .intro-box p {
  width: 100%;
  letter-spacing: 4px;
  font-size: 18px;
  color: #f36f95;
  font-size: 14px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 10px;
  background-image: url("/images/bg-line-24pink.png");
}

/*# sourceMappingURL=eventindex.css.map */
