/* line 2, ../../sass/units/index.scss */
.section-scene {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* line 15, ../../sass/units/index.scss */
.section-scene1 {
  z-index: 4;
}

/* line 2, ../../sass/units/_index-scene1.scss */
.section-scene1 {
  padding-top: 0;
}
/* line 4, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-container {
  height: 100%;
}
/* line 7, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide {
  height: 100%;
  background-color: #503e36;
  cursor: pointer;
  overflow: hidden;
}
/* line 14, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-red .front {
  background-image: url("/images/bg-scene1-1.jpg");
}
/* line 16, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-red .front .btn-radius {
  background-color: rgba(173, 1, 42, 0.6);
}
/* line 20, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-red .back {
  background-color: #AD012A;
}
/* line 26, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-orange .front {
  background-image: url("/images/bg-scene1-2.jpg");
}
/* line 28, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-orange .front .btn-radius {
  background-color: rgba(231, 115, 69, 0.6);
}
/* line 32, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-orange .back {
  background-color: #E77345;
}
/* line 38, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-pink .front {
  background-image: url("/images/bg-scene1-3.jpg");
}
/* line 40, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-pink .front .btn-radius {
  background-color: rgba(231, 140, 187, 0.6);
}
/* line 44, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-pink .back {
  background-color: #E78CBB;
}
/* line 50, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-purple .front {
  background-image: url("/images/bg-scene1-4.jpg");
}
/* line 52, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-purple .front .btn-radius {
  background-color: rgba(116, 90, 155, 0.6);
}
/* line 56, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide.color-purple .back {
  background-color: #745A9B;
}
/* line 62, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide:hover .front {
  z-index: 0;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform: perspective(900) rotateY(-180deg);
  transform: perspective(900) rotateY(-180deg);
}
/* line 71, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide:hover .back {
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transform: perspective(900) rotateY(0);
  transform: perspective(900) rotateY(0);
}
/* line 81, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .front, .section-scene1 .swiper-slide .back {
  position: absolute;
  color: white;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 110px;
  text-align: center;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
@media (max-width: 1024px) {
  /* line 81, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .front, .section-scene1 .swiper-slide .back {
    padding-top: 80px;
  }
}
/* line 100, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .front {
  z-index: 1;
  background-position: center top;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transform: perspective(900) rotateY(0);
  transform: perspective(900) rotateY(0);
}
/* line 111, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .front .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 140px;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 111, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .front .content {
    padding-bottom: 100px;
  }
}
/* line 121, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .front .content .product-logo-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
@media (max-width: 1024px) {
  /* line 121, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .front .content .product-logo-box {
    width: 50%;
  }
}
/* line 131, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .front .content .product-logo-box:before {
  content: '';
  display: block;
  position: relative;
  padding-top: 58%;
}
/* line 141, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .front .content .btn-radius {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  white-space: nowrap;
}
@media (max-width: 1440px) {
  /* line 141, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .front .content .btn-radius {
    margin-left: 25px;
    margin-right: 25px;
    letter-spacing: 2px;
    font-size: 15px;
  }
}
@media (max-width: 1366px) {
  /* line 141, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .front .content .btn-radius {
    letter-spacing: 2px;
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  /* line 141, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .front .content .btn-radius {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  /* line 141, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .front .content .btn-radius {
    letter-spacing: 1px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }
}
/* line 166, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .front .content .btn-radius img {
  vertical-align: middle;
  margin-left: 8px;
}
/* line 173, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .back {
  z-index: 0;
  background-color: #699;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
/* line 181, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .back .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 140px;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 181, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .back .content {
    padding-bottom: 100px;
  }
}
/* line 192, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .back .product-img-box {
  position: absolute;
  bottom: 320px;
  top: 0;
  left: 0;
  right: 0;
  background-position: center bottom;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  /* line 192, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .back .product-img-box {
    top: 0;
    bottom: 150px;
  }
}
/* line 206, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .back .product-name {
  font-weight: normal;
  font-size: 32px;
  line-height: 1.4;
  padding-left: 0.5em;
  padding-right: 0.5em;
  letter-spacing: 2px;
}
@media (max-width: 1024px) {
  /* line 206, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .back .product-name {
    font-size: 18px;
  }
}
/* line 218, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .back .btn-radius-o {
  margin-top: 30px;
  white-space: nowrap;
}
@media (max-width: 1440px) {
  /* line 218, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .back .btn-radius-o {
    font-size: 15px;
  }
}
@media (max-width: 1366px) {
  /* line 218, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .back .btn-radius-o {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  /* line 218, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .back .btn-radius-o {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  /* line 218, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .back .btn-radius-o {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
  }
}
/* line 237, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .back .product-logo-box {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
/* line 246, ../../sass/units/_index-scene1.scss */
.section-scene1 .swiper-slide .back .product-logo-box:before {
  content: '';
  display: block;
  position: relative;
  padding-top: 58%;
}
@media (max-width: 1024px) {
  /* line 237, ../../sass/units/_index-scene1.scss */
  .section-scene1 .swiper-slide .back .product-logo-box {
    width: 50%;
    margin-top: 0;
  }
}

/* line 21, ../../sass/units/index.scss */
.section-scene2 {
  z-index: 3;
}

/* line 1, ../../sass/units/_index-scene2.scss */
.section-scene2 {
  background-color: #FFF4F2;
}
/* line 3, ../../sass/units/_index-scene2.scss */
.section-scene2 .swiper-container {
  height: 100%;
}
/* line 6, ../../sass/units/_index-scene2.scss */
.section-scene2 .swiper-slide {
  padding-top: 110px;
  height: 100%;
}
@media (max-width: 1024px) {
  /* line 6, ../../sass/units/_index-scene2.scss */
  .section-scene2 .swiper-slide {
    padding-top: 0;
    padding-bottom: 160px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/* line 17, ../../sass/units/_index-scene2.scss */
.detail-bg, .detail-describe {
  position: absolute;
  top: 0;
  bottom: 0;
}
@media (max-width: 1024px) {
  /* line 17, ../../sass/units/_index-scene2.scss */
  .detail-bg, .detail-describe {
    top: initial;
    bottom: initial;
    position: relative;
  }
}

/* line 27, ../../sass/units/_index-scene2.scss */
.detail-bg {
  left: 50%;
  right: 0;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1024px) {
  /* line 27, ../../sass/units/_index-scene2.scss */
  .detail-bg {
    left: initial;
    right: initial;
    height: 100vw;
  }
}
/* line 38, ../../sass/units/_index-scene2.scss */
.detail-bg::before {
  background: url("/images/bg-v-wave-20x100pink.svg") left top repeat-y transparent;
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px;
}
@media (max-width: 1024px) {
  /* line 38, ../../sass/units/_index-scene2.scss */
  .detail-bg::before {
    background: url("/images/bg-h-wave-64x15pink.svg") center bottom repeat-x transparent;
    top: initial;
    width: initial;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
  }
}

/* line 59, ../../sass/units/_index-scene2.scss */
.detail-describe {
  left: 0;
  right: 50%;
  background-color: #FFF4F2;
}
@media (max-width: 1024px) {
  /* line 59, ../../sass/units/_index-scene2.scss */
  .detail-describe {
    left: initial;
    right: initial;
  }
}
/* line 69, ../../sass/units/_index-scene2.scss */
.detail-describe.color-red .slogan {
  color: #ad012a;
}
/* line 75, ../../sass/units/_index-scene2.scss */
.detail-describe.color-orange .slogan {
  color: #e77345;
}
/* line 81, ../../sass/units/_index-scene2.scss */
.detail-describe.color-pink .slogan {
  color: #e78cbb;
}
/* line 87, ../../sass/units/_index-scene2.scss */
.detail-describe.color-purple .slogan {
  color: #745a9b;
}
/* line 92, ../../sass/units/_index-scene2.scss */
.detail-describe .content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 130px;
}
@media (max-width: 1366px) {
  /* line 92, ../../sass/units/_index-scene2.scss */
  .detail-describe .content {
    padding-top: 110px;
  }
}
@media (max-width: 1024px) {
  /* line 92, ../../sass/units/_index-scene2.scss */
  .detail-describe .content {
    padding-top: 30px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 107, ../../sass/units/_index-scene2.scss */
.detail-describe .content img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 113, ../../sass/units/_index-scene2.scss */
.detail-describe .content .name {
  font-size: 28px;
  font-weight: normal;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 20px;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  border-bottom: 1px solid #bbb;
}
@media (max-width: 1440px) {
  /* line 113, ../../sass/units/_index-scene2.scss */
  .detail-describe .content .name {
    padding-top: 30px;
    font-size: 24px;
    padding-bottom: 15px;
  }
}
@media (max-width: 1024px) {
  /* line 113, ../../sass/units/_index-scene2.scss */
  .detail-describe .content .name {
    margin-left: 0;
    margin-right: 0;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 137, ../../sass/units/_index-scene2.scss */
.detail-describe .content .slogan {
  font-weight: normal;
  font-size: 18px;
  padding: 20px;
  line-height: 1.3;
  border-bottom: 1px solid #bbb;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}
@media (max-width: 1024px) {
  /* line 137, ../../sass/units/_index-scene2.scss */
  .detail-describe .content .slogan {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    font-size: 15px;
  }
}
/* line 153, ../../sass/units/_index-scene2.scss */
.detail-describe .content .text {
  text-align: left;
  line-height: 2;
  padding: 1em 20px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 40px;
  margin-right: 40px;
}
@media (max-width: 1024px) {
  /* line 153, ../../sass/units/_index-scene2.scss */
  .detail-describe .content .text {
    padding-bottom: 1em;
    font-size: 13px;
    line-height: 1.6;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 27, ../../sass/units/index.scss */
.section-scene3 {
  z-index: 2;
}

/* line 1, ../../sass/units/_index-scene3.scss */
.section-scene3 {
  background-color: #9cc;
  padding-top: 110px;
  background-image: url("/images/bg-tvc.jpg");
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition-property: top, bottom, transform;
  transition-property: top, bottom, transform;
}
@media only screen and (orientation: portrait) {
  /* line 1, ../../sass/units/_index-scene3.scss */
  .section-scene3 {
    background-image: url("/images/bg-tvc-m.jpg");
  }
}
/* line 21, ../../sass/units/_index-scene3.scss */
.section-scene3:before {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
}
/* line 27, ../../sass/units/_index-scene3.scss */
.section-scene3 .open-tvc {
  margin-top: -146px;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 27, ../../sass/units/_index-scene3.scss */
  .section-scene3 .open-tvc {
    margin-top: -90px;
  }
}
@media (max-width: 1024px) {
  /* line 34, ../../sass/units/_index-scene3.scss */
  .section-scene3 .icon-play {
    width: 90px;
    height: 90px;
  }
}

/* line 33, ../../sass/units/index.scss */
.section-scene4 {
  z-index: 1;
}

/* line 1, ../../sass/units/_index-scene4.scss */
.section-scene4 {
  background-color: #FFF4F2;
}
@media (max-width: 1024px) {
  /* line 1, ../../sass/units/_index-scene4.scss */
  .section-scene4 {
    overflow: auto;
  }
}
/* line 6, ../../sass/units/_index-scene4.scss */
.section-scene4 .swiper-container {
  height: 100%;
  padding-top: 60px;
}
@media (max-width: 1024px) {
  /* line 6, ../../sass/units/_index-scene4.scss */
  .section-scene4 .swiper-container {
    padding-top: 0;
    padding-bottom: 160px;
    height: initial;
  }
}
/* line 14, ../../sass/units/_index-scene4.scss */
.section-scene4 .swiper-container .swiper-slide {
  display: block;
  padding-top: 110px;
  height: 100%;
}
@media (max-width: 1024px) {
  /* line 14, ../../sass/units/_index-scene4.scss */
  .section-scene4 .swiper-container .swiper-slide {
    padding-top: 0;
    min-width: 100vw;
  }
}
/* line 24, ../../sass/units/_index-scene4.scss */
.section-scene4 .swiper-container .swiper-slide:nth-child(odd) .news-img {
  top: 50%;
  bottom: 0;
}
/* line 28, ../../sass/units/_index-scene4.scss */
.section-scene4 .swiper-container .swiper-slide:nth-child(odd) .news-describe {
  top: 30px;
  bottom: 50%;
}
/* line 34, ../../sass/units/_index-scene4.scss */
.section-scene4 .swiper-container .swiper-slide:nth-child(even) .news-img {
  top: -60px;
  bottom: 50%;
}
/* line 38, ../../sass/units/_index-scene4.scss */
.section-scene4 .swiper-container .swiper-slide:nth-child(even) .news-describe {
  top: 50%;
  bottom: 30px;
}
@media (max-width: 1024px) {
  /* line 45, ../../sass/units/_index-scene4.scss */
  .section-scene4 .swiper-container .swiper-slide:nth-child(even) .news-img, .section-scene4 .swiper-container .swiper-slide:nth-child(even) .news-describe, .section-scene4 .swiper-container .swiper-slide:nth-child(odd) .news-img, .section-scene4 .swiper-container .swiper-slide:nth-child(odd) .news-describe {
    position: relative;
    top: initial;
    right: initial;
    bottom: initial;
    left: initial;
  }
}
@media (max-width: 1024px) {
  /* line 54, ../../sass/units/_index-scene4.scss */
  .section-scene4 .swiper-container .swiper-slide:nth-child(even) .news-img, .section-scene4 .swiper-container .swiper-slide:nth-child(odd) .news-img {
    height: 63vw;
  }
}
@media (max-width: 1024px) {
  /* line 59, ../../sass/units/_index-scene4.scss */
  .section-scene4 .swiper-container .swiper-slide:nth-child(even) .news-describe, .section-scene4 .swiper-container .swiper-slide:nth-child(odd) .news-describe {
    height: 200px;
  }
}
/* line 67, ../../sass/units/_index-scene4.scss */
.section-scene4 .swiper-container .swiper-slide:hover .btn-radius-o {
  color: white;
  background-color: #2C0A08;
}
/* line 73, ../../sass/units/_index-scene4.scss */
.section-scene4 .swiper-container .swiper-button-prev, .section-scene4 .swiper-container .swiper-button-next {
  margin-top: 0;
}
/* line 77, ../../sass/units/_index-scene4.scss */
.section-scene4 .shape-box {
  width: 30px;
  height: 30px;
  background-color: #FFF4F2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -16px;
}
@media (max-width: 1024px) {
  /* line 77, ../../sass/units/_index-scene4.scss */
  .section-scene4 .shape-box {
    top: 63vw;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
  }
}
/* line 96, ../../sass/units/_index-scene4.scss */
.section-scene4 .news-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
/* line 105, ../../sass/units/_index-scene4.scss */
.section-scene4 .news-describe {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
}
/* line 111, ../../sass/units/_index-scene4.scss */
.section-scene4 .news-describe .content {
  padding: 50px;
  position: relative;
  color: #2C0A08;
}
@media (max-width: 1024px) {
  /* line 111, ../../sass/units/_index-scene4.scss */
  .section-scene4 .news-describe .content {
    padding: 25px;
  }
}
/* line 120, ../../sass/units/_index-scene4.scss */
.section-scene4 .news-describe .title {
  font-size: 27px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-height: 800px) {
  /* line 120, ../../sass/units/_index-scene4.scss */
  .section-scene4 .news-describe .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
@media (max-height: 700px) {
  /* line 120, ../../sass/units/_index-scene4.scss */
  .section-scene4 .news-describe .title {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  /* line 120, ../../sass/units/_index-scene4.scss */
  .section-scene4 .news-describe .title {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
/* line 135, ../../sass/units/_index-scene4.scss */
.section-scene4 .news-describe .date {
  border-bottom: 1px solid #bbb;
  color: #bbb;
  font-weight: normal;
  padding-top: 1em;
  margin-bottom: 1em;
}
@media (max-width: 1024px) {
  /* line 135, ../../sass/units/_index-scene4.scss */
  .section-scene4 .news-describe .date {
    font-size: 13px;
    padding-top: 0.5em;
    padding-bottom: 4px;
  }
}
/* line 147, ../../sass/units/_index-scene4.scss */
.section-scene4 .news-describe .text {
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (max-height: 800px) {
  /* line 147, ../../sass/units/_index-scene4.scss */
  .section-scene4 .news-describe .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
@media (max-height: 700px) {
  /* line 147, ../../sass/units/_index-scene4.scss */
  .section-scene4 .news-describe .text {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  /* line 147, ../../sass/units/_index-scene4.scss */
  .section-scene4 .news-describe .text {
    font-size: 14px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
/* line 164, ../../sass/units/_index-scene4.scss */
.section-scene4 .news-describe .btn-wrap {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  /* line 164, ../../sass/units/_index-scene4.scss */
  .section-scene4 .news-describe .btn-wrap {
    position: relative;
    top: initial;
    right: initial;
    bottom: initial;
    left: initial;
  }
}
/* line 179, ../../sass/units/_index-scene4.scss */
.section-scene4 .news-describe .btn-radius-o {
  height: 35px;
  line-height: 35px;
  letter-spacing: 1px;
  padding-left: 40px;
  padding-right: 40px;
  color: #2C0A08;
  border-color: #2C0A08;
}
/* line 187, ../../sass/units/_index-scene4.scss */
.section-scene4 .news-describe .btn-radius-o:hover {
  color: white;
  background-color: #2C0A08;
}
/* line 194, ../../sass/units/_index-scene4.scss */
.section-scene4 .swiper-button-prev.swiper-button-disabled, .section-scene4 .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}
@media (max-width: 1024px) {
  /* line 201, ../../sass/units/_index-scene4.scss */
  .section-scene4 .swiper-wrapper {
    -moz-transform: initial !important;
    -ms-transform: initial !important;
    -webkit-transform: initial !important;
    transform: initial !important;
    display: block !important;
  }
  /* line 205, ../../sass/units/_index-scene4.scss */
  .section-scene4 .swiper-slide {
    position: relative !important;
    display: block !important;
    -webkit-overflow-scrolling: touch;
  }
  /* line 209, ../../sass/units/_index-scene4.scss */
  .section-scene4 .swiper-slide.style-empty {
    display: none !important;
  }
}

/* line 219, ../../sass/units/_index-scene4.scss */
.swiper-slide.style-empty .news-img {
  background-color: #613A2F;
}
/* line 223, ../../sass/units/_index-scene4.scss */
.swiper-slide.style-empty .shape-box {
  background-color: transparent;
}

/* line 227, ../../sass/units/_index-scene4.scss */
.choco {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 37px;
  right: 37px;
  background-color: #8A5448;
}
/* line 234, ../../sass/units/_index-scene4.scss */
.choco .right, .choco .bottom {
  position: absolute;
  background-color: #482E28;
}
/* line 237, ../../sass/units/_index-scene4.scss */
.choco .right::before, .choco .bottom::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #482E28 transparent;
}
/* line 247, ../../sass/units/_index-scene4.scss */
.choco .right {
  top: 50px;
  bottom: 0;
  right: 0;
  width: 50px;
}
/* line 252, ../../sass/units/_index-scene4.scss */
.choco .right::before {
  margin-top: -50px;
}
/* line 257, ../../sass/units/_index-scene4.scss */
.choco .bottom {
  bottom: 0;
  left: 50px;
  right: 0;
  height: 50px;
}
/* line 262, ../../sass/units/_index-scene4.scss */
.choco .bottom::before {
  margin-left: -50px;
}
/* line 266, ../../sass/units/_index-scene4.scss */
.choco .inner {
  position: absolute;
  background-color: #613A2F;
  top: 46px;
  bottom: 46px;
  left: 46px;
  right: 46px;
}

/*body*/
/* line 40, ../../sass/units/index.scss */
.scene1 .section-scene1 {
  top: 0;
  bottom: 0;
}

/*body*/
/* line 47, ../../sass/units/index.scss */
.scene2 .section-scene1 {
  top: -100%;
  bottom: 100%;
}
/* line 51, ../../sass/units/index.scss */
.scene2 .section-scene2 {
  top: 0;
  bottom: 0;
}

/*body*/
/* line 59, ../../sass/units/index.scss */
.scene3 .section-scene1, .scene3 .section-scene2 {
  top: -100%;
  bottom: 100%;
}
/* line 63, ../../sass/units/index.scss */
.scene3 .section-scene3 {
  top: 0;
  bottom: 0;
}

/*body*/
/* line 71, ../../sass/units/index.scss */
.scene4 .section-scene1, .scene4 .section-scene2, .scene4 .section-scene3 {
  top: -100%;
  bottom: 100%;
}
/* line 75, ../../sass/units/index.scss */
.scene4 .section-scene4 {
  top: 0;
  bottom: 0;
}

/*# sourceMappingURL=index.css.map */
