/* line 2, ../../sass/units/news-detail.scss */
body {
  background-color: #FFF4F2;
}

/* line 5, ../../sass/units/news-detail.scss */
.layout-view {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 1024px) {
  /* line 5, ../../sass/units/news-detail.scss */
  .layout-view {
    padding-bottom: 160px;
  }
}

/* line 12, ../../sass/units/news-detail.scss */
.inner {
  width: 1024px;
  margin: 0 auto;
  word-break: break-all;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
}

/* line 20, ../../sass/units/news-detail.scss */
.news-info {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

/* line 25, ../../sass/units/news-detail.scss */
.news-title {
  color: #2C0A08;
  font-size: 27px;
  line-height: 1.2;
  margin: 1.6em 0 0.8em 0;
}
@media (max-height: 700px) {
  /* line 25, ../../sass/units/news-detail.scss */
  .news-title {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  /* line 25, ../../sass/units/news-detail.scss */
  .news-title {
    margin-top: 1em;
    font-size: 18px;
  }
}

/* line 38, ../../sass/units/news-detail.scss */
.news-date {
  color: #bbb;
  font-weight: normal;
  padding-bottom: 10px;
}
@media (max-width: 1024px) {
  /* line 38, ../../sass/units/news-detail.scss */
  .news-date {
    font-size: 13px;
  }
}

/* line 46, ../../sass/units/news-detail.scss */
.news-content {
  padding-top: 30px;
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 17px;
  color: #2C0A08;
}
@media (max-height: 700px) {
  /* line 46, ../../sass/units/news-detail.scss */
  .news-content {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  /* line 46, ../../sass/units/news-detail.scss */
  .news-content {
    font-size: 14px;
    line-height: 1.3;
    padding-top: 20px;
  }
}
/* line 60, ../../sass/units/news-detail.scss */
.news-content img {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

/* line 68, ../../sass/units/news-detail.scss */
.btn-wrap {
  padding-top: 50px;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 68, ../../sass/units/news-detail.scss */
  .btn-wrap {
    padding-top: 10px;
  }
}

/* line 75, ../../sass/units/news-detail.scss */
.btn-radius-o {
  letter-spacing: 1px;
  padding-left: 80px;
  padding-right: 80px;
  color: #2C0A08;
  border-color: #2C0A08;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  /* line 75, ../../sass/units/news-detail.scss */
  .btn-radius-o {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* line 93, ../../sass/units/news-detail.scss */
.btn-radius-o:hover {
  color: white;
  background-color: #2C0A08;
}
/* line 97, ../../sass/units/news-detail.scss */
.btn-radius-o:hover .arrow-left:before {
  opacity: 0;
}
/* line 100, ../../sass/units/news-detail.scss */
.btn-radius-o:hover .arrow-left:after {
  opacity: 1;
}
/* line 106, ../../sass/units/news-detail.scss */
.btn-radius-o i {
  margin-right: 10px;
}

/* line 110, ../../sass/units/news-detail.scss */
.swiper-button-prev, .swiper-button-next {
  position: fixed;
}

/* line 113, ../../sass/units/news-detail.scss */
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

/*# sourceMappingURL=news-detail.css.map */
