/* line 2, ../../sass/units/result.scss */
#header {
  position: absolute;
  opacity: 0;
}

@media (max-width: 768px) {
  /* line 7, ../../sass/units/result.scss */
  .header-logo {
    left: 50%;
    margin-left: -40px;
  }
}
/* line 12, ../../sass/units/result.scss */
body {
  background-color: #FFD8DB;
  padding-top: 140px;
}
@media (max-width: 768px) {
  /* line 12, ../../sass/units/result.scss */
  body {
    padding-top: 80px;
  }
}

/* line 19, ../../sass/units/result.scss */
h2 {
  font-size: 22px;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 3px;
  color: #ff6895;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  /* line 19, ../../sass/units/result.scss */
  h2 {
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

/* line 34, ../../sass/units/result.scss */
.inner {
  position: relative;
  width: 700px;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  /* line 34, ../../sass/units/result.scss */
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 47, ../../sass/units/result.scss */
.inner .frame {
  position: relative;
  padding: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
}
@media (max-width: 768px) {
  /* line 47, ../../sass/units/result.scss */
  .inner .frame {
    padding: 8px;
  }
}
/* line 58, ../../sass/units/result.scss */
.inner .frame.is-hover .mask {
  opacity: 0;
}
/* line 61, ../../sass/units/result.scss */
.inner .frame.is-hover .frame-bottom p.msg span:not(.mask) {
  opacity: 1;
  max-height: 20em;
}
/* line 67, ../../sass/units/result.scss */
.inner .frame .logo {
  width: 80px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  margin-top: -10px;
}
@media (max-width: 768px) {
  /* line 67, ../../sass/units/result.scss */
  .inner .frame .logo {
    margin-top: 0;
  }
}
/* line 78, ../../sass/units/result.scss */
.inner .frame .img-wrap {
  position: relative;
}
/* line 80, ../../sass/units/result.scss */
.inner .frame .img-wrap .mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s ease, visibility 1s ease;
  -o-transition: opacity 1s ease, visibility 1s ease;
  transition: opacity 1s ease, visibility 1s ease;
}
/* line 88, ../../sass/units/result.scss */
.inner .frame canvas, .inner .frame img {
  max-width: 100%;
}
/* line 91, ../../sass/units/result.scss */
.inner .frame .photo {
  width: 100%;
  background-color: #777;
}
/* line 94, ../../sass/units/result.scss */
.inner .frame .photo:before {
  content: '';
  padding-top: 52%;
  display: block;
}
/* line 100, ../../sass/units/result.scss */
.inner .frame .frame-deco {
  display: block;
  position: absolute;
  width: 45%;
  right: 10px;
  margin-top: -10px;
}
@media (max-width: 768px) {
  /* line 100, ../../sass/units/result.scss */
  .inner .frame .frame-deco {
    position: relative;
    width: 40%;
    left: 60%;
  }
}
@media (max-width: 768px) {
  /* line 111, ../../sass/units/result.scss */
  .inner .frame .frame-deco.style-abs {
    display: none;
  }
}
/* line 116, ../../sass/units/result.scss */
.inner .frame .frame-deco.style-btm {
  display: none;
}
@media (max-width: 768px) {
  /* line 116, ../../sass/units/result.scss */
  .inner .frame .frame-deco.style-btm {
    display: block;
    margin-top: 10px;
  }
}
/* line 124, ../../sass/units/result.scss */
.inner .frame .frame-bottom {
  min-height: 110px;
}
@media (max-width: 768px) {
  /* line 124, ../../sass/units/result.scss */
  .inner .frame .frame-bottom {
    min-height: 90px;
  }
}
/* line 129, ../../sass/units/result.scss */
.inner .frame .frame-bottom p {
  font-size: 28px;
  color: black;
  text-align: left;
  letter-spacing: 0px;
  padding-top: 25px;
  margin: 0;
  line-height: 1;
}
@media (max-width: 768px) {
  /* line 129, ../../sass/units/result.scss */
  .inner .frame .frame-bottom p {
    font-size: 14px;
    padding-top: 5px;
  }
}
/* line 143, ../../sass/units/result.scss */
.inner .frame .frame-bottom p.msg {
  position: relative;
  line-height: 1.6;
  margin-bottom: 0;
  color: black;
  width: 16em;
  max-width: 50%;
  border-bottom: 1px solid black;
  font-size: 22px;
  letter-spacing: 5px;
  text-align: left;
  margin-top: 10px;
  padding-top: 0;
}
@media (max-width: 768px) {
  /* line 143, ../../sass/units/result.scss */
  .inner .frame .frame-bottom p.msg {
    width: 100%;
    max-width: 100%;
    line-height: 1.4;
    padding-top: 5px;
    font-size: 14px;
    letter-spacing: 2px;
  }
}
/* line 168, ../../sass/units/result.scss */
.inner .frame .frame-bottom p.msg span {
  display: block;
  max-height: 35px;
  overflow: hidden;
  -webkit-transition: opacity 1s ease, visibility 1s ease, color 1s ease, max-height 1s ease;
  -o-transition: opacity 1s ease, visibility 1s ease, color 1s ease, max-height 1s ease;
  transition: opacity 1s ease, visibility 1s ease, color 1s ease, max-height 1s ease;
}
@media (max-width: 768px) {
  /* line 168, ../../sass/units/result.scss */
  .inner .frame .frame-bottom p.msg span {
    max-height: 25px;
  }
}
/* line 176, ../../sass/units/result.scss */
.inner .frame .frame-bottom p.msg span:not(.mask) {
  color: black;
  opacity: 0;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 183, ../../sass/units/result.scss */
.inner .frame .frame-bottom p.msg span i.fa {
  margin-left: 10px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 187, ../../sass/units/result.scss */
.inner .frame .frame-bottom p.msg span img {
  padding-left: 10px;
  animation: moveX 1s infinite ease-in-out;
  -moz-animation: moveX 1s infinite ease-in-out;
  -webkit-animation: moveX 1s infinite ease-in-out;
}
/* line 194, ../../sass/units/result.scss */
.inner .frame .frame-bottom p.msg .mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}
/* line 202, ../../sass/units/result.scss */
.inner .frame .frame-bottom input {
  display: block;
  width: 50%;
  line-height: 2;
  letter-spacing: 4px;
  font-size: 18px;
  padding-left: 4px;
  margin-top: 10px;
  border: 0;
  border-bottom: 1px solid black;
}
/* line 214, ../../sass/units/result.scss */
.inner .frame + .shadow {
  display: block;
  position: absolute;
  left: -5%;
  right: -5%;
  width: 110%;
  /* top: 95%; */
  margin-top: -2%;
  z-index: 0;
}
/* line 225, ../../sass/units/result.scss */
.inner .btn-radius-lg {
  position: relative;
  margin-top: 40px;
  color: #775146;
  max-width: 100%;
}
@media (max-width: 768px) {
  /* line 225, ../../sass/units/result.scss */
  .inner .btn-radius-lg {
    margin-top: 20px;
  }
}

/* line 236, ../../sass/units/result.scss */
.btn-wrap {
  -webkit-transition: opacity 1s ease, visibility 1s ease;
  -o-transition: opacity 1s ease, visibility 1s ease;
  transition: opacity 1s ease, visibility 1s ease;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

/* line 242, ../../sass/units/result.scss */
.is-hide {
  opacity: 0;
  visibility: hidden;
}

/*# sourceMappingURL=result.css.map */
