@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
/* line 39, ../sass/vendors/_extend.scss */
.style-sansserif {
  font-family: "Helvetica Neue", Helvetica, Arial, Chinese, "微軟正黑體", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 8, ../sass/global.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/global.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/global.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/global.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/global.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../sass/global.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Chinese';
  unicode-range: U+4E00-9FFF;
  src: local(Noto Sans T Chinese), local(Lantinghei TC), local(LiHei Pro), local(微軟正黑體);
}
/* line 4, ../sass/vendors/_basic.scss */
body {
  position: relative;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Times New Roman','MINGLIU','PMINGLIU';
}

/* line 10, ../sass/vendors/_basic.scss */
input {
  font-family: 'Times New Roman','MINGLIU','PMINGLIU';
}

/* line 16, ../sass/vendors/_basic.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 20, ../sass/vendors/_basic.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/vendors/_basic.scss */
a {
  text-decoration: none;
}

/* line 30, ../sass/vendors/_basic.scss */
a, a:link, a:hover, a:active, a:visited {
  color: black;
}

/* line 34, ../sass/vendors/_basic.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 39, ../sass/vendors/_basic.scss */
.clearfix:after {
  clear: both;
}

/* line 1, ../sass/layouts/_view.scss */
::-moz-selection, ::selection {
  /* Code for Firefox */
}

/* line 3, ../sass/layouts/_view.scss */
html, body, .layout-container {
  height: 100%;
}

/* line 7, ../sass/layouts/_view.scss */
body {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  background-attachment: fixed;
}
@media (max-width: 1023px) {
  /* line 7, ../sass/layouts/_view.scss */
  body {
    height: auto !important;
  }
}
/* line 19, ../sass/layouts/_view.scss */
body.is-croping, body.is-slideup-footer {
  overflow: hidden;
}

/* line 27, ../sass/layouts/_view.scss */
.layout-container.is-covered .layout-view {
  opacity: 0.3;
}
/* line 30, ../sass/layouts/_view.scss */
.layout-container.is-covered #header {
  opacity: 0;
}

/* line 37, ../sass/layouts/_view.scss */
.layout-view {
  min-height: 100%;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

/* line 43, ../sass/layouts/_view.scss */
.col-left, .col-right {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
/* line 48, ../sass/layouts/_view.scss */
.col-left:last-child, .col-right:last-child {
  margin-left: -5px;
}
@media (max-width: 1024px) {
  /* line 48, ../sass/layouts/_view.scss */
  .col-left:last-child, .col-right:last-child {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  /* line 43, ../sass/layouts/_view.scss */
  .col-left, .col-right {
    width: 100%;
    display: block;
  }
}

/* line 60, ../sass/layouts/_view.scss */
a.nornal-link {
  text-decoration: underline;
}

/* line 66, ../sass/layouts/_view.scss */
.align-center {
  text-align: center;
}

@media (min-width: 1025px) {
  /* line 70, ../sass/layouts/_view.scss */
  .on-mobile {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  /* line 75, ../sass/layouts/_view.scss */
  .on-desk {
    display: none !important;
  }
}
/* line 80, ../sass/layouts/_view.scss */
.swiper-button-prev, .swiper-button-next {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  background-color: #C38D71;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
/* line 89, ../sass/layouts/_view.scss */
.swiper-button-prev:hover, .swiper-button-next:hover {
  width: 140px;
}
@media (max-width: 1024px) {
  /* line 89, ../sass/layouts/_view.scss */
  .swiper-button-prev:hover, .swiper-button-next:hover {
    width: 30px;
  }
}
@media (max-width: 1024px) {
  /* line 80, ../sass/layouts/_view.scss */
  .swiper-button-prev, .swiper-button-next {
    width: 30px;
    height: 30px;
    padding-left: 0;
    background-size: 50%;
  }
}
/* line 101, ../sass/layouts/_view.scss */
.swiper-button-prev span, .swiper-button-next span {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}

/* line 113, ../sass/layouts/_view.scss */
.swiper-button-prev {
  background-image: url("/images/arrow-left-16-w.svg");
  background-position: left 15px center;
  left: 0;
  padding-left: 60px;
}
@media (max-width: 1024px) {
  /* line 113, ../sass/layouts/_view.scss */
  .swiper-button-prev {
    padding-left: 0;
    background-position: left 7px center;
  }
}
/* line 122, ../sass/layouts/_view.scss */
.swiper-button-prev span {
  left: 60px;
  padding-right: 20px;
}

/* line 127, ../sass/layouts/_view.scss */
.swiper-button-next {
  background-image: url("/images/arrow-right-16-w.svg");
  background-position: right 15px center;
  right: 0;
  text-align: right;
  padding-right: 60px;
}
@media (max-width: 1024px) {
  /* line 127, ../sass/layouts/_view.scss */
  .swiper-button-next {
    padding-right: 0;
    background-position: right 7px center;
  }
}
/* line 137, ../sass/layouts/_view.scss */
.swiper-button-next span {
  right: 60px;
  padding-left: 20px;
}

/* line 145, ../sass/layouts/_view.scss */
.swiper-container .swiper-pagination {
  top: 50%;
  left: 30px;
  width: 12px;
  bottom: initial;
  padding-top: 64px;
}
@media (max-width: 1024px) {
  /* line 145, ../sass/layouts/_view.scss */
  .swiper-container .swiper-pagination {
    left: 10px;
    width: 6px;
    padding-top: 14px;
  }
}
/* line 156, ../sass/layouts/_view.scss */
.swiper-container .swiper-pagination .swiper-pagination-bullet {
  margin: 12px 0;
  width: 10px;
  height: 10px;
  opacity: 1;
  border: 1px solid #C38D71;
  background-color: transparent;
}
@media (max-width: 1024px) {
  /* line 156, ../sass/layouts/_view.scss */
  .swiper-container .swiper-pagination .swiper-pagination-bullet {
    margin: 7px 0;
    width: 6px;
    height: 6px;
  }
}
/* line 168, ../sass/layouts/_view.scss */
.swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #C38D71;
}

/* line 3, ../sass/layouts/_header.scss */
#header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  right: 0;
  -moz-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}
@media (max-width: 1024px) {
  /* line 3, ../sass/layouts/_header.scss */
  #header {
    width: 100vw;
    right: initial;
  }
}
/* line 17, ../sass/layouts/_header.scss */
#header.is-open + .header-menu {
  opacity: 1;
  visibility: visible;
}

/* line 24, ../sass/layouts/_header.scss */
.header-logo {
  position: absolute;
  display: block;
  /*it is a*/
  left: 50%;
  top: 40px;
  margin-left: -70px;
  width: 140px;
  z-index: 2;
  -moz-transition: opacity 0.8s ease, visiblility 0.8s ease;
  -o-transition: opacity 0.8s ease, visiblility 0.8s ease;
  -webkit-transition: opacity 0.8s ease, visiblility 0.8s ease;
  transition: opacity 0.8s ease, visiblility 0.8s ease;
}
/* line 34, ../sass/layouts/_header.scss */
.is-slideup-footer .header-logo, .is-croping .header-logo {
  visibility: hidden;
  opacity: 0;
}
/* line 38, ../sass/layouts/_header.scss */
.header-logo img {
  width: 100%;
}
@media (max-width: 768px) {
  /* line 24, ../sass/layouts/_header.scss */
  .header-logo {
    left: 15px;
    top: 10px;
    width: 80px;
    margin-left: 0;
  }
}

/* line 48, ../sass/layouts/_header.scss */
.header-left {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 3;
  padding-top: 45px;
  padding-left: 35px;
}
@media (max-width: 768px) {
  /* line 48, ../sass/layouts/_header.scss */
  .header-left {
    left: initial;
    right: 0;
    padding-top: 10px;
    padding-left: initial;
    padding-right: 10px;
  }
}
/* line 63, ../sass/layouts/_header.scss */
.header-left span {
  vertical-align: middle;
  padding-left: 8px;
  font-size: 14px;
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease;
  -o-transition: opacity 0.3s ease, visibility 0.3s ease;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
@media (max-width: 768px) {
  /* line 63, ../sass/layouts/_header.scss */
  .header-left span {
    display: none;
  }
}
/* line 71, ../sass/layouts/_header.scss */
.is-slideup-footer .header-left span, .is-croping .header-left span {
  opacity: 0;
  visibility: hidden;
}

/* line 78, ../sass/layouts/_header.scss */
.header-btn-hamburger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 24px;
}
/* line 84, ../sass/layouts/_header.scss */
.header-btn-hamburger i {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 92, ../sass/layouts/_header.scss */
.header-btn-hamburger i:nth-child(1) {
  top: 0;
}
/* line 95, ../sass/layouts/_header.scss */
.header-btn-hamburger i:nth-child(2) {
  top: 10px;
}
/* line 98, ../sass/layouts/_header.scss */
.header-btn-hamburger i:nth-child(3) {
  top: 20px;
}
/* line 105, ../sass/layouts/_header.scss */
.is-open .header-btn-hamburger i:nth-child(1), .is-slideup-footer .header-btn-hamburger i:nth-child(1), .is-croping .header-btn-hamburger i:nth-child(1) {
  top: 10px;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 109, ../sass/layouts/_header.scss */
.is-open .header-btn-hamburger i:nth-child(2), .is-slideup-footer .header-btn-hamburger i:nth-child(2), .is-croping .header-btn-hamburger i:nth-child(2) {
  opacity: 0;
}
/* line 112, ../sass/layouts/_header.scss */
.is-open .header-btn-hamburger i:nth-child(3), .is-slideup-footer .header-btn-hamburger i:nth-child(3), .is-croping .header-btn-hamburger i:nth-child(3) {
  top: 10px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* line 120, ../sass/layouts/_header.scss */
.header-menu {
  position: fixed;
  z-index: 98;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(119, 81, 70, 0.9);
  opacity: 0;
  visibility: hidden;
  text-align: center;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 132, ../sass/layouts/_header.scss */
.header-menu ul {
  position: relative;
  padding-top: 200px;
}
@media (max-height: 800px) {
  /* line 132, ../sass/layouts/_header.scss */
  .header-menu ul {
    padding-top: 160px;
  }
}
@media (max-width: 768px) {
  /* line 132, ../sass/layouts/_header.scss */
  .header-menu ul {
    padding-top: 60px;
  }
}
/* line 142, ../sass/layouts/_header.scss */
.header-menu ul li {
  width: 100%;
  text-align: center;
  line-height: 119px;
  height: 120px;
  font-size: 40px;
  letter-spacing: 30px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  white-space: nowrap;
}
/* line 153, ../sass/layouts/_header.scss */
.header-menu ul li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
/* line 156, ../sass/layouts/_header.scss */
.header-menu ul li a {
  color: white;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 165, ../sass/layouts/_header.scss */
.header-menu ul li:hover a, .header-menu ul li.is-active a {
  color: black;
}
@media (max-height: 900px) {
  /* line 142, ../sass/layouts/_header.scss */
  .header-menu ul li {
    height: 80px;
    line-height: 79px;
  }
}
@media (max-height: 600px) {
  /* line 142, ../sass/layouts/_header.scss */
  .header-menu ul li {
    font-size: 20px;
    line-height: 59px;
    height: 60px;
    letter-spacing: 10px;
    padding-left: 5px;
  }
}
@media (max-width: 768px) {
  /* line 142, ../sass/layouts/_header.scss */
  .header-menu ul li {
    font-size: 20px;
    line-height: 59px;
    height: 60px;
    letter-spacing: 10px;
    padding-left: 5px;
  }
}

/* line 192, ../sass/layouts/_header.scss */
.header-menu-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 560px;
  text-align: center;
}
@media (max-height: 900px) {
  /* line 192, ../sass/layouts/_header.scss */
  .header-menu-bottom {
    top: 440px;
  }
}
@media (max-height: 800px) {
  /* line 192, ../sass/layouts/_header.scss */
  .header-menu-bottom {
    top: 400px;
  }
}
@media (max-width: 768px) {
  /* line 192, ../sass/layouts/_header.scss */
  .header-menu-bottom {
    top: initial;
    position: relative;
    padding-top: 30px;
  }
}
@media (max-height: 550px) {
  /* line 192, ../sass/layouts/_header.scss */
  .header-menu-bottom {
    top: initial;
    position: relative;
    padding-top: 30px;
  }
}
/* line 215, ../sass/layouts/_header.scss */
.header-menu-bottom .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 768px) {
  /* line 215, ../sass/layouts/_header.scss */
  .header-menu-bottom .content {
    position: relative;
  }
}
@media (max-height: 550px) {
  /* line 215, ../sass/layouts/_header.scss */
  .header-menu-bottom .content {
    position: relative;
  }
}
/* line 226, ../sass/layouts/_header.scss */
.header-menu-bottom .content .sns-wrap {
  padding-bottom: 100px;
}
@media (max-height: 700px) {
  /* line 226, ../sass/layouts/_header.scss */
  .header-menu-bottom .content .sns-wrap {
    padding-bottom: 30px;
  }
}
/* line 231, ../sass/layouts/_header.scss */
.header-menu-bottom .content .sns-wrap a {
  color: white;
  font-size: 32px;
  margin-left: 20px;
  margin-right: 20px;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 237, ../sass/layouts/_header.scss */
.header-menu-bottom .content .sns-wrap a:hover {
  color: black;
}
/* line 242, ../sass/layouts/_header.scss */
.header-menu-bottom .content .info-wrap {
  padding-bottom: 50px;
  color: black;
  font-size: 14px;
  line-height: 1;
}
@media (max-width: 768px) {
  /* line 242, ../sass/layouts/_header.scss */
  .header-menu-bottom .content .info-wrap {
    padding-bottom: 15px;
  }
}
/* line 250, ../sass/layouts/_header.scss */
.header-menu-bottom .content .info-wrap img {
  width: 230px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 250, ../sass/layouts/_header.scss */
  .header-menu-bottom .content .info-wrap img {
    padding-bottom: 10px;
  }
}
/* line 257, ../sass/layouts/_header.scss */
.header-menu-bottom .content .info-wrap p span {
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  white-space: nowrap;
}
@media (max-width: 768px) {
  /* line 257, ../sass/layouts/_header.scss */
  .header-menu-bottom .content .info-wrap p span {
    line-height: 1.6;
  }
}

/* line 4, ../sass/layouts/_footer.scss */
#footer {
  z-index: 100;
  position: fixed;
  height: 95%;
  height: calc(100% - 75px );
  bottom: 0;
  right: 0;
  left: 0;
  -moz-transition-property: height;
  -o-transition-property: height;
  -webkit-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media (max-width: 1024px) {
  /* line 4, ../sass/layouts/_footer.scss */
  #footer {
    height: calc(100% - 30px );
  }
}
/* line 20, ../sass/layouts/_footer.scss */
#footer.is-open {
  height: 60px;
  z-index: 97;
}
/* line 23, ../sass/layouts/_footer.scss */
#footer.is-open .footer-inner:after {
  visibility: hidden;
  opacity: 0;
  -moz-transition-property: visibility, opacity;
  -o-transition-property: visibility, opacity;
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 33, ../sass/layouts/_footer.scss */
#footer.is-roll .roller {
  -moz-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  -webkit-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
}
/* line 37, ../sass/layouts/_footer.scss */
#footer.is-slideup, .is-slideup-footer #footer {
  height: 100%;
  height: calc( 100% + 60px );
}
/* line 40, ../sass/layouts/_footer.scss */
#footer.is-slideup .footer-inner, .is-slideup-footer #footer .footer-inner {
  overflow: auto;
  padding-bottom: 60px;
  padding-top: 110px;
}
/* line 45, ../sass/layouts/_footer.scss */
#footer.is-slideup .footer-btn, .is-slideup-footer #footer .footer-btn {
  height: 88px;
  padding-top: 60px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3NTE0NiIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzc1MTQ2IiBzdG9wLW9wYWNpdHk9IjAuOTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(119, 81, 70, 0.01)), color-stop(100%, rgba(119, 81, 70, 0.99)));
  background-image: -moz-linear-gradient(rgba(119, 81, 70, 0.01), rgba(119, 81, 70, 0.99));
  background-image: -webkit-linear-gradient(rgba(119, 81, 70, 0.01), rgba(119, 81, 70, 0.99));
  background-image: linear-gradient(rgba(119, 81, 70, 0.01), rgba(119, 81, 70, 0.99));
}

/* line 53, ../sass/layouts/_footer.scss */
.footer-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-image: url("/images/wave2.png");
  animation: wave 180s infinite linear , scaleY 16s infinite ease;
  -moz-animation: wave 180s infinite linear , scaleY 16s infinite ease;
  -webkit-animation: wave 180s infinite linear , scaleY 16s infinite ease;
  background-repeat: repeat-x;
  background-position: bottom;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

/* line 72, ../sass/layouts/_footer.scss */
.footer-btn {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 2;
  height: 28px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  -moz-transition: padding 0.2s ease, opacity 0.2s ease;
  -o-transition: padding 0.2s ease, opacity 0.2s ease;
  -webkit-transition: padding 0.2s ease, opacity 0.2s ease;
  transition: padding 0.2s ease, opacity 0.2s ease;
}
/* line 89, ../sass/layouts/_footer.scss */
.footer-btn.is-hide {
  padding-top: 30px;
  opacity: 0;
  -moz-transition-property: none;
  -o-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;
}
/* line 94, ../sass/layouts/_footer.scss */
.footer-btn span {
  cursor: pointer;
  padding: 0 1em;
  opacity: 0.4;
  color: white;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/* line 100, ../sass/layouts/_footer.scss */
.footer-btn span:hover {
  opacity: 0.6;
}
/* line 104, ../sass/layouts/_footer.scss */
.footer-btn span:not(.is-show).goto-scene3 {
  display: none;
}
/* line 106, ../sass/layouts/_footer.scss */
.scene1 .footer-btn span:not(.is-show).goto-scene3, .scene2 .footer-btn span:not(.is-show).goto-scene3 {
  display: block;
}
/* line 110, ../sass/layouts/_footer.scss */
.footer-btn span:not(.is-show).goto-scene4 {
  display: none;
}
/* line 112, ../sass/layouts/_footer.scss */
.scene3 .footer-btn span:not(.is-show).goto-scene4 {
  display: block;
}
/* line 116, ../sass/layouts/_footer.scss */
.footer-btn span:not(.is-show).goto-scene1 {
  display: none;
}
/* line 118, ../sass/layouts/_footer.scss */
.scene4 .footer-btn span:not(.is-show).goto-scene1 {
  display: block;
}
/* line 125, ../sass/layouts/_footer.scss */
.footer-btn .btn-skip-roll {
  color: #C38D71;
  opacity: 1;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

/* line 132, ../sass/layouts/_footer.scss */
.footer-inner {
  background-color: #775146;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  font-family: 'Times New Roman';
  padding-top: 50px;
}
/* line 144, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph > * {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}
@media (max-width: 1024px) {
  /* line 144, ../sass/layouts/_footer.scss */
  .footer-inner.style-paragraph > * {
    max-width: 100%;
    max-width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 158, ../sass/layouts/_footer.scss */
.footer-inner:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3NTE0NiIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzc1MTQ2IiBzdG9wLW9wYWNpdHk9IjAuOTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(119, 81, 70, 0.01)), color-stop(100%, rgba(119, 81, 70, 0.99)));
  background-image: -moz-linear-gradient(rgba(119, 81, 70, 0.01), rgba(119, 81, 70, 0.99));
  background-image: -webkit-linear-gradient(rgba(119, 81, 70, 0.01), rgba(119, 81, 70, 0.99));
  background-image: linear-gradient(rgba(119, 81, 70, 0.01), rgba(119, 81, 70, 0.99));
}
/* line 169, ../sass/layouts/_footer.scss */
.footer-inner img {
  width: 320px;
  max-width: 50%;
}
/* line 173, ../sass/layouts/_footer.scss */
.footer-inner h2 {
  font-size: 40px;
  letter-spacing: 5px;
  font-family: 'Times new roman';
  font-weight: normal;
  line-height: 1;
  padding-top: 80px;
  padding-bottom: 30px;
}
/* line 182, ../sass/layouts/_footer.scss */
.footer-inner .text-roll {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
}
/* line 186, ../sass/layouts/_footer.scss */
.footer-inner .text-roll:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 160px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3NTE0NiIgc3RvcC1vcGFjaXR5PSIwLjk5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzc1MTQ2IiBzdG9wLW9wYWNpdHk9IjAuMDEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(119, 81, 70, 0.99)), color-stop(100%, rgba(119, 81, 70, 0.01)));
  background-image: -moz-linear-gradient(rgba(119, 81, 70, 0.99), rgba(119, 81, 70, 0.01));
  background-image: -webkit-linear-gradient(rgba(119, 81, 70, 0.99), rgba(119, 81, 70, 0.01));
  background-image: linear-gradient(rgba(119, 81, 70, 0.99), rgba(119, 81, 70, 0.01));
}
/* line 198, ../sass/layouts/_footer.scss */
.footer-inner .text-roll .roller {
  -moz-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  -webkit-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 20s;
  -o-transition-duration: 20s;
  -webkit-transition-duration: 20s;
  transition-duration: 20s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 206, ../sass/layouts/_footer.scss */
.footer-inner h3 {
  font-size: 22px;
  letter-spacing: 5px;
  font-family: 'Times new roman';
  font-weight: normal;
  line-height: 1;
  padding-top: 80px;
  padding-bottom: 10px;
}
/* line 215, ../sass/layouts/_footer.scss */
.footer-inner p {
  font-size: 17px;
  line-height: 2;
  letter-spacing: 3px;
}

/* line 224, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph h4 {
  font-size: 20px;
  text-align: left;
  letter-spacing: 3px;
  font-weight: normal;
  color: #ff6895;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media (max-width: 1024px) {
  /* line 224, ../sass/layouts/_footer.scss */
  .footer-inner.style-paragraph h4 {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
}
/* line 241, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph h4:first-child {
  margin-top: 0;
}
/* line 245, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph ul {
  text-align: left;
}
/* line 248, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph p, .footer-inner.style-paragraph li {
  text-align: left;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 1024px) {
  /* line 248, ../sass/layouts/_footer.scss */
  .footer-inner.style-paragraph p, .footer-inner.style-paragraph li {
    letter-spacing: 1px;
    line-height: 1.4;
  }
}
/* line 259, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph p strong, .footer-inner.style-paragraph li strong {
  color: #ff6895;
  font-weight: 500;
}
/* line 263, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph p small, .footer-inner.style-paragraph li small {
  color: #C38D71;
  font-size: 14px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 270, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph p {
  font-size: 14px;
}
@media (max-width: 1024px) {
  /* line 270, ../sass/layouts/_footer.scss */
  .footer-inner.style-paragraph p {
    font-size: 12px;
  }
}
/* line 276, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph li {
  font-size: 18px;
  display: inline;
}
@media (max-width: 1024px) {
  /* line 276, ../sass/layouts/_footer.scss */
  .footer-inner.style-paragraph li {
    font-size: 12px;
  }
}
/* line 283, ../sass/layouts/_footer.scss */
.footer-inner.style-paragraph li::before {
  content: '';
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #ff6895;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  /* line 283, ../sass/layouts/_footer.scss */
  .footer-inner.style-paragraph li::before {
    width: 4px;
    height: 4px;
    margin-left: 4px;
    margin-right: 4px;
  }
}

/* line 2, ../sass/module/_lightbox.scss */
[class^="open-"] {
  cursor: pointer;
}

/* line 6, ../sass/module/_lightbox.scss */
.layout-popup-wrap {
  position: fixed;
  z-index: 102;
  top: 100px;
  right: 100px;
  bottom: 100px;
  left: 100px;
  font-size: 16px;
  color: #111111;
  font-weight: 500;
  text-align: center;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media only screen and (orientation: portrait) {
  /* line 6, ../sass/module/_lightbox.scss */
  .layout-popup-wrap {
    left: 30px;
    right: 30px;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  /* line 6, ../sass/module/_lightbox.scss */
  .layout-popup-wrap {
    left: 30px;
    right: 30px;
    bottom: 30px;
  }
}
/* line 33, ../sass/module/_lightbox.scss */
.layout-popup-wrap.is-on {
  opacity: 1;
}
/* line 37, ../sass/module/_lightbox.scss */
.layout-popup-wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 45, ../sass/module/_lightbox.scss */
.layout-popup-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgba(119, 81, 70, 0.9);
  opacity: 1;
  -moz-transition-property: background-color, opacity;
  -o-transition-property: background-color, opacity;
  -webkit-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 58, ../sass/module/_lightbox.scss */
.layout-popup-background.is-on {
  background-color: rgba(119, 81, 70, 0.9);
}

/* line 65, ../sass/module/_lightbox.scss */
.popup-btn-close {
  position: absolute;
  display: inline-block;
  top: 45px;
  right: 35px;
  width: 32px;
  height: 24px;
  cursor: pointer;
  opacity: 0.7;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
/* line 75, ../sass/module/_lightbox.scss */
.popup-btn-close:hover {
  opacity: 1;
}
/* line 78, ../sass/module/_lightbox.scss */
.popup-btn-close i {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
}
/* line 85, ../sass/module/_lightbox.scss */
.popup-btn-close i:nth-child(1) {
  top: 10px;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 89, ../sass/module/_lightbox.scss */
.popup-btn-close i:nth-child(2) {
  top: 10px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* line 1, ../sass/module/_lightbox-crop.scss */
#popcrop {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(119, 81, 70, 0.9);
  z-index: 97;
  text-align: center;
  padding-top: 10%;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/module/_lightbox-crop.scss */
  #popcrop {
    padding-top: 50px;
  }
}
/* line 20, ../sass/module/_lightbox-crop.scss */
#popcrop .frame {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 25px;
  width: 675px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  /* line 20, ../sass/module/_lightbox-crop.scss */
  #popcrop .frame {
    padding: 8px;
    width: 90%;
    width: calc( 100% - 60px );
  }
}
/* line 37, ../sass/module/_lightbox-crop.scss */
#popcrop .frame.is-loading::after {
  content: 'LOADING...';
  display: block;
  position: absolute;
  padding-top: 60px;
  color: #C38D71;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 11;
}
/* line 52, ../sass/module/_lightbox-crop.scss */
#popcrop .frame canvas {
  max-width: 100%;
}
/* line 55, ../sass/module/_lightbox-crop.scss */
#popcrop .frame p.helper {
  line-height: 1.6;
  padding-top: 40px;
  margin-bottom: 35px;
  color: black;
  width: 10em;
  max-width: 50%;
  border-bottom: 1px solid black;
  font-size: 22px;
  letter-spacing: 5px;
  text-align: left;
}
@media (max-width: 768px) {
  /* line 55, ../sass/module/_lightbox-crop.scss */
  #popcrop .frame p.helper {
    font-size: 13px;
    letter-spacing: 2px;
    padding-top: 10px;
    margin-bottom: 5px;
    max-width: 100%;
    width: 100%;
  }
}
/* line 77, ../sass/module/_lightbox-crop.scss */
#popcrop.is-show {
  visibility: visible;
  opacity: 1;
}
/* line 81, ../sass/module/_lightbox-crop.scss */
#popcrop .btn-popclose {
  position: absolute;
  right: -2em;
  top: -2em;
}
/* line 87, ../sass/module/_lightbox-crop.scss */
#popcrop .btn-radius-o {
  height: 35px;
  line-height: 35px;
  letter-spacing: 1px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  color: #2C0A08;
  border-color: #2C0A08;
  cursor: pointer;
}
/* line 97, ../sass/module/_lightbox-crop.scss */
#popcrop .btn-radius-o:hover {
  color: white;
  background-color: #2C0A08;
}

/* line 105, ../sass/module/_lightbox-crop.scss */
.image-editor button {
  border: 0;
}
/* line 111, ../sass/module/_lightbox-crop.scss */
.image-editor .cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  max-width: 100%;
}
/* line 120, ../sass/module/_lightbox-crop.scss */
.image-editor .cropit-preview::before {
  content: '';
  padding-top: 52%;
  display: block;
}
/* line 130, ../sass/module/_lightbox-crop.scss */
.image-editor .cropit-preview-image-container {
  cursor: move;
  text-align: left;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-transform: translateX(0.00000001%);
  -ms-transform: translateX(0.00000001%);
  -webkit-transform: translateX(0.00000001%);
  transform: translateX(0.00000001%);
  background-color: #ddd;
}
/* line 138, ../sass/module/_lightbox-crop.scss */
.image-editor .cropit-preview-background {
  opacity: .1;
  -webkit-filter: blur(10px);
  /* Chrome, Safari, Opera */
  filter: blur(10px);
  cursor: auto;
}
/* line 145, ../sass/module/_lightbox-crop.scss */
.image-editor .image-size-label {
  margin-top: 10px;
}
/* line 149, ../sass/module/_lightbox-crop.scss */
.image-editor .crop-panel-top, .image-editor .crop-panel-bottom {
  /* Use relative position to prevent from being covered by image background */
  position: relative;
  z-index: 10;
  display: block;
  text-align: center;
}
/* line 156, ../sass/module/_lightbox-crop.scss */
.image-editor .funcbox {
  padding-top: 2em;
  color: #555;
  min-height: 115px;
  text-align: left;
}
/* line 161, ../sass/module/_lightbox-crop.scss */
.image-editor .funcbox button {
  background-color: transparent;
}
/* line 164, ../sass/module/_lightbox-crop.scss */
.image-editor .funcbox button i {
  color: #555;
}
/* line 167, ../sass/module/_lightbox-crop.scss */
.image-editor .funcbox p {
  line-height: 1.6;
  padding-top: 25px;
  color: black;
  width: 10em;
  max-width: 100%;
  border-bottom: 1px solid black;
  font-size: 20px;
  letter-spacing: 5px;
}
@media (max-width: 768px) {
  /* line 167, ../sass/module/_lightbox-crop.scss */
  .image-editor .funcbox p {
    width: 100%;
    font-size: 13px;
    letter-spacing: 2px;
  }
}
/* line 183, ../sass/module/_lightbox-crop.scss */
.image-editor .btnbox {
  position: relative;
  padding-top: 30px;
}
@media (max-width: 1024px) {
  /* line 183, ../sass/module/_lightbox-crop.scss */
  .image-editor .btnbox {
    padding-top: 20px;
  }
}
/* line 190, ../sass/module/_lightbox-crop.scss */
.image-editor .btn-saveimg {
  display: inline-block;
  padding: 25px;
  width: 240px;
  margin: 0 20px;
  margin-bottom: 20px;
  border: 1px solid white;
  background-color: white;
  color: #775146;
  font-size: 19px;
  letter-spacing: 3px;
  vertical-align: top;
  cursor: pointer;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  -moz-transition: color 0.2s ease, background-color 0.2s ease;
  -o-transition: color 0.2s ease, background-color 0.2s ease;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease;
}
@media (max-width: 1024px) {
  /* line 190, ../sass/module/_lightbox-crop.scss */
  .image-editor .btn-saveimg {
    display: block;
    margin: 0 auto;
    height: 45px;
    padding: 10px;
    font-size: 14px;
    width: 150px;
    margin-bottom: 10px;
  }
}
/* line 215, ../sass/module/_lightbox-crop.scss */
.image-editor .btn-saveimg:hover {
  color: #775146;
  background-color: white;
}
/* line 219, ../sass/module/_lightbox-crop.scss */
.image-editor .btn-saveimg img {
  vertical-align: middle;
  margin-right: 15px;
}
@media (max-width: 1024px) {
  /* line 219, ../sass/module/_lightbox-crop.scss */
  .image-editor .btn-saveimg img {
    margin-right: 5px;
    max-width: 16px;
  }
}
/* line 229, ../sass/module/_lightbox-crop.scss */
.image-editor .cropit-image-input-wrap {
  margin-bottom: 20px;
}
/* line 230, ../sass/module/_lightbox-crop.scss */
.image-editor .cropit-image-input-wrap img {
  vertical-align: middle;
  margin-right: 15px;
}
@media (max-width: 1024px) {
  /* line 230, ../sass/module/_lightbox-crop.scss */
  .image-editor .cropit-image-input-wrap img {
    margin-right: 5px;
    max-width: 16px;
  }
}
/* line 240, ../sass/module/_lightbox-crop.scss */
.image-editor .cropit-preview-image {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 246, ../sass/module/_lightbox-crop.scss */
.cropit-image-zoom-input {
  width: 130px;
  margin: 0 0.5em;
}
@media (max-width: 320px) {
  /* line 246, ../sass/module/_lightbox-crop.scss */
  .cropit-image-zoom-input {
    width: 80px;
  }
}

/* line 254, ../sass/module/_lightbox-crop.scss */
.cropit-image-zoom-input.custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  cursor: move;
}

/* line 266, ../sass/module/_lightbox-crop.scss */
.cropit-image-zoom-input.custom::-moz-range-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}

/* line 277, ../sass/module/_lightbox-crop.scss */
.cropit-image-zoom-input.custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #888;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  -ms-transition: background 0.25s;
  transition: background 0.25s;
}

/* line 293, ../sass/module/_lightbox-crop.scss */
.cropit-image-zoom-input.custom::-webkit-slider-thumb:active {
  background: #bbb;
}

/* line 297, ../sass/module/_lightbox-crop.scss */
.cropit-image-zoom-input.custom::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #888;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  -ms-transition: background 0.25s;
  transition: background 0.25s;
}

/* line 313, ../sass/module/_lightbox-crop.scss */
.cropit-image-zoom-input.custom::-moz-range-thumb:active {
  background: #bbb;
}

/* line 316, ../sass/module/_lightbox-crop.scss */
.cropit-image-input-wrap {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 75px;
  line-height: 73px;
  letter-spacing: 3px;
  font-size: 19px;
  border: 1px solid white;
  background: transparent;
  color: white;
  vertical-align: top;
  cursor: pointer;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
}
@media (max-width: 1024px) {
  /* line 316, ../sass/module/_lightbox-crop.scss */
  .cropit-image-input-wrap {
    height: 45px;
    /* padding: 10px; */
    line-height: 45px;
    font-size: 14px;
    width: 150px;
  }
}
/* line 337, ../sass/module/_lightbox-crop.scss */
.cropit-image-input-wrap input {
  width: 240px;
  height: 75px;
  font-size: 1em;
  opacity: 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
/* line 348, ../sass/module/_lightbox-crop.scss */
.cropit-image-input-wrap input * {
  cursor: pointer;
}

/* line 353, ../sass/module/_lightbox-crop.scss */
.cropit-image-input {
  cursor: pointer;
}

/* line 360, ../sass/module/_lightbox-crop.scss */
.image-mosaicer, .image-finalpreview {
  margin-bottom: 60px;
}
/* line 362, ../sass/module/_lightbox-crop.scss */
.image-mosaicer .img-wrap, .image-finalpreview .img-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  position: relative;
}
/* line 373, ../sass/module/_lightbox-crop.scss */
.image-mosaicer .canvas-outer, .image-finalpreview .canvas-outer {
  position: relative;
}
/* line 376, ../sass/module/_lightbox-crop.scss */
.image-mosaicer .btn-radius-lg, .image-finalpreview .btn-radius-lg {
  position: relative;
  margin-top: 40px;
  color: #775146;
  max-width: calc( 100% - 60px );
}
@media (max-width: 1024px) {
  /* line 376, ../sass/module/_lightbox-crop.scss */
  .image-mosaicer .btn-radius-lg, .image-finalpreview .btn-radius-lg {
    margin-top: 20px;
  }
}

/* line 389, ../sass/module/_lightbox-crop.scss */
.image-mosaicer .resize-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 396, ../sass/module/_lightbox-crop.scss */
.image-mosaicer .resize-drag {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 5px dotted black;
  cursor: move;
}

/* line 407, ../sass/module/_lightbox-crop.scss */
.image-finalpreview form {
  padding-top: 30px;
}
@media (max-width: 1024px) {
  /* line 407, ../sass/module/_lightbox-crop.scss */
  .image-finalpreview form {
    padding-top: 20px;
  }
}
/* line 413, ../sass/module/_lightbox-crop.scss */
.image-finalpreview .btn-radius-lg {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0 !important;
}
@media (max-width: 1024px) {
  /* line 413, ../sass/module/_lightbox-crop.scss */
  .image-finalpreview .btn-radius-lg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: #2C0A08;
  }
}
/* line 426, ../sass/module/_lightbox-crop.scss */
.image-finalpreview a.btn-radius-lg {
  border: 1px solid white;
  background: transparent;
  color: white !important;
}

/* line 435, ../sass/module/_lightbox-crop.scss */
#temp {
  height: 0;
  overflow: hidden;
}

/* line 444, ../sass/module/_lightbox-crop.scss */
.image-editor.is-hide, .image-mosaicer.is-hide, .image-finalpreview.is-hide {
  opacity: 0.8;
  height: 0;
  width: 0;
  overflow: hidden;
  margin-bottom: 0;
}

/* line 457, ../sass/module/_lightbox-crop.scss */
.outputimg-origin, .outputimg-mosaic {
  opacity: 0.5;
  max-width: 240px;
}

/* line 462, ../sass/module/_lightbox-crop.scss */
#popcrop.is-show {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 1, ../sass/module/_button.scss */
input[type="button"], input[type="submit"], button {
  border: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
}
/* line 5, ../sass/module/_button.scss */
input[type="button"]:active, input[type="submit"]:active, button:active {
  border-style: initial;
}

/* line 10, ../sass/module/_button.scss */
.module-btn {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 4px;
  margin-bottom: 8px;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
/* line 23, ../sass/module/_button.scss */
.module-btn:hover {
  color: white;
}
/* line 26, ../sass/module/_button.scss */
.module-btn .module-icon {
  margin-right: 4px;
}

/* line 30, ../sass/module/_button.scss */
.btn-radius {
  display: block;
  height: 54px;
  line-height: 54px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  background-color: rgba(128, 128, 128, 0.2);
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border-radius: 27px;
}

/* line 40, ../sass/module/_button.scss */
.btn-radius-o {
  display: inline-block;
  height: 54px;
  line-height: 54px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  border: 1px solid white;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border-radius: 27px;
  -moz-transition: color 0.2s ease, background-color 0.2s ease;
  -o-transition: color 0.2s ease, background-color 0.2s ease;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease;
}

/* line 53, ../sass/module/_button.scss */
.btn-radius-lg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  max-width: 100%;
  height: 75px;
  line-height: 75px;
  font-size: 19px;
  cursor: pointer;
  color: #C38D71;
  text-align: center;
  letter-spacing: 3px;
  background-color: white;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  border-radius: 38px;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (max-width: 1024px) {
  /* line 53, ../sass/module/_button.scss */
  .btn-radius-lg {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    width: 150px;
    margin-top: 30px;
  }
}
/* line 77, ../sass/module/_button.scss */
.btn-radius-lg:link, .btn-radius-lg:hover, .btn-radius-lg:active, .btn-radius-lg:visited {
  color: #C38D71;
}
/* line 82, ../sass/module/_button.scss */
.btn-radius-lg img {
  vertical-align: middle;
  margin-right: 15px;
}
@media (max-width: 1024px) {
  /* line 82, ../sass/module/_button.scss */
  .btn-radius-lg img {
    margin-right: 5px;
    max-width: 16px;
    max-height: 19px;
  }
}

/* line 1, ../sass/module/_icon.scss */
.module-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: text-bottom;
}

/* line 8, ../sass/module/_icon.scss */
.icon-play {
  width: 146px;
  height: 146px;
  display: inline-block;
  position: relative;
}
/* line 14, ../sass/module/_icon.scss */
.icon-play:before, .icon-play:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 28, ../sass/module/_icon.scss */
.icon-play:before {
  background-image: url("/images/btn-play.svg");
  opacity: 1;
}
/* line 32, ../sass/module/_icon.scss */
.icon-play:after {
  background-image: url("/images/btn-play-hover.svg");
  opacity: 0;
}
/* line 38, ../sass/module/_icon.scss */
.icon-play:hover:before {
  opacity: 0;
}
/* line 41, ../sass/module/_icon.scss */
.icon-play:hover:after {
  opacity: 1;
}

/* line 47, ../sass/module/_icon.scss */
.arrow-right, .arrow-left {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: text-top;
}
/* line 54, ../sass/module/_icon.scss */
.arrow-right:before, .arrow-right:after, .arrow-left:before, .arrow-left:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 69, ../sass/module/_icon.scss */
.arrow-right:hover:before, .arrow-left:hover:before {
  opacity: 0;
}
/* line 72, ../sass/module/_icon.scss */
.arrow-right:hover:after, .arrow-left:hover:after {
  opacity: 1;
}

/* line 80, ../sass/module/_icon.scss */
.arrow-right:before {
  background-image: url("/images/arrow-right-16-darkbrown.svg");
  opacity: 1;
}
/* line 84, ../sass/module/_icon.scss */
.arrow-right:after {
  background-image: url("/images/arrow-right-16-w.svg");
  opacity: 0;
}

/* line 94, ../sass/module/_icon.scss */
.arrow-left:before {
  background-image: url("/images/arrow-left-16-darkbrown.svg");
  opacity: 1;
}
/* line 98, ../sass/module/_icon.scss */
.arrow-left:after {
  background-image: url("/images/arrow-left-16-w.svg");
  opacity: 0;
}

@keyframes shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wave {
  0% {
    left: 0;
  }
  100% {
    left: -1920px;
    /*image width*/
  }
}
@-webkit-keyframes wave {
  0% {
    left: 0;
  }
  100% {
    left: -1920px;
    /*image width*/
  }
}
@keyframes moveX {
  0% {
    margin-left: 0;
  }
  40% {
    margin-left: 4px;
  }
  50% {
    margin-left: 4px;
  }
  90% {
    margin-left: 0;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes moveX {
  0% {
    margin-left: 0;
  }
  40% {
    margin-left: 4px;
  }
  50% {
    margin-left: 4px;
  }
  90% {
    margin-left: 0;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes scaleY {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -moz-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes scaleY {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -moz-transform: scaleY(0.8);
    -ms-transform: scaleY(0.8);
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes bannerTxt1 {
  0% {
    content: ' ';
  }
  3% {
    content: 'D';
  }
  6% {
    content: 'De';
  }
  9% {
    content: 'Des';
  }
  12% {
    content: 'Desi';
  }
  15% {
    content: 'Desir';
  }
  18% {
    content: 'Desire';
  }
  21% {
    content: 'Desire';
  }
  22% {
    content: 'Desir';
  }
  23% {
    content: 'Desi';
  }
  24% {
    content: 'Des';
  }
  25% {
    content: 'De';
  }
  26% {
    content: 'D';
  }
  27% {
    content: ' ';
  }
  30% {
    content: ' ';
  }
  33% {
    content: '享';
  }
  36% {
    content: '享樂';
  }
  39% {
    content: '享樂其';
  }
  42% {
    content: '享樂其中';
  }
  45% {
    content: '享樂其中';
  }
  46% {
    content: '享樂其';
  }
  47% {
    content: '享樂';
  }
  48% {
    content: '享';
  }
  49% {
    content: ' ';
  }
  52% {
    content: ' ';
  }
  55% {
    content: '美';
  }
  58% {
    content: '美好';
  }
  61% {
    content: '美好放';
  }
  64% {
    content: '美好放縱';
  }
  67% {
    content: '美好放縱';
  }
  68% {
    content: '美好放';
  }
  69% {
    content: '美好';
  }
  70% {
    content: '美';
  }
  71% {
    content: ' ';
  }
  74% {
    content: ' ';
  }
  77% {
    content: '不';
  }
  80% {
    content: '不絕';
  }
  83% {
    content: '不絕對';
  }
  86% {
    content: '不絕對慾';
  }
  89% {
    content: '不絕對慾幸';
  }
  92% {
    content: '不絕對慾幸戀';
  }
  95% {
    content: '不絕對慾幸戀';
  }
  96% {
    content: '不絕對慾幸';
  }
  97% {
    content: '不絕對慾';
  }
  98% {
    content: '不絕對';
  }
  99% {
    content: '不絕';
  }
  100% {
    content: '不';
  }
}
@-webkit-keyframes bannerTxt1 {
  0% {
    content: ' ';
  }
  3% {
    content: 'D';
  }
  6% {
    content: 'De';
  }
  9% {
    content: 'Des';
  }
  12% {
    content: 'Desi';
  }
  15% {
    content: 'Desir';
  }
  18% {
    content: 'Desire';
  }
  21% {
    content: 'Desire';
  }
  22% {
    content: 'Desir';
  }
  23% {
    content: 'Desi';
  }
  24% {
    content: 'Des';
  }
  25% {
    content: 'De';
  }
  26% {
    content: 'D';
  }
  27% {
    content: ' ';
  }
  30% {
    content: ' ';
  }
  33% {
    content: '享';
  }
  36% {
    content: '享樂';
  }
  39% {
    content: '享樂其';
  }
  42% {
    content: '享樂其中';
  }
  45% {
    content: '享樂其中';
  }
  46% {
    content: '享樂其';
  }
  47% {
    content: '享樂';
  }
  48% {
    content: '享';
  }
  49% {
    content: ' ';
  }
  52% {
    content: ' ';
  }
  55% {
    content: '美';
  }
  58% {
    content: '美好';
  }
  61% {
    content: '美好放';
  }
  64% {
    content: '美好放縱';
  }
  67% {
    content: '美好放縱';
  }
  68% {
    content: '美好放';
  }
  69% {
    content: '美好';
  }
  70% {
    content: '美';
  }
  71% {
    content: ' ';
  }
  74% {
    content: ' ';
  }
  77% {
    content: '不';
  }
  80% {
    content: '不絕';
  }
  83% {
    content: '不絕對';
  }
  86% {
    content: '不絕對慾';
  }
  89% {
    content: '不絕對慾幸';
  }
  92% {
    content: '不絕對慾幸戀';
  }
  95% {
    content: '不絕對慾幸戀';
  }
  96% {
    content: '不絕對慾幸';
  }
  97% {
    content: '不絕對慾';
  }
  98% {
    content: '不絕對';
  }
  99% {
    content: '不絕';
  }
  100% {
    content: '不';
  }
}
/* line 2, ../sass/module/_fix-banner.scss */
.fix-banner {
  display: block;
  background-color: #FF738F;
  min-width: 465px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
  -moz-transition: bottom 0.3s ease;
  -o-transition: bottom 0.3s ease;
  -webkit-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}
@media (max-width: 1024px) {
  /* line 15, ../sass/module/_fix-banner.scss */
  .scene1 .fix-banner {
    bottom: 0;
    z-index: 100;
  }
}
@media (max-width: 1280px) {
  /* line 2, ../sass/module/_fix-banner.scss */
  .fix-banner {
    min-width: 365px;
  }
}
@media (max-width: 1024px) {
  /* line 2, ../sass/module/_fix-banner.scss */
  .fix-banner {
    right: 0;
    top: initial;
    bottom: 60px;
    min-width: 0;
    max-width: calc( 100% - 20px );
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
  }
}
/* line 34, ../sass/module/_fix-banner.scss */
.fix-banner .center-content {
  width: 100%;
  border: 2px solid white;
  border-left: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
  color: white;
}
@media (max-width: 1280px) {
  /* line 34, ../sass/module/_fix-banner.scss */
  .fix-banner .center-content {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
  }
}
@media (max-width: 1024px) {
  /* line 34, ../sass/module/_fix-banner.scss */
  .fix-banner .center-content {
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 8px;
    border-width: 1px;
  }
}
/* line 53, ../sass/module/_fix-banner.scss */
.fix-banner .center-content p {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.8;
  white-space: nowrap;
}
@media (max-width: 1280px) {
  /* line 53, ../sass/module/_fix-banner.scss */
  .fix-banner .center-content p {
    font-size: 11px;
    letter-spacing: 1px;
    white-space: initial;
  }
}
/* line 64, ../sass/module/_fix-banner.scss */
.fix-banner .center-content .always {
  font-size: 28px;
  letter-spacing: 1px;
}
@media (max-width: 1280px) {
  /* line 64, ../sass/module/_fix-banner.scss */
  .fix-banner .center-content .always {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  /* line 64, ../sass/module/_fix-banner.scss */
  .fix-banner .center-content .always {
    font-size: 12px;
  }
}
/* line 74, ../sass/module/_fix-banner.scss */
.fix-banner .center-content .space {
  display: inline-block;
  margin-left: 10px;
  padding-left: 8px;
  width: 340px;
  font-size: 26px;
  letter-spacing: 8px;
  line-height: 1.4;
  background: url(/images/arrow-right-16-w.svg) right center no-repeat;
  border-bottom: 1px solid white;
}
@media (max-width: 1280px) {
  /* line 74, ../sass/module/_fix-banner.scss */
  .fix-banner .center-content .space {
    font-size: 22px;
    width: 250px;
  }
}
@media (max-width: 1024px) {
  /* line 74, ../sass/module/_fix-banner.scss */
  .fix-banner .center-content .space {
    font-size: 14px;
    width: calc(100% - 60px);
    letter-spacing: 5px;
  }
}
/* line 93, ../sass/module/_fix-banner.scss */
.fix-banner .center-content .space::before {
  content: ' ';
  display: inline-block;
}
/* line 102, ../sass/module/_fix-banner.scss */
.fix-banner .left-top {
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 25px;
  width: 25px;
  background-color: #FF738F;
}
@media (max-width: 1024px) {
  /* line 102, ../sass/module/_fix-banner.scss */
  .fix-banner .left-top {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }
}
/* line 114, ../sass/module/_fix-banner.scss */
.fix-banner .left-top .content {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  border: 2px solid white;
  border-right: 0;
  border-bottom: 0;
}
@media (max-width: 1024px) {
  /* line 114, ../sass/module/_fix-banner.scss */
  .fix-banner .left-top .content {
    border: 0;
  }
}
/* line 129, ../sass/module/_fix-banner.scss */
.fix-banner .left-top::before {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #ff738f transparent;
}
@media (max-width: 1024px) {
  /* line 129, ../sass/module/_fix-banner.scss */
  .fix-banner .left-top::before {
    content: '';
  }
}
/* line 140, ../sass/module/_fix-banner.scss */
.fix-banner .left-top::after {
  display: block;
  position: absolute;
  width: 120%;
  height: 1px;
  top: 6px;
  left: 1px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: white;
}
@media (max-width: 1024px) {
  /* line 140, ../sass/module/_fix-banner.scss */
  .fix-banner .left-top::after {
    content: '';
  }
}
/* line 156, ../sass/module/_fix-banner.scss */
.fix-banner .left-bottom {
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 25px;
  height: 25px;
}
@media (max-width: 1024px) {
  /* line 156, ../sass/module/_fix-banner.scss */
  .fix-banner .left-bottom {
    width: 10px;
    height: initial;
    top: 10px;
    background-color: #FF738F;
  }
}
@media (max-width: 1024px) {
  /* line 168, ../sass/module/_fix-banner.scss */
  .fix-banner .left-bottom .content {
    position: absolute;
    top: 0;
    left: 2px;
    right: 0;
    bottom: 2px;
    border: 1px solid white;
    border-right: 0;
    border-top: 0;
  }
}
/* line 181, ../sass/module/_fix-banner.scss */
.fix-banner .left-bottom::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #ff738f transparent transparent;
}
@media (max-width: 1024px) {
  /* line 181, ../sass/module/_fix-banner.scss */
  .fix-banner .left-bottom::before {
    content: none;
  }
}
/* line 193, ../sass/module/_fix-banner.scss */
.fix-banner .left-bottom::after {
  content: '';
  display: block;
  position: absolute;
  width: 120%;
  height: 2px;
  top: 9px;
  left: 0px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
}
@media (max-width: 1024px) {
  /* line 193, ../sass/module/_fix-banner.scss */
  .fix-banner .left-bottom::after {
    content: none;
  }
}

/*# sourceMappingURL=global.css.map */
