<% @og = [{
    property: "og:title",
    content: "Always"
  },{
    property: "og:type",
    content: "website"
  },{
    property: "og:url",
    content: ""
  },{
    property: "og:image",
    content: "images/share.jpg"
  },{
    property: "og:site_name",
    content: "Always"
  },{
    property: "og:description",
    content: "Always"
  },{
    property: "og:locality",
    content: "Taipei"
  },{
    property: "og:country-name",
    content: "Taiwan"
}] %>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
<meta name="Title" content="Always" />
<meta name="Author" content="Drama" />
<meta name="Description" content="Always" />
<!-- iOS -->
<%#= render :partial => "head-ios-homescreen-seting" %>
<!-- Android -->
<%#= render :partial => "head-android-homescreen-seting" %>
<% @og.each do |og| %>
  <meta property="<%= og[:property] %>" content="<%= og[:content] %>" />
<% end %>
<link href="images/favicon.png" rel="shortcut icon" type="image/x-icon" />
<title>Always</title>