<link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,900,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "font-awesome/css/font-awesome.min" %>
<%= stylesheet_link_tag "vendors/swiper" %>
<%= stylesheet_link_tag "global" %>
<%= yield :specific_stylesheet %>