<%= javascript_include_tag "vendors/jquery.min" %>
<%= javascript_include_tag "vendors/fastclick" %>
<%= javascript_include_tag "vendors/svg4everybody.min" %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "initialization" %>

<%= yield :specific_javascript %>