<div id="popcrop" style="">
    <div class="image-editor">
    <!-- STEP.1 裁切圖片 -->
      <div class="crop-panel-top">
      </div>
      <div class="frame is-loading">
        <img class="logo" src="/images/logo-always.svg" alt="">
        <div class="cropit-preview"></div>
        <div class="crop-panel-bottom">
          <img src="/images/img-frame-deco.png" class="frame-deco style-abs" alt="">
          <div class="funcbox">

            <button class="rotate-ccw"><i class="fa fa-lg fa-undo" aria-hidden="true"></i></button>
            <button class="rotate-cw"><i class="fa fa-lg fa-repeat" aria-hidden="true"></i></button>
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <input type="range" class="cropit-image-zoom-input custom">
            <i class="fa fa-lg fa-picture-o" aria-hidden="true"></i>
            <p>裁切圖片</p>
          </div>
          <img src="/images/img-frame-deco.png" class="frame-deco style-btm" alt="">
      </div>
        
      </div>
      <div class="btnbox">
        <div class="cropit-image-input-wrap">
          <img src="/images/icon-upload-w.svg" alt="">選擇圖片
          <input type="file" class="cropit-image-input" id="fileElem" />        
        </div>
        <button class="export btn-saveimg"><img src="/images/icon-continue.svg" alt="">下一步</button>
      </div>
      <div style="max-height: 0px; overflow: hidden;">
        <canvas id="fixIOS"></canvas>
      </div>
    </div>

    <div class="image-mosaicer">
      <!-- STEP.2 拖曳馬賽克區塊 -->
      <div class="img-wrap">
      <div class="frame is-loading">
        <img class="logo" src="/images/logo-always.svg" alt="">
        <div class="canvas-outer">
            
          <canvas id="canvas-drag" width="1200" height="628"></canvas>
          <div class="resize-container">
            <div class="resize-drag" data-x="0" data-y="0" >
               <!-- Resize from any edge or corner -->
            </div>
          </div>

        </div>
        <img src="/images/img-frame-deco.png" class="frame-deco style-abs" alt="">
        <p class="helper">拖曳馬賽克區塊</p>
        <img src="/images/img-frame-deco.png" class="frame-deco style-btm" alt="">
      </div>

        <a class="btn-donedrag btn-radius-lg">完成</a>
      </div>
    </div>

    <div class="image-finalpreview">
      <!-- STEP3. 輸出馬賽克圖檔 -->
      <div class="img-wrap">
        <div class="frame is-loading">
          <img class="logo" src="/images/logo-always.svg" alt="">
          <canvas id="canvas-final" width="1200" height="628"></canvas>
          <img src="/images/img-frame-deco.png" class="frame-deco style-abs" alt="">
          <p class="helper">圖片已生成！</p>
          <img src="/images/img-frame-deco.png" class="frame-deco style-btm" alt="">
        </div>
        <form action="step1.html" method="post">
          <a href="/views/event/step0.html" class="btn-radius-lg">重新製作</a>
          <input type="submit" class="btn-radius-lg" value="下一步">
          <input type="hidden" class="imgurl-origin" name="imgurl-origin">
          <input type="hidden" class="imgurl-mosaic" name="imgurl-mosaic">
        </form>
      </div>
    </div>

    <div id="temp"></div>
    
</div>