<footer id="footer" class="is-open">
  <!-- FOOTER -->
  <div class="footer-top"></div>

  <a class="footer-btn" href="index.html">
    <span class="goto-scene1 is-show">觀看產品介紹</span>
  </a>
</footer>