<footer id="footer">
  <!-- FOOTER -->
  <div class="footer-top"></div>

  <div class="footer-inner">
    <!-- ALWAYS -->
    <img src="/images/logo-always-w.svg" alt="">
    <!-- <h2>不絕對慾幸戀，ALWAYS Desire</h2> -->
    
    <div class="text-roll">
      <div class="roller">
        <h3>ALWAYS Desire</h3>
        <p>因為節制讓人乏味</p>
        <p>剛剛好的慾望凸顯甜美</p>
        <p>因為節制容易疏離</p>
        <p>剛剛好的慾望療癒正在疲憊的距離</p>
        <p>因為節制引發同化</p>
        <p>剛剛好的慾望才能完美屬於我自己的童話</p>

        <p><br>所以我主張偶爾縱容，讓慾望流動</p>
        <p>我享受適度自寵，從口味到品味到戀人未滿的變化滋味</p>

        <p><br>我就是不絕對慾權主義者</p>
        <p>只和流動的慾望發生關係</p>
        <p>只讓流動的慾望觸發自幸</p>

        <p>我在慾望裡掌握慾望</p>
        <p>在自幸裡流連忘返</p>

        <p><br>對於幸福，總是一口咬定。</p>

      </div>
      
    </div>

  </div>
  <div class="footer-btn">
    <span class="btn-skip-roll">SKIP</span>
    <span class="goto-scene3">觀看品牌廣告</span><span class="goto-scene4">觀看最新消息</span><span class="goto-scene1">觀看產品介紹</span>
  </div>
</footer>