<footer id="footer" class="is-open">
  <!-- FOOTER -->
  <div class="footer-top"></div>

  <div class="footer-inner style-paragraph">

<h4>活動辦法</h4>
<p>參加資格：需設籍於臺灣、澎湖、金門、馬祖地區之中華民國國民</p>
<p>活動時間：2016.10.29 ~ 2016.11.30 23:59止</p>
<p>活動辦法：凡於活動期間內透過電腦/手機/平板</p>
<!-- <p>活動網站</p> -->
<p><strong>Step1：</strong>登入FB個人帳號，點選參加「Desire真心話」活動並上傳一張照片</p>
<p><strong>Step2：</strong>在照片中加入馬賽克標示圖案，製作客製化矇照</p>
<p><strong>Step3：</strong>將完成頁的連結分享至個人FB塗鴉牆(需設定為公開分享)</p>
<p><strong>Step4：</strong>留言#Alwaysdesire #Always享樂其中，tag好友並分享至個人臉書</p>


<h4>五感享樂獎（得獎者不得重複）</h4>
<ul>
<li>愜意片刻咖啡機：OSTER奶泡大師義式咖啡機 PRO升級版<small>市價$ 15000(共1名)</small></li>
<li>身心抒壓按摩器：Breo眼部頭部按摩器<small>市價$ 8800(共1名)</small></li>
<li>感官愉悅淡香水：CHANEL CHANCE邂逅女性淡香水150ml<small>市價$ 5800(共1名)</small></li>
<li>嬌容悅己美顏器：Panasonic奈米保濕美顏器<small>市價$ 4900(共1名)</small></li>
<li>虛擬實境VR眼鏡：Samsung Gear VR<small>市價$ 2999(共1名)</small></li>
<li>亮麗氣色美唇油：克蘭詩彈潤植萃美唇油7ml<small>市價$ 850(共2名)</small></li>
<li>餘音繞樑耳機組：鐵三角 ATH-CKL220「NEON」色彩耳道式耳機<small>市價$580 (共3名)</small></li>
</ul>

<p>（圖片僅供參考，獎品之規格、內容以實物為準）</p>

<h4>得獎名單公告＆贈品寄送</h4>
<p>2016年12月10日於網站最新消息公告得獎名單(得獎名單以部分真實姓名公佈)，得獎名單公告後，主辦單位核對中獎人身份，並各別連絡取得得獎者的必要相關資料，贈品將於2016年12月31日寄送出。</p>
<p>＊2016.12.15前未取得聯繫者視為喪失資格。</p>
<p>客服信箱 : alwayschoco.event@gmail.com</p>

<h4>贈獎辦法注意事項</h4>
<p>以下注意事項適用於以上活動，參加者應接受並願意遵守以下條款及約定：</p>
<p>消費者所提供之所有資料必需正確且屬實，若有疑慮時，宏亞食品股份有限公司有權利要求得獎者提供相關證明，以佐證其為實際得獎者本人，否則宏亞食品股份有限公司有權取消兌換資格。</p>
<p>參與活動者應自行確認其使用於本活動之所有文字、圖像、照片等內容，均未侵害第三人之肖像權及智慧財產權。將來若有第三人主張其權利因參與活動者使用之文字、圖像、照片、影片等內容受侵害時，參與活動者應自行負責全部法律責任並賠償因此導致主辦單位之損失。請參與活動者使用他人照片或其他非本人創作之文字、圖像、照片時，取得本人或權利人之授權或同意，以免觸法。</p>
<p>每人可重複參與活動，惟每人限中獎乙次，本活動贈品不得兌換現金或作為商品折扣。</p>
<p>凡登錄活動網站後，即視同承認及接受本活動注意事項及相關規定，若有未盡事宜，悉依宏亞食品股份有限公司相關規定，宏亞食品股份有限公司將保留隨時更改、終止活動內容及注意事項之權利，更正將於活動官網最新消息統一公佈不另個別通知。</p>
<p>確認得獎者資格後將於2016年12月31日寄出獎品。寄送獎品過程中，若發生任何毀壞、錯遞、延遞或遺失，凡非主辦單位疏失所造成者，主辦單位恕不負責。</p>
<p>如有任何因電腦、網路、技術或不可歸責於ALWAYS巧克力之事由，使參加者所得獎、登錄、寄出之資料有遲延、遺失、錯誤、無法辨識或毀損之情況，ALWAYS巧克力不負任何法律責任，參加者亦不得因此異議。</p>
<p>獎項說明未盡之事宜，依得獎通知說明為準， 得獎者不得要求更換贈品或轉換、轉讓、折換現金或任何調整事項。</p>
<p>所有奬項以實物為準，廣告文宣中之價值、顏色、規格僅供參考，主辦單位保留更換等值獎品之權利。</p>
<p>本活動限制地區及獎項配送地點僅限台灣地區，配送地址以中獎人所填資料之地址為準，主辦單位依前開填具之地址寄出後，不負擔贈品無法送達之責任。</p>
<p>參加者如因違反本活動辦法之規定而造成主辦單位或其他第三人權利受到侵害，宏亞食品股份有限公司保有相關法律追訴權。</p>
<p>依中華民國稅法，中獎者須遵守以下規定：依中華民國稅法規定，贈品金額超過NT＄1,001(含)以上者，需開立扣繳憑單。贈品金額超過NT$20,000(含)以上者，須繳交10%機會中獎稅；非國內居住的個人，不限中獎金額，須繳交20%機會中獎稅及需自付運費。中獎人參加本活動而需支付之任何稅捐係屬得獎人依稅法之規定所需履行之義務，概與主辦單位無關，倘有稅務法令適用之爭議者，概由得獎人自行向開徵機關提出申訴。</p>
<p>得獎者如未滿18歲，應於得獎名單公布後，主動提供法定代理人活動參加同意書及必要相關資料，如未能提供者，主辦單位有權取消其領獎資格。</p>
<p>詳細活動辦法以本活動網站公告為準，參加者於參加本活動同時，即視為同意接受本活動規範。</p>
<p>宏亞食品股份有限公司保留隨時修正、暫停或終止本活動之權利，如有變動將另行公告於本活動網站。</p>

  </div>
  <div class="footer-btn">
    <span class=" is-show"">詳細活動辦法</span>
  </div>
</footer>