<header id="header" class="">
  <!-- HEADER -->
  <% if ( @hideMenu != true ) %>
  <div class="header-left">
    <div class="header-btn-hamburger">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <span>MENU</span>
  </div>
  <% end %>
  <a href="/views/index/" class="header-logo"><img src="/images/logo-always.svg" alt=""></a>
</header>

<div class="header-menu">
  <ul>
    <li class="goto-scene1"><a <% if ( @page != "index" )%>href="/views/index/index.html#1"<% end %> >產品介紹</a></li>
    <li class="goto-scene3"><a <% if ( @page != "index" )%>href="/views/index/index.html#3"<% end %> >品牌廣告</a></li>
    <li class="goto-scene4"><a <% if ( @page != "index" )%>href="/views/index/index.html#4"<% end %> >最新消息</a></li>
  </ul>
  <div class="header-menu-bottom">
    <div class="content">
      <div class="sns-wrap">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
      </div>
      <div class="info-wrap">
        <img src="/images/logo-hungya.svg" alt="">
        <p class="style-sansserif"><span>客服專線：0800-060-515</span><span>地址：新北市新店區寶興路45巷8弄3號5樓</span></p>
      </div>      
    </div>
  </div>
</div>