@keyframes shine{
  0% { opacity: 0;  }
  100% { opacity: 1;  }
}
@-webkit-keyframes shine{
  0% { opacity: 0;  }
  100% { opacity: 1;  }
}

@keyframes wave{
  0% { left: 0; }
  100% { left: -1920px;/*image width*/ }
}
@-webkit-keyframes wave{
  0% { left: 0;  }
  100% { left: -1920px;/*image width*/ }
}


@keyframes moveX{
  0% { margin-left: 0; }
  40% { margin-left: 4px; }
  50% { margin-left: 4px; }
  90% { margin-left: 0; }
  100% { margin-left: 0; }
}
@-webkit-keyframes moveX{
  0% { margin-left: 0; }
  40% { margin-left: 4px; }
  50% { margin-left: 4px; }
  90% { margin-left: 0; }
  100% { margin-left: 0; }
}

@keyframes scaleY{
  0% { 
  @include scaleY(1); 
  }
  50% { 
  @include scaleY(0.8); 
  }
  100% { 
  @include scaleY(1); 
  }

}
@-webkit-keyframes scaleY{
  0% { 
  @include scaleY(1); 
  }
  50% { 
  @include scaleY(0.8); 
  }
  100% { 
  @include scaleY(1); 
  }
}


@keyframes bannerTxt1{
  0% { content: ' ';  }
  3% { content: 'D';  }
  6% { content: 'De';  }
  9% { content: 'Des';  }
  12% { content: 'Desi';  }
  15% { content: 'Desir';  }
  18% { content: 'Desire';  }
  21% { content: 'Desire';  }
  22% { content: 'Desir';  }
  23% { content: 'Desi';  }
  24% { content: 'Des';  }
  25% { content: 'De';  }
  26% { content: 'D';  }
  27% { content: ' '; }
  30% { content: ' '; }
  33% { content: '享';  }
  36% { content: '享樂';  }
  39% { content: '享樂其';  }
  42% { content: '享樂其中';  }
  45% { content: '享樂其中';  }
  46% { content: '享樂其';  }
  47% { content: '享樂';  }
  48% { content: '享';  }
  49% { content: ' ';  }
  52% { content: ' ';  }
  55% { content: '美';  }
  58% { content: '美好';  }
  61% { content: '美好放';  }
  64% { content: '美好放縱';  }
  67% { content: '美好放縱';  }
  68% { content: '美好放';  }
  69% { content: '美好';  }
  70% { content: '美';  }
  71% { content: ' ';  }
  74% { content: ' ';  }
  77% { content: '不';  }
  80% { content: '不絕';  }
  83% { content: '不絕對';  }
  86% { content: '不絕對慾';  }
  89% { content: '不絕對慾幸';  }
  92% { content: '不絕對慾幸戀';  }
  95% { content: '不絕對慾幸戀';  }
  96% { content: '不絕對慾幸';  }
  97% { content: '不絕對慾';  }
  98% { content: '不絕對';  }
  99% { content: '不絕';  }
  100% { content: '不';  }

}
@-webkit-keyframes bannerTxt1{

  0% { content: ' ';  }
  3% { content: 'D';  }
  6% { content: 'De';  }
  9% { content: 'Des';  }
  12% { content: 'Desi';  }
  15% { content: 'Desir';  }
  18% { content: 'Desire';  }
  21% { content: 'Desire';  }
  22% { content: 'Desir';  }
  23% { content: 'Desi';  }
  24% { content: 'Des';  }
  25% { content: 'De';  }
  26% { content: 'D';  }
  27% { content: ' '; }
  30% { content: ' '; }
  33% { content: '享';  }
  36% { content: '享樂';  }
  39% { content: '享樂其';  }
  42% { content: '享樂其中';  }
  45% { content: '享樂其中';  }
  46% { content: '享樂其';  }
  47% { content: '享樂';  }
  48% { content: '享';  }
  49% { content: ' ';  }
  52% { content: ' ';  }
  55% { content: '美';  }
  58% { content: '美好';  }
  61% { content: '美好放';  }
  64% { content: '美好放縱';  }
  67% { content: '美好放縱';  }
  68% { content: '美好放';  }
  69% { content: '美好';  }
  70% { content: '美';  }
  71% { content: ' ';  }
  74% { content: ' ';  }
  77% { content: '不';  }
  80% { content: '不絕';  }
  83% { content: '不絕對';  }
  86% { content: '不絕對慾';  }
  89% { content: '不絕對慾幸';  }
  92% { content: '不絕對慾幸戀';  }
  95% { content: '不絕對慾幸戀';  }
  96% { content: '不絕對慾幸';  }
  97% { content: '不絕對慾';  }
  98% { content: '不絕對';  }
  99% { content: '不絕';  }
  100% { content: '不';  }

}