input[type="button"], input[type="submit"], button{
  border: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
  &:active{
    border-style: initial;
  }
}

.module-btn{
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 4px;
  margin-bottom: 8px;
  @include transition(background-color 0.2s ease);
  &, &:link, &:hover, &:active, &:visited{
  }
  &:hover{
    color: white;
  }
  .module-icon{
    margin-right: 4px;
  }
}
.btn-radius{
  display: block;
  height: 54px;
  line-height: 54px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  background-color: rgba(128,128,128,0.2);
  @include border-radius(27px);
}
.btn-radius-o{
  display: inline-block;
  height: 54px;
  line-height: 54px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
  border: 1px solid white;
  @include border-radius(27px);
  @include transition(color 0.2s ease,background-color 0.2s ease);
}
.btn-radius-lg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  max-width: 100%;
  height: 75px;
  line-height: 75px;
  font-size: 19px;
  cursor: pointer;
  color: $color-gold;
  text-align: center;
  letter-spacing: 3px;
  background-color: white;
  @include border-radius(38px);
  @include transition(color 0.3s ease);
  @media (max-width: 1024px){
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    width: 150px;
    margin-top: 30px;
  }

  &:link, &:hover, &:active, &:visited{
    // width: 250px;
    color: $color-gold;
  }
  
  img{
    vertical-align: middle;
    margin-right: 15px;
    @media (max-width: 1024px){
      margin-right: 5px;
      max-width: 16px;
      max-height: 19px;
    }
  }
}