
.fix-banner{
  display: block;
  background-color: #FF738F;
  min-width: 465px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  @include box-shadow(rgba(0, 0, 0, 0.4) 5px 5px 10px);
  @include transition(bottom 0.3s ease);
  .scene1 &{
    @media (max-width: 1024px){
      bottom: 0;
      z-index: 100;
    }
  }
  @media (max-width: 1280px){
    min-width: 365px;
  }
  @media (max-width: 1024px){
    right: 0;
    top: initial;
    bottom: 60px;
    min-width: 0;
    max-width: calc( 100% - 20px );
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
  }
  .center-content{
    width: 100%;
    border: 2px solid white; 
    border-left: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    color: white;
    @media (max-width: 1280px){
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 10px;
    }
    @media (max-width: 1024px){
      padding-top: 8px;
      padding-right: 5px;
      padding-bottom: 8px;
      border-width: 1px;
    }
    p{
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 1.8;
      white-space: nowrap;
      @media (max-width: 1280px){
        font-size: 11px;
        letter-spacing: 1px;
        white-space: initial;
      }
    }
    .always{
      font-size: 28px;
      letter-spacing: 1px;
      @media (max-width: 1280px){
        font-size: 24px;
      }
      @media (max-width: 1024px){
        font-size: 12px;
      }
    }
    .space{
      display: inline-block;
      margin-left: 10px;
      padding-left: 8px;
      width: 340px;
      font-size: 26px;
      letter-spacing: 8px;
      line-height: 1.4;
      background: url(/images/arrow-right-16-w.svg) right center no-repeat;
      border-bottom: 1px solid white;
      @media (max-width: 1280px){
        font-size: 22px;
        width: 250px;
      }
      @media (max-width: 1024px){
        font-size: 14px;
        width: calc(100% - 60px);
        letter-spacing: 5px;
      }
      &::before{
        content: ' ';
        display: inline-block;
        // animation: bannerTxt1 20s infinite linear;
        // -moz-animation:bannerTxt1 20s infinite linear;
        // -webkit-animation: bannerTxt1 20s infinite linear;
      }
    }
  }
  .left-top{
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 25px;
    width: 25px;
    background-color: #FF738F;
    @media (max-width: 1024px){
      width: 10px;
      height: 10px;
      background-color: transparent;
    }
    .content{
      position: absolute;
      top: 4px;
      left: 4px;
      right: 0;
      bottom: 0;
      right: 0;
      bottom: 0;
      border: 2px solid white;
      border-right: 0;
      border-bottom: 0;
      @media (max-width: 1024px){
        border: 0;
      }
    }
    &::before{
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 10px 10px;
      border-color: transparent transparent #ff738f transparent;
      @media (max-width: 1024px){
        content: '';
      }
    }
    &::after{
      display: block;
      position: absolute;
      width: 120%;
      height: 1px;
      top: 6px;
      left: 1px;
      @include transform(rotate(-45deg));
      background-color: white;
      @media (max-width: 1024px){
        content: '';
      }
    }


  }
  .left-bottom{
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 25px;
    height: 25px;
    @media (max-width: 1024px){
      width: 10px;
      height: initial;
      top: 10px;
      background-color: #FF738F;
    }
    .content{
      @media (max-width: 1024px){
      position: absolute;
      top: 0;
      left: 2px;
      right: 0;
      bottom: 2px;
      border: 1px solid white;
      border-right: 0;
      border-top: 0;
      }
    }

    &::before{
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 25px 25px 0;
      border-color: transparent #ff738f transparent transparent;
      @media (max-width: 1024px){
        content: none;
      }
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      width: 120%;
      height: 2px;
      top: 9px;
      left: 0px;
      @include transform(rotate(45deg));
      background-color: white;
      @media (max-width: 1024px){
        content: none;
      }
    }
    // background: url('/images/img-fix-banner-corner.png');
    // background-color: #FF738F;
  }
}