input,textarea,select{
  border: 0;
  font-family: 'Chinese' , sans-serif;
  // font-size: 12px;
  &:focus{
    outline: none;
  }
  &.readonly, &:read-only, &:-moz-read-only{
    cursor: unset !important;
    pointer-events: none !important;
  }
}
textarea{
  resize: none;
  line-height: 2;
}
button{
  background-color: transparent;
  cursor: pointer;
  font-family: 'Chinese' , sans-serif;
  &:focus{
    outline: none;
  }
}
select{
  font-size: 1em;
  cursor: pointer;
}
.module-form{
  display: block;
}
.module-symbol{
  font-style: normal;
}
.form-block{
  &>form{
    display: block;
    height: 100%;
  }
  .module-form-input{
    line-height: 2.2;
    font-size: 16px;
    // margin-bottom: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid white;
    padding-left: 5px;
    &:-moz-read-only { /* For Firefox */
      color:black;
    }
    &:read-only { 
      color:black;
    }
    &::-webkit-input-placeholder {
    }
  }
}

.module-checkbox{
  position: relative;
  padding-left: 1.6em;

  &.style-black{
    input{
      &:checked+i{
        &:before{
          content: url(/images/icon-tick-black.svg);
        }
      }
    }
    i{
      border-color: black;
    }    
  }
  input{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    &:checked+i{
      &:before{
        content: url(/images/icon-tick.svg);
      }
    }
  }
  i{
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0;
    left: 0;
    border: 1px solid $color-blue;
      &:before{
        // content: 'v';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
  }
}
.error-text{
  color: #fe0000;
  font-size: 13px;
}

.module-customselect{
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 9.5em;
  height: 50px;
  line-height: 50px;
  z-index: 1;
  font-size: 15px;
  text-align: left;
  background-color: white;
  &.readonly{
    .module-customselect-selected{
      border: 0;
      background-image: none;
      cursor: auto;
    }
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    pointer-events:none;
    z-index: 2;
    @include rotate(135deg);
    @include transition-property(border-color);
  }
  .module-customselect-selected{
    position: absolute;
    display: block;
    font-size: 15px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-left: 1em;
    // background: url('/assets/images/icon-select.png') right center no-repeat white;
    // z-index: 0;
    cursor: pointer;
    padding-right: 1.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  ul{
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease);  
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    padding-top: 0;
    padding-left: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    li{
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding-left: 1em;
      width: auto;
      cursor: pointer;
      @include transition-property(background-color);
      @include transition-duration(.2s);
      @include transition-timing-function(ease);  
      &:hover{
        background-color: $color-blue;
        color: white;
      }
      &:first-child{
        border-top: 1px solid #ddd;
      }
    }
  }
  &.is-on{
    z-index: 10;
    @include box-shadow( rgba(0,0,0,0.1) 2px 0px 10px);
    &::after{
      border-color: #aaa;
    }
    .module-customselect-selected{
    }
    ul{
      opacity: 1;
      top: 100%;
      max-height: 999px;
      @include box-shadow( rgba(0,0,0,0.2) 2px 5px 10px);
    }
  }

  &.style-l{
    width: 15.5em;
  }
  &.style-xs{
    width: 6.5em;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    &::after{
      top: 10px;
      right: 12px;
    }
    .module-customselect-selected{
    }
    ul{
      li{
        height: 32px;
        line-height: 32px;
      }
    }
  }
}

/*FIX SEARCH BAR*/
.module-searchbar-inner select{
  max-width: 6em;
}