.frame{
  position: relative;
  padding: 25px;
  background-color: white;
  z-index: 1;
  @include border-radius(5px);

  @media (max-width: 768px){
    padding: 8px;
  }

  canvas,img{
    max-width: 100%;
  }
  .photo{
    width: 100%;
    background-color: #777;
    &:before{
      content: '';
      padding-top: 52%;
      display: block;
    }
  }
  .frame-bottom{
    min-height: 110px;
    @media (max-width: 1024px){
      min-height: 90px;
    }
    p{
      font-size: 28px;
      color: black;
      text-align: left;
      letter-spacing: 0px;
      padding-top: 25px;
      margin: 0;
      line-height: 1;
      @media (max-width: 1024px){
        font-size: 14px;
        padding-top: 5px;
      }
      @media (max-width: 768px){
        // margin-top: -1em;
      }
    }
    input{
      display: block;
      width: 50%;
      line-height: 2;
      letter-spacing: 4px;
      font-size: 18px;
      padding-left: 4px;
      margin-top: 10px;
      border: 0;
      border-bottom: 1px solid black;
      @media (max-width: 768px){
        width: 100%;
        line-height: 1.4;
        margin-top: 5px;
        font-size: 14px;
        letter-spacing: 2px;
      }
    }
  }
  &+.shadow{
    display: block;
    position: absolute;
    left: -5%;
    right: -5%;
    width: 110%;
    /* top: 95%; */
    margin-top: -2%;
    z-index: 0;
  }
}