.module-icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: text-bottom;
}

.icon-play{
  width: 146px;
  height: 146px;
  display: inline-block;
  position: relative;

  &:before,&:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    @include background-size(contain);
    @include transition(opacity 0.3s ease-in-out);
  }

  &:before{
    background-image: url("/images/btn-play.svg");
    opacity: 1;
  }
  &:after{
    background-image: url("/images/btn-play-hover.svg");
    opacity: 0;
  }

  &:hover{
    &:before{
      opacity: 0;
    }
    &:after{
      opacity: 1;
    }    
  }
}

.arrow-right,.arrow-left{
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: text-top;
  
  &:before,&:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    @include background-size(contain);
    @include transition(opacity 0.3s ease-in-out);
  }

  &:hover{
    &:before{
      opacity: 0;
    }
    &:after{
      opacity: 1;
    }    
  }
}

.arrow-right{

  &:before{
    background-image: url("/images/arrow-right-16-darkbrown.svg");
    opacity: 1;
  }
  &:after{
    background-image: url("/images/arrow-right-16-w.svg");
    opacity: 0;
  }
  
}


.arrow-left{

  &:before{
    background-image: url("/images/arrow-left-16-darkbrown.svg");
    opacity: 1;
  }
  &:after{
    background-image: url("/images/arrow-left-16-w.svg");
    opacity: 0;
  }
  
}