
[class^="open-"]{
  cursor: pointer;
}

.layout-popup-wrap{
  position: fixed;
  z-index: 102; 
  // top: 15%;
  top: 100px;
  right: 100px;
  bottom: 100px;
  left: 100px;
  font-size: 16px;
  color: #111111;
  font-weight: 500;
  text-align: center;
  // opacity: 0;
  @include transition-property(opacity);
  @include transition-duration(.3s);
  @include transition-timing-function(ease);  
  @media only screen and (orientation: portrait) {
    left: 30px;
    right: 30px;
  }
  @media only screen and (orientation: landscape) and (max-width: 1024px) {
    left: 30px;
    right: 30px;
    // top: 30px;
    bottom: 30px;
  }

  &.is-on{
    opacity: 1;
  }

  iframe{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.layout-popup-background{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgba(119,81,70,0.9);
  opacity: 1;
  @include transition-property(background-color,opacity);
  @include transition-duration(.3s);
  @include transition-timing-function(ease);

  &.is-on{
    background-color: rgba(119,81,70,0.9);
  // opacity: 1;
  }

}

.popup-btn-close{
  position: absolute;
  display: inline-block;
  top: 45px;
  right: 35px;
  width: 32px;
  height: 24px;
  cursor: pointer;
  opacity: 0.7;
  @include transition(opacity 0.2s ease);
  &:hover{
    opacity: 1;
  }
  i{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
    &:nth-child(1){
      top: 10px;
      @include rotate(135deg);
    }
    &:nth-child(2){
      top: 10px;
      @include rotate(-135deg);
    }
  }
}

@import "lightbox-crop";