#popcrop{
  display:block;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(119,81,70,0.9);
  z-index: 97;
  text-align: center;
  padding-top: 10%;
  @include transition-property(opacity);
  @include transition-duration(.2s);
  @include transition-timing-function(ease);
  @media (max-width: 1024px){
    padding-top: 50px;
  }
  .frame{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 25px;
    width: 675px;
    @include border-radius(5px);

    @media (max-width: 768px){
      padding: 8px;
      width: 90%;
      width: calc( 100% - 60px );

    }
    &.is-loading{
      
      &::after{
        content: 'LOADING...';
        display: block;
        position: absolute;
        padding-top: 60px;
        color: $color-gold;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,0.8);
        z-index: 11;
      }
      
    }
    canvas{
      max-width: 100%;
    }
    p.helper{
      line-height: 1.6;
      padding-top: 40px;
      margin-bottom: 35px;
      color: black;
      width: 10em;
      max-width: 50%;
      border-bottom: 1px solid black;
      font-size: 22px;
      letter-spacing: 5px;
      text-align: left;
      @media (max-width: 768px){
        font-size: 13px;
        letter-spacing: 2px;
        padding-top: 10px;
        margin-bottom: 5px;
        // margin-top: -1.6em;
        max-width: 100%;
        width: 100%;
      }
    }
  }
  &.is-show{
  visibility: visible;
  opacity: 1;
  }
  .btn-popclose{
    position: absolute;
    right: -2em;
    top: -2em;
  }

  .btn-radius-o{
    height: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    color: $color-darkbrown;
    border-color: $color-darkbrown;
    cursor: pointer;
    &:hover{
      color: white;
      background-color: $color-darkbrown;        
    }
  }

}
.image-editor{
  button{
    border: 0;
  }
  .crop-panel-top{
    // margin-top: 10%;
  }
  .cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    // border: 5px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    // height: 628px;
    max-width: 100%;
    &::before{
      content: '';
      padding-top: 52%;
      display: block;
    }
  }
  .cropit-image-loaded{
    
  }

  .cropit-preview-image-container {
    cursor: move;
    text-align: left;
    @include border-radius(0px);
    @include translateX(0.00000001%);
    background-color: #ddd;
  }

  .cropit-preview-background {
    opacity: .1;
    -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
    filter: blur(10px);
    cursor: auto;
  }

  .image-size-label {
    margin-top: 10px;
  }

  .crop-panel-top,.crop-panel-bottom{
    /* Use relative position to prevent from being covered by image background */
    position: relative;
    z-index: 10;
    display: block;
    text-align: center;
  }
  .funcbox{
    padding-top: 2em;
    color: #555;
    min-height: 115px;
    text-align: left;
    button{
      background-color: transparent;
    }
    button i{
      color: #555;      
    }
    p{
      line-height: 1.6;
      padding-top: 25px;
      color: black;
      width: 10em;
      max-width: 100%;
      border-bottom: 1px solid black;
      font-size: 20px;
      letter-spacing: 5px;
      @media (max-width: 768px){
        width: 100%;
        font-size: 13px;
        letter-spacing: 2px;
      }
    }
  }
  .btnbox{
    position: relative;
    padding-top: 30px;
    @media (max-width: 1024px){
      padding-top: 20px;
    }
  }
  .btn-saveimg{
    display: inline-block;
    padding: 25px;
    width: 240px;
    margin: 0 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    background-color: white;
    color: $color-brown;
    font-size: 19px;
    letter-spacing: 3px;
    vertical-align: top;
    cursor: pointer;
    @include border-radius(38px);
    @include transition(color 0.2s ease,background-color 0.2s ease);
    @media (max-width: 1024px){
      display: block;
      margin: 0 auto;
      height: 45px;
      padding: 10px;
      font-size: 14px;
      width: 150px;
      margin-bottom: 10px;
    }

    &:hover{
      color: $color-brown;
      background-color: white;
    }
    img{
      vertical-align: middle;
      margin-right: 15px;
      @media (max-width: 1024px){
        margin-right: 5px;
        max-width: 16px;
      }
    }

  }
.cropit-image-input-wrap{
  img{
    vertical-align: middle;
    margin-right: 15px;
    @media (max-width: 1024px){
      margin-right: 5px;
      max-width: 16px;
    }
  }
  margin-bottom: 20px;
}
  .cropit-preview-image{
    @include border-radius(0px);

  }
}

.cropit-image-zoom-input {
    width: 130px;
    margin: 0 0.5em;
    @media (max-width: 320px){
      width: 80px;
    }
}

.cropit-image-zoom-input.custom {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    cursor: move;
}

.cropit-image-zoom-input.custom::-moz-range-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none
}

.cropit-image-zoom-input.custom::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #888;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -o-transition: background 0.25s;
    -ms-transition: background 0.25s;
    transition: background 0.25s;
}

.cropit-image-zoom-input.custom::-webkit-slider-thumb:active {
    background: #bbb
}

.cropit-image-zoom-input.custom::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #888;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -o-transition: background 0.25s;
    -ms-transition: background 0.25s;
    transition: background 0.25s;
}

.cropit-image-zoom-input.custom::-moz-range-thumb:active {
    background: #bbb
}
.cropit-image-input-wrap{
    display: inline-block;
    position: relative;
    width: 240px;
    height: 75px;
    line-height: 73px;
    letter-spacing: 3px;
    font-size: 19px;
    border: 1px solid white;
    background: transparent;
    color: white;
    vertical-align: top;
    cursor: pointer;
  @include border-radius(38px);
  @media (max-width: 1024px){
        height: 45px;
      /* padding: 10px; */
      line-height: 45px;
      font-size: 14px;
      width: 150px;
  }
  input{
    width: 240px;
    height: 75px;
    font-size: 1em;
    opacity: 0;
    position: absolute; 
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    *{
      cursor: pointer;
    }
  }
}
.cropit-image-input{
  cursor: pointer;
}
// input[type="file" i],input[type="file" i]::-webkit-file-upload-button{
// }


.image-mosaicer,.image-finalpreview{
  margin-bottom: 60px;
  .img-wrap{
    width: 100%;
    // height: 320px;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 60px;
    margin-bottom: 60px;
    // background-color: #abc;
    position: relative;
  }
  .frame{}
  .canvas-outer{
    position: relative;
  }
  .btn-radius-lg{
    position: relative;
    margin-top: 40px;
    color: $color-brown;
    max-width: calc( 100% - 60px );
    @media (max-width: 1024px){
      margin-top: 20px;
    }
  }

}

.image-mosaicer{
  .resize-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .resize-drag{
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,0.5);
    border: 5px dotted black;
    cursor: move;
  }
}


.image-finalpreview{
  form{
    padding-top: 30px;
    @media (max-width: 1024px){
      padding-top: 20px;
    }
  }
  .btn-radius-lg{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0 !important;
    @media (max-width: 1024px){
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      color: $color-darkbrown;
    }
  }
  a.btn-radius-lg{
    border: 1px solid white;
    background: transparent;
    color: white !important;    
  }
  
}

//TEMP
#temp{
  height: 0;
  overflow: hidden;
}

.image-editor,.image-mosaicer,.image-finalpreview{
  // padding-bottom: 300px;
  // overflow: auto;
  // max-height: 100vh;
  &.is-hide{
    opacity: 0.8;
    height: 0;
    width: 0;
    overflow: hidden;
    margin-bottom: 0;
  }
}

.image-mosaicer,.image-finalpreview,#temp{
  // display: none;
}

.outputimg-origin,.outputimg-mosaic{
 opacity: 0.5;
 max-width: 240px;
}

#popcrop.is-show {
    overflow-x: hidden;
    overflow-y: auto;
}