$height-wave: 60px !default;
$height-footer: 60px !default;

#footer{
  z-index: 100;
  position: fixed;
  // top: 0;
  height: 95%;
  height: calc(100% - 75px ); //75px is intro 縫隙高
  bottom: 0;
  right: 0;
  left: 0;
  @include transition-property(height);
  @include transition-duration(2s);
  @include transition-timing-function(ease-in-out);
  @include transition-delay(0s);
  @media (max-width: 1024px){
    height: calc(100% - 30px ); //30px is intro 縫隙高
  }
  &.is-open{
    height: $height-footer;
    z-index: 97;
    .footer-inner:after{
      visibility: hidden;
      opacity: 0;
      @include transition-property(visibility, opacity);
      @include transition-duration(0.5s);
      @include transition-timing-function(ease-in-out);
      @include transition-delay(0s);
    }
  }
  &.is-roll{
    .roller{
      @include transform(translate(0px, -100%));
    }
  }
  &.is-slideup , .is-slideup-footer &{
    height: 100%;
    height: calc( 100% + 60px );
    .footer-inner{
      overflow: auto;
      padding-bottom: 60px;
      padding-top: 110px;
    }
    .footer-btn{
      height: 88px;
      padding-top: 60px;
      @include background-image(linear-gradient(rgba(119, 81, 70, 0.01), rgba(119, 81, 70, 0.99)));
    }
  }
}

.footer-top{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $height-wave;
  background-image: url('/images/wave2.png');
  animation: wave 180s infinite linear , scaleY 16s infinite ease;
  -moz-animation:wave 180s infinite linear , scaleY 16s infinite ease;
  -webkit-animation: wave 180s infinite linear , scaleY 16s infinite ease;
  background-repeat: repeat-x;
  background-position: bottom;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;

}
.footer-btn{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 2;
  height: 28px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  @include transition(padding 0.2s ease,opacity 0.2s ease);
  &:active{

  }

  &.is-hide{
    padding-top: 30px;
    opacity: 0;
    @include transition-property(none);
  }
  span{
    cursor: pointer;
    padding: 0 1em;
    opacity: 0.4;
    color: white;
    @include transition(opacity 0.3s ease);
    &:hover{
      opacity: 0.6;
    }
    &:not(.is-show){
      &.goto-scene3{
        display: none;
        .scene1 &,.scene2 &{
          display: block;
        }
      }
      &.goto-scene4{
        display: none;
        .scene3 &{
          display: block;
        }
      }
      &.goto-scene1{
        display: none;
        .scene4 &{
          display: block;
        }
      }
  
    }
  }
  .btn-skip-roll{
    color: $color-gold;
    opacity: 1;
    @include transition(none);
  }
}

.footer-inner{
  background-color: $color-brown;
  position: absolute;
  top: $height-wave;
  left: 0;
  right: 0;
  bottom: 0;
  color:white;
  text-align: center;
  font-family: 'Times New Roman';
  padding-top: 50px;

  &.style-paragraph > *{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    @media (max-width: 1024px){
      max-width: 100%;
      max-width: calc(100% - 20px);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-image(linear-gradient(rgba(119, 81, 70, 0.01), rgba(119, 81, 70, 0.99)));
  }
  img{
    width: 320px;
    max-width: 50%;
  }
  h2{
    font-size: 40px;
    letter-spacing: 5px;
    font-family: 'Times new roman';
    font-weight: normal;
    line-height: 1;
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .text-roll{
    position: relative;
    overflow: hidden;
    margin-top: 60px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 160px;
      left: 0;
      right: 0;
      top: 0;
      z-index: 2;
      @include background-image(linear-gradient(rgba(119, 81, 70, 0.99), rgba(119, 81, 70, 0.01)));
    }
    .roller{
      @include transform(translate(0px, 50px));
      @include transition-property(transform);
      @include transition-duration(20s);
      @include transition-timing-function(linear);
      @include transition-delay(0s);
    }
  }
  h3{
    font-size: 22px;
    letter-spacing: 5px;
    font-family: 'Times new roman';
    font-weight: normal;
    line-height: 1;
    padding-top: 80px;
    padding-bottom: 10px;
  }
  p{
    font-size: 17px;
    line-height: 2;
    letter-spacing: 3px;
  }
}


.footer-inner.style-paragraph{
  h4{
    font-size: 20px;
    text-align: left;
    letter-spacing: 3px;
    font-weight: normal;
    color: $color-coral;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    margin-top: 30px;
    @media (max-width: 1024px){
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
    }
    &:first-child{
      margin-top: 0;
    }
  }
  ul{
    text-align: left;    
  }
  p,li{
    text-align: left;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    @media (max-width: 1024px){
      letter-spacing: 1px;
      line-height: 1.4;      
    }
    strong{
      color: $color-coral;
      font-weight: 500;
    }
    small{
      color: $color-gold;
      font-size: 14px;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
  p{
    font-size: 14px;
    @media (max-width: 1024px){
      font-size: 12px;
    }
  }
  li{
    font-size: 18px;
    display: inline;
    @media (max-width: 1024px){
      font-size: 12px;
    }

    &::before{
      content: '';
      width: 6px;
      height: 6px;
      display: inline-block;
      background-color: $color-coral;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 10px;
      @include border-radius(50%);
      @media (max-width: 1024px){
        width: 4px;
        height: 4px;
        margin-left: 4px;
        margin-right: 4px;
      }

    }
  }
}