@import "compass";

#header{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  right: 0;
  @include transition( opacity 0.8s ease );

  @media (max-width: 1024px){
    width: 100vw;
    right: initial;
  }
  &.is-open{
    & + .header-menu{
      opacity: 1;
      visibility: visible;
    }
  }
}

.header-logo{
  position: absolute;
  display: block;/*it is a*/
  left: 50%;
  top: 40px;
  margin-left: -70px;
  width: 140px;
  z-index: 2;
  // pointer-events: none;
  @include transition( opacity 0.8s ease , visiblility 0.8s ease );
  .is-slideup-footer &,.is-croping &{
    visibility: hidden;
    opacity: 0;
  }
  img{
    width: 100%;
  }
  @media (max-width: 768px){
    left: 15px;
    top: 10px;
    width: 80px;
    margin-left: 0;
  }
}
.header-left{
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 3;
  padding-top: 45px;
  padding-left: 35px;
  @media (max-width: 768px){
    left: initial;
    right: 0;
    padding-top: 10px;
    padding-left: initial;
    padding-right: 10px;
  }
  span{
    vertical-align: middle;
    padding-left: 8px;
    font-size: 14px;
    @include transition( opacity 0.3s ease , visibility 0.3s ease );
    @media (max-width: 768px){
      display: none;
    }
    .is-slideup-footer & , .is-croping &{
      opacity: 0;
      visibility: hidden;
    }
  }
}

.header-btn-hamburger{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 24px;
  i{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
    @include transition( all 0.3s ease );
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 10px;
    }
    &:nth-child(3){
      top: 20px;
    }
  }

  .is-open & , .is-slideup-footer & , .is-croping &{
    i{
      &:nth-child(1){
        top: 10px;
        @include rotate(135deg);
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        top: 10px;
        @include rotate(-135deg);
      }
    }
  }
}

.header-menu{
  position: fixed;
  z-index: 98;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(119,81,70,0.9);
  opacity: 0;
  visibility: hidden;
  text-align: center;
  @include transition(all 0.3s ease-in-out);
  ul{
    position: relative;
    padding-top: 200px;
    @media (max-height: 800px){
        padding-top: 160px;
    }
    @media (max-width: 768px){
      padding-top: 60px;
    }

    li{
      width: 100%;
      text-align: center;
      line-height: 119px;
      height: 120px;
      font-size: 40px;
      letter-spacing: 30px;
      padding-left: 15px;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      cursor: pointer;
      white-space: nowrap;
      &:first-child{
        border-top: 1px solid rgba(255,255,255,0.4);
      }
      a{
        color: white;
        @include transition(color 0.3s ease);
        display: block;
        width: 100%;
        height: 100%;

      }
      &:hover,&.is-active{
        a{
          color: black;
          
        }
      }

      @media (max-height: 900px){
        height: 80px;
        line-height: 79px;
      }
      @media (max-height: 600px){
        font-size: 20px;
        line-height: 59px;
        height: 60px;
        letter-spacing: 10px;
        padding-left: 5px;
      }
      @media (max-width: 768px){
        font-size: 20px;
        line-height: 59px;
        height: 60px;
        letter-spacing: 10px;
        padding-left: 5px;
      }
    }
  }
}
.header-menu-bottom{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 560px; // = 200+120*3
  text-align: center;
  @media (max-height: 900px){
    top: 440px; // = 200 + 80 * 3
  }
  @media (max-height: 800px){
    top: 400px; // = 160 + 80 * 3    
  }
  @media (max-width: 768px){
    top: initial;
    position: relative;
    padding-top: 30px;
  }
  @media (max-height: 550px){
    top: initial;
    position: relative;
    padding-top: 30px;
  }
  .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: 768px){
      position: relative;
    }
    @media (max-height: 550px){
      position: relative;
    }
    .sns-wrap{
        padding-bottom: 100px;
        @media (max-height: 700px){
          padding-bottom: 30px;
        }
      a{
        color: white;
        font-size: 32px;
        margin-left: 20px;
        margin-right: 20px;
        @include transition(color 0.3s ease);
        &:hover{
          color: black;
        }
      }
    }
    .info-wrap{
      padding-bottom: 50px;
      color: black;
      font-size: 14px;
      line-height: 1;
      @media (max-width: 768px){
        padding-bottom: 15px;
      }
      img{
        width: 230px;
        padding-bottom: 20px;
        @media (max-width: 768px){
          padding-bottom: 10px;
        }
      }
      p span{
        margin-left: 1em;
        margin-right: 1em;
        display: inline-block;
        white-space: nowrap;
        @media (max-width: 768px){
          line-height: 1.6;
        }
      }
    }
  }
}