::-moz-selection,::selection { /* Code for Firefox */
}
html,body,.layout-container{
  height: 100%;
}

body{
  @include background-size(cover);
  overflow-x: hidden;
  background-attachment: fixed;
  @media (max-width: 1024px){
    // width: 1024px;
  }
  @media (max-width: 1023px){
    height: auto !important;
    // background: none;
  }

  &.is-croping,&.is-slideup-footer{
    overflow: hidden;
  }
}

// 主容器
.layout-container {
  &.is-covered{
    .layout-view {
      opacity: 0.3;
    }
    #header {
      opacity: 0;
    }
  }
}

// 主內容區塊
.layout-view {
  min-height: 100%;
  @include transition(opacity 1s ease);

}

.col-left,.col-right{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  &:last-child{
    margin-left: -5px;
    @media (max-width: 1024px){
      margin-left: 0;
    }
  }
  @media (max-width: 1024px){
    width: 100%;
    display: block;
  }
}

a.nornal-link{
  text-decoration: underline;
  &:hover{
  }
}

.align-center{
  text-align: center;
}
@media (min-width: 1025px){
  .on-mobile{
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .on-desk{
    display: none !important;
  }
}

.swiper-button-prev,.swiper-button-next{
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  background-color: $color-gold;
  overflow: hidden;
  white-space: nowrap;
  @include transition(width 0.3s ease-in-out);
  &:hover{
    width: 140px;
    @media (max-width: 1024px){
      width: 30px;
    }
  }
  @media (max-width: 1024px){
    width: 30px;
    height: 30px;
    padding-left: 0;
    background-size: 50%;
  }
  span{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    // padding-left: 20px;
    // padding-right: 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
  }
}
.swiper-button-prev{
  background-image: url('/images/arrow-left-16-w.svg');
  background-position: left 15px center;
  left: 0;
  padding-left: 60px;
  @media (max-width: 1024px){
    padding-left: 0;
    background-position: left 7px center;
  }
  span{
    left: 60px;
    padding-right: 20px;
  }
}
.swiper-button-next{
  background-image: url('/images/arrow-right-16-w.svg');
  background-position: right 15px center;
  right: 0;
  text-align: right;
  padding-right: 60px;
  @media (max-width: 1024px){
    padding-right: 0;
    background-position: right 7px center;
  }
  span{
    right: 60px;
    padding-left: 20px;
  }
}

.swiper-container{

  .swiper-pagination{
    top: 50%;
    left: 30px;
    width: 12px;
    bottom: initial;
    padding-top: 64px;
    @media (max-width: 1024px){
      left: 10px;
      width: 6px;
      padding-top: 14px;
    }
    .swiper-pagination-bullet{
      margin: 12px 0;
      width: 10px;
      height: 10px;
      opacity: 1;
      border: 1px solid $color-gold;
      background-color: transparent;
      @media (max-width: 1024px){
        margin: 7px 0;
        width: 6px;
        height: 6px; 
      }
      &.swiper-pagination-bullet-active{
        background-color: $color-gold;
      }
    }
  }

}