<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "units/eventindex" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "units/event" %>
<script>
</script>
<% end %>
<% @page = "event" %>
<div class="inner eventindex-inner">
    
  <div class="col-left">
  <div class="intro-box">  
    <!-- Desire真心話活動title -->
    <img src="/images/img-title-event.png" class="on-desk" alt="">
    <img src="/images/img-title-event-m.png" class="on-mobile" alt="">
    <h3>即日起至11/30，上傳照片參加「Desire真心話」活動，製作個人馬賽克矇照，留言加上#Always享樂其中，就有機會抽中<strong>五感享樂獎</strong>。</h3>
    <p class="on-desk">
    很久沒有收到情書，所以我允許自己吃巧克力。<br/>

    黑巧克力適合單身的傍晚，
    像一封從未來寄回的情書，給人長夜自處的勇氣。<br/>

    冷戰的時候我愛牛奶巧克力，
    感覺就像收到呢喃的求和帖，滿腦子都是微笑的下台階<br/>

    有果乾的那種留在愛缺的週末，
    是一封熱戀情人的法式撩撥，讀起來心跳加速並且心滿意足。<br/>

    沒有情書，就吃一口巧克力，說說真心話吧！<br/>

    </p>
  </div>

  </div>
  <div class="col-right">
    
    <a href="/views/event/step0.html">
      <img src="/images/bg-eventindex.jpg" alt="" class="on-desk">
      <img src="/images/bg-eventindex-m.jpg" class="on-mobile" alt="">
    </a>
    <!-- <div class="link-box on-desk">
      <a href="step0.html">Always <span>開始製作真心話</span></a>
    </div> -->
    <div class="intro-box on-mobile">  
      <!-- Desire真心話活動title -->
      <p>
      很久沒有收到情書，所以我允許自己吃巧克力。<br/>

      黑巧克力適合單身的傍晚，
      像一封從未來寄回的情書，給人長夜自處的勇氣。<br/>

      冷戰的時候我愛牛奶巧克力，
      感覺就像收到呢喃的求和帖，滿腦子都是微笑的下台階<br/>

      有果乾的那種留在愛缺的週末，
      是一封熱戀情人的法式撩撥，讀起來心跳加速並且心滿意足。<br/>

      沒有情書，就吃一口巧克力，說說真心話吧！<br/>

      </p>
    </div>
    
  </div>
</div>