<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "units/result" %>
<% end %>
<% content_for :specific_javascript do %>
<%#= javascript_include_tag "units/event" %>
<script>
(function() {
$(".frame").bind('mouseover click touchstart', function(event) {
  event.preventDefault();
  /* Act on the event */
  $(this).addClass('is-hover');
  $(".btn-wrap").removeClass("is-hide");
});
})();
</script>
<% end %>
<% @page = "result" %>
<% @hideMenu = true %>
<div class="inner eventresult-inner">
    <!-- Result -->
    <h2>如同Always100％純迦納可可的純粹性，<br>這是我100%不矯揉做作的真心</h2>
    <div class="frame">
      <img class="logo" src="/images/logo-always.svg" alt="">
      <div class="img-wrap">      
        <img class="mask" src="https://dummyimage.com/1200x628/bbb/fff&text=1200x628mosaicImg" alt="打碼圖片">
        <img src="https://dummyimage.com/1200x628/bbb/fff" alt="無碼圖片">
      </div>
      <div class="frame-bottom">
        <img src="/images/img-frame-deco.png" class="frame-deco style-abs" alt="">
        <p>Always</p>
        <p class="msg">
          <span><% 10.times do %>口無遮攔<% end %></span>
          <span class="mask">點我查看真心話<!-- <img src="/images/arrow-right-16-b.svg" alt=""> --><i class="fa fa-hand-o-up" aria-hidden="true"></i></span>
        </p>
        <img src="/images/img-frame-deco.png" class="frame-deco style-btm" alt="">
      </div>
    </div>
    <img src="/images/img-frame-shadow.png" alt="" class="shadow">
    <div class="btn-wrap is-hide">
        <a href="/views/event/index.html" class="btn-radius-lg"><img src="/images/icon-back.svg" alt="">參加活動</a>
    </div>


</div>