<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "units/eventpage" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "units/event" %>
<script>
function popFailed(){
    POPMsg.popupClose();
    var popupContent = $("#popFailed").html();
    POPMsg.popup(popupContent);
    POPMsg.popupOpen();
};
// popFailed();

function popSuccess(){
    POPMsg.popupClose();
    var popupContent = $("#popSuccess").html();
    POPMsg.popup(popupContent);
    POPMsg.popupOpen();
};
// popSuccess();
</script>
<% end %>
<% @page = "event" %>
<% @step = "2" %>
<div class="inner eventpage-inner step-<%=@step%>">
    
  <div class="col-left">
    <!-- left -->
    <div class="inner">
    <img src="/images/img-title-event.png" class="title on-desk" alt="">
    <img src="/images/img-title-event-m.png" class="title on-mobile" alt="">
      <p>
        活動期間內登入個人FB參加「Desire真心話」活動，上傳並製作馬賽克照片，以「Always______」造句留言，並加上hashtag『#Always享樂其中』發佈到個人塗鴉牆並設定公開，就有機會抽中<strong>五感享樂獎</strong>。
      </p>
      <div class="img-wrap">       
        <img src="/images/img-gifts01.png" alt="">
        <img src="/images/img-gifts02.png" alt="">
        <img src="/images/img-gifts03.png" alt="">
        <img src="/images/img-gifts04.png" alt="">
        <img src="/images/img-gifts05.png" alt="">
        <img src="/images/img-gifts06.png" alt="">
        <img src="/images/img-gifts07.png" alt="">
        <p>圖片僅供參考，獎品之規格、內容以實物為準</p>
      </div>
    </div>
  </div>
  <div class="col-right">
    <!-- right -->
    <div class="inner">
      <p>填寫資料立即參加抽獎</p>
<!--       <div class="frame">
        <img src="https://dummyimage.com/1200x628/bbb/fff&text=1200x628mosaicImg" alt="" style="max-width:100%;">
        <div class="frame-bottom"></div>
        </div>
        <img src="/images/img-frame-shadow.png" alt="" class="shadow"> -->
        <form action="">
          <div class="form-block"><label for=="name" >姓名</label><input name="name" type="text"></div>
          <div class="form-block"><label for="tel" >電話</label><input name="tel" type="text"></div>
          <div class="form-block"><label for="email" >Email</label><input name="email" type="text"></div>
          <div class="form-block"><label for="address" >地址</label><input name="address" type="text"></div>
          <h5>
            <label class="checkbox-wrap">
              <input type="checkbox" class="agree">
              <i></i>
              <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
            </label>
            我同意【本活動蒐集個人資料之各款事項】          
          </h5>
          <div class="rule">
            依個人資料保護法規範，參與本活動之網友(當事人)請閱讀以下法定事項，需先同意宏亞食品股份有限公司蒐集、處理及利用您之下列個人資料，即可參與本活動。<br>
            蒐集公司名稱：宏亞食品股份有限公司<br>
            蒐集目的：參與「Desire真心話」網路活動<br>
            個人資料類別：FB帳戶、姓名、手機、地址、email、個人資料利用即為本活動期間2016年10月29日至2016年11月30日止、報稅資料、身份證件核對，供宏亞食品股份有限公司以電話、email等方式進行實體活動參加、贈品寄送聯絡等事宜。<br>
          </div>
        </form>
      <!-- 成功：popSuccess() / 失敗：popFailed() -->
      <a class="btn-radius-lg" onclick="popSuccess();"><img src="/images/icon-mail.svg" alt="">送出參加抽獎</a>
    </div>
  </div>

</div>


<div id="popFailed" style="display: none;">
  
  <div class="result-wrap">
        <div class="frame">
          <img class="logo" src="/images/logo-always.svg" alt="">
          <div class="canvas-outer">
            <img src="https://dummyimage.com/1200x628/bbb/fff&text=1200x628mosaicImg" alt="客製馬賽克圖片">
          </div>
          <img src="/images/img-frame-deco.png" class="frame-deco style-abs" alt="">
          <p class="helper">分享失敗，請稍候再試</p>
          <img src="/images/img-frame-deco.png" class="frame-deco style-btm" alt="">
        </div>

        <a class="btn-radius-lg"><img src="/images/icon-back.svg" alt="">返回</a>
  </div>

</div>


<div id="popSuccess" style="display: none;">

  <div class="result-wrap">
        <div class="frame">
          <img class="logo" src="/images/logo-always.svg" alt="">
          <img src="https://dummyimage.com/1200x628/bbb/fff&text=1200x628mosaicImg" alt="分享失敗">
          <div class="frame-bottom">
            <img src="/images/img-frame-deco.png" class="frame-deco style-abs" alt="">
            <p class="helper">分享成功，祝你得獎！</p>
            <img src="/images/img-frame-deco.png" class="frame-deco style-rel" alt="">
            <!-- <p>Always</p> -->
            <!-- <p class="msg">恭喜分享成功，祝你得獎！</p> -->
          </div>
        </div>

        <a href="/views/index/" class="btn-radius-lg"><img src="/images/icon-back.svg" alt="">返回</a>
  </div>

</div>