<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "units/eventpage" %>
<% end %>
<% content_for :specific_javascript do %>
<%#= javascript_include_tag "vendors/jquery.cropit" %>
<%#= javascript_include_tag "vendors/interact" %>
<%#= javascript_include_tag "vendors/pixelate" %>
<%= javascript_include_tag "units/event" %>
<script>
  // var x = document.cookie; 
  // window.alert(x);
</script>
<% end %>
<% @page = "event" %>
<% @step = "1" %>
<div class="inner eventpage-inner step-<%=@step%>">
    
  <div class="col-left">
    <!-- left -->
    <div class="inner">
      <img src="/images/img-title-event.png" class="title on-desk" alt="">
      <img src="/images/img-title-event-m.png" class="title on-mobile" alt="">
      <p>
        活動期間內登入個人FB參加「Desire真心話」活動，上傳並製作馬賽克照片，以「Always______」造句留言，並加上hashtag『#Always享樂其中』發佈到個人塗鴉牆並設定公開，就有機會抽中<strong>五感享樂獎</strong>。
      </p>
      <div class="img-wrap">       
        <img src="/images/img-gifts01.png" alt="">
        <img src="/images/img-gifts02.png" alt="">
        <img src="/images/img-gifts03.png" alt="">
        <img src="/images/img-gifts04.png" alt="">
        <img src="/images/img-gifts05.png" alt="">
        <img src="/images/img-gifts06.png" alt="">
        <img src="/images/img-gifts07.png" alt="">
        <p>圖片僅供參考，獎品之規格、內容以實物為準</p>
      </div>
    </div>
  </div>
  <div class="col-right">
    <!-- right -->
    <div class="inner">
      <p>造句留言「Always＿＿＿＿」，加上hashtag『#Always享樂其中』<small>（Safari使用者，請至『設定>Safari』關閉『阻擋彈出式視窗』選項。）</small></p>
      <div class="frame">
        <img class="logo" src="/images/logo-always.svg" alt="">
        <img src="https://dummyimage.com/1200x628/bbb/fff&text=1200x628mosaicImg" alt="" style="max-width:100%;">
        <div class="frame-bottom">
          <img src="/images/img-frame-deco.png" class="frame-deco style-abs" alt="">
          <p>Always</p>
          <input type="text" name="always" placeholder="輸入FB造句留言....">
          <img src="/images/img-frame-deco.png" class="frame-deco style-btm" alt="">
        </div>
        <!-- <div class="photo"> -->
        </div>
        <img src="/images/img-frame-shadow.png" alt="" class="shadow">
      </div>

      <a href="step2.html" class="btn-radius-lg"><img src="/images/icon-fb-o.svg" alt="">TAG好友分享</a>
    </div>
  </div>

</div>